# 기본환경구축
import numpy as np
import pandas as pd
#from pandas import Series,DataFrame 이라는 문장을통해서
#명시적으로 Series와 DataFrame객체를 임포트 할 수 있게 된다.
#그러면 pd.이라는 접두사를 사용하지 않아도 참조할 수 있게 되므로 약간의 타이핑을
#줄이는 효과적인 방법이다.
import datetime
from datetime import datetime, date
#시계열 데이터를 다룰 때 흔히 사용되므로 모든 노트북에 포함시키게 될 라이브러리.
pd.set_option('display.notebook_repr_html', False)
#Series와 DataFrame의 출력을 HTML이 아닌 텍스트로 렌더링하게 설정하였다.
pd.set_option('display.max_columns',7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)
#칼럼과 로우의 최대 크기를 지정하고, 하나의 로우에 최대 몇글자를 보여줄지 설정 하였다.
import matplotlib.pyplot as plt
%matplotlib inline

# 기본환경 구축

# Series는 pandas의 기본 데이터 구조이다.
Numpy에서의 배열과 비슷하지만, 인덱스를 갖는다는 점에서 다르다.

In [ ]:
s= pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

# []에 레이블을 전달해 접근하기.

In [ ]:
s[[1,2]]

1    2
2    3
dtype: int64

In [ ]:
s[1:2]

1    2
dtype: int64

# index가 문자열로된 Series 객체를 만드는 예시

In [ ]:
s= pd.Series([1,2,3,4], index=['a','b','c','d'])
s

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
s[[1,2,]]

b    2
c    3
dtype: int64

In [ ]:
s[['a','b']]

a    1
b    2
dtype: int64

In [ ]:
#index 속성확인
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

# pd.date_range()함수를 이용해 날짜 범위 만들기

In [ ]:
s=pd.date_range('2016-04-01','2016-04-06')
s
#DatetimeIndex를 갖는 이와 같은 유형의 시리즈를 시계열이라고 한다.

DatetimeIndex(['2016-04-01', '2016-04-02', '2016-04-03',
               '2016-04-04', '2016-04-05', '2016-04-06'],
              dtype='datetime64[ns]', freq='D')

# 위의 생성된 인덱스를 이용하여 Series 만들어보기

In [ ]:
temps1=pd.Series([80,82,85,90,83,87],index=s)
temps1

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, dtype: int64

In [ ]:
temps1['2016-04-04']
#특정 날짜를 나타내는 문자열을 사용해 최고 기온을 조회할 수 있다.

90

In [ ]:
temps2=pd.Series([70,75,69,83,79,77],index=s)
temp_diffs=temps1-temps2
temp_diffs

2016-04-01    10
2016-04-02     7
2016-04-03    16
2016-04-04     7
2016-04-05     4
2016-04-06    10
Freq: D, dtype: int64

In [ ]:
#제로베이스 방법으로 값을 찾기
temp_diffs[2]

16

In [ ]:
temp_diffs['2016-04-03']

16

# pandas를 이용한 다수의 기술통계 메서드

In [ ]:
temp_diffs.mean()

9.0

# pandas DataFrame
pandas의 Series는 각 인덱스 레이블당 하나의 값만 가질 수 있다.

하지만 데이터프레임을 사용하면 인덱스 레이블당
복수의 값을 가질 수 있다.

데이터 프레임은 인덱스 레이블을 기준으로 배열된 하나 이상의 Series를 나타낸다.

각 Series는 데이터프레임의 칼럼이 되며, 각 칼럼은 하나의 이름을 가진다.

In [ ]:
temps_df=pd.DataFrame({'Missoula': temps1, 'Philadelphia' : temps2})
temps_df

            Missoula  Philadelphia
2016-04-01        80            70
2016-04-02        82            75
2016-04-03        85            69
2016-04-04        90            83
2016-04-05        83            79
2016-04-06        87            77

In [ ]:
temps_df['Missoula']

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, Name: Missoula, dtype: int64

temps_df['2016-04-03']
이건 에러가 뜬다 왜??

DataFrame의 []연산자에 이름 목록을 전달하면 복수의 칼럼을 가져온다.

Series의 경우엔 복수의 로우를 반환한다는 차이가 있다.

In [ ]:
#리스트로 검색하기.
temps_df[['Missoula','Philadelphia']]

            Missoula  Philadelphia
2016-04-01        80            70
2016-04-02        82            75
2016-04-03        85            69
2016-04-04        90            83
2016-04-05        83            79
2016-04-06        87            77

In [ ]:
#칼럼의 이름에 공백이 없을경우 속성으로 표기하는 방법
temps_df.Missoula

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, Name: Missoula, dtype: int64

In [ ]:
#두 칼럼사이의 기온 차를 계산하는 코드
temps_df.Missoula-temps_df.Philadelphia

2016-04-01    10
2016-04-02     7
2016-04-03    16
2016-04-04     7
2016-04-05     4
2016-04-06    10
Freq: D, dtype: int64

# DataFrame에 새 칼럼을 추가하는 코드

In [ ]:
temps_df['Difference']=temp_diffs
temps_df

            Missoula  Philadelphia  Difference
2016-04-01        80            70          10
2016-04-02        82            75           7
2016-04-03        85            69          16
2016-04-04        90            83           7
2016-04-05        83            79           4
2016-04-06        87            77          10

In [ ]:
#columns 메서드로 칼럼명 검색하기
temps_df.columns

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [ ]:
#특정 로우만 검색하기
temps_df.Difference[1:4]

2016-04-02     7
2016-04-03    16
2016-04-04     7
Freq: D, Name: Difference, dtype: int64

# 전체 칼럼에 있어서의 특정 로우 데이터 검색하기
.loc 는 인덱스 레이블을 사용해 검색한다.

.iloc 는 제로베이스 위치를 사용해 검색한다.

In [ ]:
temps_df.iloc[1]

Missoula        82
Philadelphia    75
Difference       7
Name: 2016-04-02 00:00:00, dtype: int64

In [ ]:
temps_df.iloc[1].index
#2번째 줄에 있는 요소들의 인덱스 확인

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [ ]:
temps_df.loc['2016-04-05']

Missoula        83
Philadelphia    79
Difference       4
Name: 2016-04-05 00:00:00, dtype: int64

In [ ]:
#특정 칼럼의 특정 위치의 값을 검색하는 코드
temps_df.Difference.iloc[[1,3,5]]
#순서 바뀌어도 무방하다.

2016-04-02     7
2016-04-04     7
2016-04-06    10
Freq: 2D, Name: Difference, dtype: int64

# 논리식에 기초하여 로우 데이터를 탐색하기
## 불리언 선택

In [ ]:
temps_df.Missoula>82

2016-04-01    False
2016-04-02    False
2016-04-03     True
2016-04-04     True
2016-04-05     True
2016-04-06     True
Freq: D, Name: Missoula, dtype: bool

In [ ]:
#조건에 맞는 값만 반환하기
temps_df[temps_df.Missoula>82]

            Missoula  Philadelphia  Difference
2016-04-03        85            69          16
2016-04-04        90            83           7
2016-04-05        83            79           4
2016-04-06        87            77          10

# 정리
## Series 에서는 []로 열, 행 모두 접근 가능
## DataFrame 에서는 []로는 열에만 접근하고 .iloc나 .loc로 행에만 접근 가능

# Making Series

In [ ]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, date
import matplotlib.pyplot as plt
%matplotlib inline
s=pd.Series([10,11,12,13,14])
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [ ]:
s[3]

13

In [ ]:
pd.Series(list('abcde'))

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
pd.Series({'Mike' : 'Dad', 'Marcia' : 'Mom'})

Mike      Dad
Marcia    Mom
dtype: object

In [ ]:
pd.Series(np.arange(4,9))

0    4
1    5
2    6
3    7
4    8
dtype: int64

In [ ]:
pd.Series(np.linspace(0,9,5))

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

# when generate the random number

In [ ]:
np.random.seed(12345)
pd.Series(np.random.normal(size=5))
#it followed the normal distribution in size 5

0   -0.204708
1    0.478943
2   -0.519439
3   -0.555730
4    1.965781
dtype: float64

# Values method has access for figuring out the database

In [ ]:
s=pd.Series([1,2,3])
s.values

array([1, 2, 3])

# head, tail, take

In [ ]:
s= pd.Series(np.arange(1,10), index=['a','b','c','d','e','f','g','h','i'])
s

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [ ]:
s.head()

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
s.tail()

e    5
f    6
g    7
h    8
i    9
dtype: int64

In [ ]:
s.head(5)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
s.take([1,3,5])

b    2
d    4
f    6
dtype: int64

# Search for label with [], .ix[]

In [ ]:
s['a']

1

In [ ]:
s[['a','b']]

a    1
b    2
dtype: int64

# In fact, [] and .ix[] are not using currently.

so, it's recommended to use .iloc or .loc

In [ ]:
s.iloc[[0,2]]

a    1
c    3
dtype: int64

In [ ]:
s.loc[['a','b']]

a    1
b    2
dtype: int64

# pandas Series supports the function 'slicing', it is the strong way of extracting subset from dataset

In [ ]:
s=pd.Series(np.arange(100,110), index=np.arange(10,20))
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int64

In [ ]:
s[1:6]

11    101
12    102
13    103
14    104
15    105
dtype: int64

In [ ]:
s.iloc[[1,2,3,4,5,6]]

11    101
12    102
13    103
14    104
15    105
16    106
dtype: int64

In [ ]:
s[1:6:2]

11    101
13    103
15    105
dtype: int64

In [ ]:
s[:5]
#it is same head

10    100
11    101
12    102
13    103
14    104
dtype: int64

In [ ]:
s[4:]

14    104
15    105
16    106
17    107
18    108
19    109
dtype: int64

In [ ]:
s[::-1]
#reverse

19    109
18    108
17    107
16    106
15    105
14    104
13    103
12    102
11    101
10    100
dtype: int64

In [ ]:
s[-4:]
#showing last fourth

16    106
17    107
18    108
19    109
dtype: int64

In [ ]:
s[:-4]
#showing without last fourth

10    100
11    101
12    102
13    103
14    104
15    105
dtype: int64

# Index slicing

In [ ]:
s=pd.Series(np.arange(0,5), index=['a','b','c','d','e'])
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [ ]:
s[1:3]

b    1
c    2
dtype: int64

In [ ]:
s['b':'d']

b    1
c    2
d    3
dtype: int64

# bullian select

In [ ]:
s=pd.Series(np.arange(0,5),index=list('abcde'))
logical_results =s >=3
logical_results

a    False
b    False
c    False
d     True
e     True
dtype: bool

In [ ]:
s[logical_results]

d    3
e    4
dtype: int64

In [ ]:
s[s>5]

Series([], dtype: int64)

In [ ]:
s[s>1]

c    2
d    3
e    4
dtype: int64

# When find the particular value

In [ ]:
s[(s>=2) & (s<5)]

c    2
d    3
e    4
dtype: int64

# Cheking all conditions about values

In [ ]:
(s>=0).all()

True

In [ ]:
s[s<2].any()

True

In [ ]:
(s<2).any()

True

In [ ]:
s>3

a    False
b    False
c    False
d    False
e     True
dtype: bool

In [ ]:
print(s[s>3])

e    4
dtype: int64

# .sum() method can know the number of conditioned items

In [ ]:
s[s<2].sum()
#why it is difference?

1

In [ ]:
(s<2).sum()

2

In [ ]:
s[s<2]

a    0
b    1
dtype: int64

In [ ]:
a=pd.Series(np.arange(1,10), index=list('abcdefghi'))
a

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [ ]:
a[a<3]

a    1
b    2
dtype: int64

In [ ]:
(a<3)

a     True
b     True
c    False
d    False
e    False
f    False
g    False
h    False
i    False
dtype: bool

In [ ]:
a[a<3].sum()

3

In [ ]:
(a<3).sum()

2

# The reason of diffrence between a[a<3] and (a<3) is a[a<3] retruns values otherwise, (a<3) returns only 0 or 1 like True, False

# Re-indexing

rearranging some datas
if hasn't been existed data then it fill out the 'NaN'

In [2]:
import pandas as pd
import numpy as np
np.random.seed(123456)
s=pd.Series(np.random.randn(5))
s

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
dtype: float64

In [6]:
np.random.seed(123456)
s1=pd.Series(np.random.randn(4),['a','b','c','d'])
s1

a    0.469112
b   -0.282863
c   -1.509059
d   -1.135632
dtype: float64

In [7]:
s2=s1.reindex(['a','b','g'])
s2

a    0.469112
b   -0.282863
g         NaN
dtype: float64

# .reindex() method is jsut copy of Series not in-place modification

In [9]:
s1= pd.Series([0,1,2], index=[0,1,2])
s2= pd.Series([3,4,5], index=['0','1','2'])
s1+s2
#becaus data types are not same each other, so the result shows NaN

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [11]:
s2.index=s2.index.values.astype(int)
s1+s2

0    3
1    5
2    7
dtype: int64

In [13]:
#how to change the NaN value to 0 or something 
s2=s.copy()
s2.reindex(['a','f'], fill_value=0)

a    0.0
f    0.0
dtype: float64

# Forward filling

In [14]:
s3 = pd.Series(['red','green','blue'], index=[0,3,5])
s3

0      red
3    green
5     blue
dtype: object

In [15]:
s3.reindex(np.arange(0,7), method='ffill')

0      red
1      red
2      red
3    green
4    green
5     blue
6     blue
dtype: object

In [20]:
#backward filling
s3.reindex(np.arange(0,7), method='bfill')
#previous label has not any values so, no.6 is NaN

0      red
1    green
2    green
3    green
4     blue
5     blue
6      NaN
dtype: object

# add, modify, delete

In [22]:
np.random.seed(123456789)
s=pd.Series(np.random.randn(3), index=['a','b','c'])
s

a    2.212902
b    2.128398
c    1.841711
dtype: float64

In [23]:
#modify
s['d']=100
s

a      2.212902
b      2.128398
c      1.841711
d    100.000000
dtype: float64

In [24]:
#del
del(s['a'])
s

b      2.128398
c      1.841711
d    100.000000
dtype: float64

# Chapter 4. how to express data with DataFrame

In [26]:
#import numpy and pandas
import numpy as np
import pandas as pd

#used for dates
import datetime
from datetime import datetime, date

#set som pandas options controlling output format
#but i don't use it

#bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
pd.DataFrame(np.arange(1,6))

   0
0  1
1  2
2  3
3  4
4  5

In [29]:
df=pd.DataFrame(np.array([[10,11],[20,21]]))
df

    0   1
0  10  11
1  20  21

In [30]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [31]:
df=pd.DataFrame(np.array([[70,71],[90,91]]), columns=['Missoula','Philadelphia'])
df

   Missoula  Philadelphia
0        70            71
1        90            91

In [32]:
#checking the number of DataFrame row
len(df)

2

In [33]:
#checking the dimention of DataFrame
df.shape

(2, 2)

In [34]:
#making DataFrame with Python dictionary and pandas Series
temps_missoula = [70,71]
temps_philly = [90,91]
temperatures = { 'Missoula' : temps_missoula, 'Philadelphia' : temps_philly}
pd.DataFrame(temperatures)

   Missoula  Philadelphia
0        70            90
1        71            91

In [35]:
temps_at_time0=pd.Series([70,90])
temps_at_time1=pd.Series([71,91])
df=pd.DataFrame([temps_at_time0, temps_at_time1])
df

    0   1
0  70  90
1  71  91

In [36]:
df=pd.DataFrame([temps_at_time0, temps_at_time1], columns=['Missoula','Philadelphia'])
df
# when the result appear at NaN, then there are two ways to solve this problem

   Missoula  Philadelphia
0       NaN           NaN
1       NaN           NaN

In [37]:
#designating the column name with .columns method
df= pd.DataFrame([temps_at_time0, temps_at_time1])
df.columns = ['Missoula', 'Philadelphia']
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [39]:
#Using the python dictionary
temps_mso_series=pd.Series(temps_missoula)
temps_phl_series=pd.Series(temps_philly)
df=pd.DataFrame({'Missoula' : temps_mso_series, 'Philadelphia' : temps_phl_series})
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [40]:
#add another city
temps_nyc_series=pd.Series([85,87], index=[1,2])
df= pd.DataFrame({'Missoula' : temps_mso_series, 'Philadelphia' : temps_phl_series,'New York' : temps_nyc_series})
df

   Missoula  Philadelphia  New York
0      70.0          90.0       NaN
1      71.0          91.0      85.0
2       NaN           NaN      87.0

In [41]:
df.Missoula.iloc[1]

71.0

In [42]:
df.iloc[1]

Missoula        71.0
Philadelphia    91.0
New York        85.0
Name: 1, dtype: float64

In [44]:
df.Missoula.loc[1]

71.0