<a href="https://colab.research.google.com/github/Ash-Stat/An-Si-Hyun/blob/master/python%20practice_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#append(요소)는 전달한 요소를 리스트의 끝에 덧붙여 추가한다.
#insert(삽입할 위치,요소)는 요소를 삽입할 위치에 삽입한다.
nums=[1,2,3,4]
nums.append(5)
nums.insert(2,99)
nums

[1, 2, 99, 3, 4, 5]

In [ ]:
nums=[1,2,3,4]
nums[2:2]=[90,91,92]
nums
#2번째 자리에서 2번째 자리까지, 끝의 순서는 생략되므로 즉 이동할 거리는 0이다.
#따라서 2번째 자리 위치에 90,91,92를 추가하라는 것과 같다.

[1, 2, 90, 91, 92, 4]

In [ ]:
nums=[1,2,3,4]
nums[2:3]=[90,91,92]
nums
#2번째 자리부터 세번째 자리까지 90 91 92를 추가하는 것 이다. 따라서
#3이라는 요소 대신 1,2,90,91,92,4가 출력된다.

[1, 2, 90, 91, 92, 4]

In [ ]:
nums=[1,2,3,4]
nums[2]=[90,91,92]
nums
#2번째 요소값이 길이 3의 리스트로 대체된다.

[1, 2, [90, 91, 92], 4]

In [ ]:
list1=[1,2,3,4,5]
list2=[10,11]
list1.extend(list2)
list1
#리스트끼리 병합할때는 extend 메서드를 쓴다.

[1, 2, 3, 4, 5, 10, 11]

In [ ]:
list3=[1,2,3]
list4=[5,6]
list5=list3+list4
list5
#즉, +와 extend의 근본적 차이는
# +의 경우는 list1의 값을 근본적으로 변화시키지 않고 새로운 list5라는 리스트를 만들어 낸다.
# extend의 경우는 list1의 값을 근본적으로 변화시킨다.

[1, 2, 3, 5, 6]

In [ ]:
score=[88,95,70,100,99,80,78,50]
score.remove(100)
#리스트 요소중에서 100을 삭제시킨다.
#만약 요소값이 2개이상이면 처음 발견한 값을 삭제 시킨다.
print(score)

[88, 95, 70, 99, 80, 78, 50]

In [ ]:
del(score[2])
#리스트 요소중에서 3번째 요소(70)을 삭제 시키는 명령문
#del score[2]도 가능하다.
score

[88, 95, 99, 80, 78, 50]

In [ ]:
score[1:4]=[]
score
#리스트 요소중에서 2번째 부터 4번째 값(95,99,80)을 빈칸으로 만든다. 즉, 삭제시킨다.

[88, 78, 50]

In [ ]:
score=[1,2,3,4,5]
score.pop()
#pop은 삭제한 요소를 꺼내 리턴시킨다. 첨자를 사용하여 지울 대상을 정한다.
#공란이라면 디폴트 값은 -1 (맨 끝자리) 이다.

5

In [ ]:
score.pop(-1)
#위의 명령문으로 5가 삭제되었으니 마지막 순서인 4가 없어지면서 리턴된 결과값

4

In [ ]:
score.pop(0)
score
#나머지 값인 1,2,3 중에서 두번째 값을 날려버리고 score을 출력헀으니 1,3이 남는다.
#계속 실행하면 점점 지워져서 빈칸이 된다.

[]

## 검색

In [ ]:
score=[88,95,70,100,99,80,78,50]
perfect=score.index(100)
print('만점 받은 학생은',''+str(perfect)+'번 입니다.')
#index메서드로 100의 요소를 가진 위치를 찾는다.
#str(변수)를 통해 문자열화 시킨다.

만점 받은 학생은 3번 입니다.

In [ ]:
str(perfect)

'3'

In [ ]:
print('만점 받은 학생은',str(perfect),'번 입니다.')
# +기호 대신 ,로 이렇게 구분해도 똑같다.

만점 받은 학생은 3 번 입니다.

In [ ]:
pernum=score.count(100)
print('만점자 수는',str(pernum),'명 입니다.')

만점자 수는 1 명 입니다.

In [ ]:
score=[88,95,70,100,99,80,78,50]
print('학생 수는 %d명 입니다.' % len(score))
print('최고 점수는 %d점 입니다.' % max(score))
print('최저 점수는 %d점 입니다.' % min(score))
#print('%연산자' % len,max,min(요소))

학생 수는 8명 입니다.
최고 점수는 100점 입니다.
최저 점수는 50점 입니다.

In [ ]:
#요소가 있는지 검사할때 in 또는 not in을 사용한다.
ans=input('결제 하시겠습니까? (yes or not)')
if ans in ['yes','y','ok','예','당근']:
    print('구입해 주셔서 감사합니다.')
else:
    print('다음에 또 방문해 주세요.')

결제 하시겠습니까? (yes or not)ㄴㄴ
다음에 또 방문해 주세요.

In [1]:
ans=input('do you have a girl friend?')
if ans in ['yes','y','ok','예','당근']:
  print('Awesome!')
else:
  print('Oh...Im sorry')

do you have a girl friend?ㄴㄴ
Oh...Im sorry

In [3]:
#sort method arranges the list. In this process, values are arranged 
#reverse method reverses the order of values.
score = [88,95,70,100,99]
score.sort()
print(score)
score.reverse()
print(score)

[70, 88, 95, 99, 100]
[100, 99, 95, 88, 70]

In [7]:
#Using the method of sort and reverse
score=[4,2,3,5,6,1,8]
score.sort(reverse=True)
print(score)

[8, 6, 5, 4, 3, 2, 1]

In [8]:
score.sort()
print(score)

[1, 2, 3, 4, 5, 6, 8]

In [9]:
#key is fuction what compares in sorting the values
country = ['Korea','japan','CHINA','america']
country.sort()
print(country)
country.sort(key=str.lower)
print(country)
# it was changed when use the key not itself

['CHINA', 'Korea', 'america', 'japan']
['america', 'CHINA', 'japan', 'Korea']

In [10]:
#sorted method is same the sort method but it doesn't change itself, but makes new list by returning
score=[88,95,70,100,99]
score2=sorted(score)
print(score)
print(score2)

[88, 95, 70, 100, 99]
[70, 88, 95, 99, 100]

In [12]:
#tuple is like list, but it doesn't edit after coding
#so tuple is called 'number list' and use (), not []
score=(88,95,70,100,99)
sum=0
for s in score:
  sum +=s
print('total : ', sum)
print('average : ', sum/len(score))

total :  452
average :  90.4

In [13]:
#when use only one tuple, it must be appeard by comma
#because for distinguishing other values
tu=2,
value=2
print(tu)
print(value)
#2, means tuple which has one value

(2,)
2

In [14]:
#Reading tuple
tu=1,2,3,4,5
print(tu[3])
print(tu[1:4])
print(tu + (6,7))
print(tu*2)

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [16]:
#when combinate tuple and tuple
tu='ash','garen','riven'
frellyord,demasia,exile=tu
print(frellyord)
print(demasia)
print(exile)

ash
garen
riven

In [17]:
a,b=12,34
print(a,b)
a,b=b,a
print(a,b)

12 34
34 12

In [26]:
import time
def gettime():
  now = time.localtime()
  return now.tm_hour, now.tm_min

result=gettime()
print('time is %d : %d' % (result[0],result[1]))

time is 11 : 53

In [27]:
#divmod function returns the result of quotient and remainder in tuple
d,m=divmod(7,3)
print('quotient is', d)
print('remainder is ', m)

quotient is 2
remainder is  1

In [29]:
#why use the tuple?
#in fact, list have an all function of tuple. but list is changeable. thus it takes more memories and slow speed than tuple
#tuple is unchangeable. so tuple is more simple and has fast speed in reading than list
#also tuple is safe because of uneditable feature that makes no mistakes
#the method of converting tuple to list or otherwise
socre=[88,95,70,100,99]
tu=tuple(score)
print(tu)
li=list(tu)
li[0]=100
print(li)

(88, 95, 70, 100, 99)
[100, 95, 70, 100, 99]