<a href="https://colab.research.google.com/github/Ash-Stat/An-Si-Hyun/blob/master/python%20practice_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#append(요소)는 전달한 요소를 리스트의 끝에 덧붙여 추가한다.
#insert(삽입할 위치,요소)는 요소를 삽입할 위치에 삽입한다.
nums=[1,2,3,4]
nums.append(5)
nums.insert(2,99)
nums

[1, 2, 99, 3, 4, 5]

In [ ]:
nums=[1,2,3,4]
nums[2:2]=[90,91,92]
nums
#2번째 자리에서 2번째 자리까지, 끝의 순서는 생략되므로 즉 이동할 거리는 0이다.
#따라서 2번째 자리 위치에 90,91,92를 추가하라는 것과 같다.

[1, 2, 90, 91, 92, 4]

In [ ]:
nums=[1,2,3,4]
nums[2:3]=[90,91,92]
nums
#2번째 자리부터 세번째 자리까지 90 91 92를 추가하는 것 이다. 따라서
#3이라는 요소 대신 1,2,90,91,92,4가 출력된다.

[1, 2, 90, 91, 92, 4]

In [ ]:
nums=[1,2,3,4]
nums[2]=[90,91,92]
nums
#2번째 요소값이 길이 3의 리스트로 대체된다.

[1, 2, [90, 91, 92], 4]

In [ ]:
list1=[1,2,3,4,5]
list2=[10,11]
list1.extend(list2)
list1
#리스트끼리 병합할때는 extend 메서드를 쓴다.

[1, 2, 3, 4, 5, 10, 11]

In [ ]:
list3=[1,2,3]
list4=[5,6]
list5=list3+list4
list5
#즉, +와 extend의 근본적 차이는
# +의 경우는 list1의 값을 근본적으로 변화시키지 않고 새로운 list5라는 리스트를 만들어 낸다.
# extend의 경우는 list1의 값을 근본적으로 변화시킨다.

[1, 2, 3, 5, 6]

In [ ]:
score=[88,95,70,100,99,80,78,50]
score.remove(100)
#리스트 요소중에서 100을 삭제시킨다.
#만약 요소값이 2개이상이면 처음 발견한 값을 삭제 시킨다.
print(score)

[88, 95, 70, 99, 80, 78, 50]

In [ ]:
del(score[2])
#리스트 요소중에서 3번째 요소(70)을 삭제 시키는 명령문
#del score[2]도 가능하다.
score

[88, 95, 99, 80, 78, 50]

In [ ]:
score[1:4]=[]
score
#리스트 요소중에서 2번째 부터 4번째 값(95,99,80)을 빈칸으로 만든다. 즉, 삭제시킨다.

[88, 78, 50]

In [ ]:
score=[1,2,3,4,5]
score.pop()
#pop은 삭제한 요소를 꺼내 리턴시킨다. 첨자를 사용하여 지울 대상을 정한다.
#공란이라면 디폴트 값은 -1 (맨 끝자리) 이다.

5

In [ ]:
score.pop(-1)
#위의 명령문으로 5가 삭제되었으니 마지막 순서인 4가 없어지면서 리턴된 결과값

4

In [ ]:
score.pop(0)
score
#나머지 값인 1,2,3 중에서 두번째 값을 날려버리고 score을 출력헀으니 1,3이 남는다.
#계속 실행하면 점점 지워져서 빈칸이 된다.

[]

## 검색

In [ ]:
score=[88,95,70,100,99,80,78,50]
perfect=score.index(100)
print('만점 받은 학생은',''+str(perfect)+'번 입니다.')
#index메서드로 100의 요소를 가진 위치를 찾는다.
#str(변수)를 통해 문자열화 시킨다.

만점 받은 학생은 3번 입니다.

In [ ]:
str(perfect)

'3'

In [ ]:
print('만점 받은 학생은',str(perfect),'번 입니다.')
# +기호 대신 ,로 이렇게 구분해도 똑같다.

만점 받은 학생은 3 번 입니다.

In [ ]:
pernum=score.count(100)
print('만점자 수는',str(pernum),'명 입니다.')

만점자 수는 1 명 입니다.

In [ ]:
score=[88,95,70,100,99,80,78,50]
print('학생 수는 %d명 입니다.' % len(score))
print('최고 점수는 %d점 입니다.' % max(score))
print('최저 점수는 %d점 입니다.' % min(score))
#print('%연산자' % len,max,min(요소))

학생 수는 8명 입니다.
최고 점수는 100점 입니다.
최저 점수는 50점 입니다.

In [ ]:
#요소가 있는지 검사할때 in 또는 not in을 사용한다.
ans=input('결제 하시겠습니까? (yes or not)')
if ans in ['yes','y','ok','예','당근']:
    print('구입해 주셔서 감사합니다.')
else:
    print('다음에 또 방문해 주세요.')

결제 하시겠습니까? (yes or not)ㄴㄴ
다음에 또 방문해 주세요.

In [ ]:
ans=input('do you have a girl friend?')
if ans in ['yes','y','ok','예','당근']:
  print('Awesome!')
else:
  print('Oh...Im sorry')

do you have a girl friend?ㄴㄴ
Oh...Im sorry

In [ ]:
#sort method arranges the list. In this process, values are arranged 
#reverse method reverses the order of values.
score = [88,95,70,100,99]
score.sort()
print(score)
score.reverse()
print(score)

[70, 88, 95, 99, 100]
[100, 99, 95, 88, 70]

In [ ]:
#Using the method of sort and reverse
score=[4,2,3,5,6,1,8]
score.sort(reverse=True)
print(score)

[8, 6, 5, 4, 3, 2, 1]

In [ ]:
score.sort()
print(score)

[1, 2, 3, 4, 5, 6, 8]

In [ ]:
#key is fuction what compares in sorting the values
country = ['Korea','japan','CHINA','america']
country.sort()
print(country)
country.sort(key=str.lower)
print(country)
# it was changed when use the key not itself

['CHINA', 'Korea', 'america', 'japan']
['america', 'CHINA', 'japan', 'Korea']

In [ ]:
#sorted method is same the sort method but it doesn't change itself, but makes new list by returning
score=[88,95,70,100,99]
score2=sorted(score)
print(score)
print(score2)

[88, 95, 70, 100, 99]
[70, 88, 95, 99, 100]

In [ ]:
#tuple is like list, but it doesn't edit after coding
#so tuple is called 'number list' and use (), not []
score=(88,95,70,100,99)
sum=0
for s in score:
  sum +=s
print('total : ', sum)
print('average : ', sum/len(score))

total :  452
average :  90.4

In [ ]:
#when use only one tuple, it must be appeard by comma
#because for distinguishing other values
tu=2,
value=2
print(tu)
print(value)
#2, means tuple which has one value

(2,)
2

In [ ]:
#Reading tuple
tu=1,2,3,4,5
print(tu[3])
print(tu[1:4])
print(tu + (6,7))
print(tu*2)

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
#when combinate tuple and tuple
tu='ash','garen','riven'
frellyord,demasia,exile=tu
print(frellyord)
print(demasia)
print(exile)

ash
garen
riven

In [ ]:
a,b=12,34
print(a,b)
a,b=b,a
print(a,b)

12 34
34 12

In [ ]:
import time
def gettime():
  now = time.localtime()
  return now.tm_hour, now.tm_min

result=gettime()
print('time is %d : %d' % (result[0],result[1]))

time is 11 : 53

In [ ]:
#divmod function returns the result of quotient and remainder in tuple
d,m=divmod(7,3)
print('quotient is', d)
print('remainder is ', m)

quotient is 2
remainder is  1

In [ ]:
#why use the tuple?
#in fact, list have an all function of tuple. but list is changeable. thus it takes more memories and slow speed than tuple
#tuple is unchangeable. so tuple is more simple and has fast speed in reading than list
#also tuple is safe because of uneditable feature that makes no mistakes
#the method of converting tuple to list or otherwise
socre=[88,95,70,100,99]
tu=tuple(score)
print(tu)
li=list(tu)
li[0]=100
print(li)y

(88, 95, 70, 100, 99)
[100, 95, 70, 100, 99]

# Dictionary
Dictionary is structrue of big data that save key and pair of the values.

And it is called 'Map' because of comparing 1 on 1

When it is defined, use {} such as key : value and seperate with comma

In [ ]:
dic = {'boy' : 'ezreal', 'school' : 'academy','book':'Yumis weapon'}
print(dic)

{'boy': 'ezreal', 'school': 'academy', 'book': 'Yumis weapon'}

In [ ]:
print(dic['boy'])

ezreal

# get method
get method finds any results without error.
If get method doesn't find any result then it retrun the 'None' not error.
also, it can set default value when doesn't find with second arguement.

In [ ]:
print(dic.get('garen'))
print(dic.get('nasus', 'Not found'))

None
Not found

In [ ]:
dic = {'garen' : 'demasia','darius':'noxus','riven':'exile','nidalee':'wild'}
if 'shaco' in dic:
  print('Found')
else:
  print('Not Found')

Not Found

# Dictionary is possible to change values to other word

In [ ]:
dic['garen']='just walker'
dic['Yasuo']='insect'
del dic['nidalee']
print(dic)
#when it wasn't found something in dictionary, it is possible to add something

{'garen': 'just walker', 'darius': 'noxus', 'riven': 'exile', 'Yasuo': 'insect'}

# When delete all about dic, use the clear method.
keys method returns dict_key 

values method returns dict_values list

items method returns pair of the key and value list at tuple

In [ ]:
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['garen', 'darius', 'riven', 'Yasuo'])
dict_values(['just walker', 'noxus', 'exile', 'insect'])
dict_items([('garen', 'just walker'), ('darius', 'noxus'), ('riven', 'exile'), ('Yasuo', 'insect')])

# Update method combinates two dictionaries

In [ ]:
dic={'Top' : 'real man','Mid':'not human','Jungle':'slave','AD':'crazy man','Sup':'slave2'}
dic2={'LOL':'the game of devil','Over Watch':'trash'}
dic.update(dic2)
print(dic)

{'Top': 'real man', 'Mid': 'not human', 'Jungle': 'slave', 'AD': 'crazy man', 'Sup': 'slave2', 'LOL': 'the game of devil', 'Over Watch': 'trash'}

# The way of changing list to dictionary

In [ ]:
li = [['Top','mad man'],['Jungle','slave']]
dic=dict(li)
print(dic)
#tuple is possible too.

{'Top': 'mad man', 'Jungle': 'slave'}

# Set's definition
set is gathering of some values.

It uses {}, when it was coded.

In [ ]:
asia = {'korea','china','japan','korea'}
print(asia)
#it does not return the same value

{'korea', 'china', 'japan'}

In [ ]:
print(set('Si Hyun'))

{'S', ' ', 'y', 'H', 'u', 'n', 'i'}

In [ ]:
print(set([12,34,56,78]))

{56, 34, 12, 78}

In [ ]:
print(set({'boy':'not baby','girl':'babe'}))

{'boy', 'girl'}

In [ ]:
print(set(['asd','asdf','fdgg']))

{'fdgg', 'asdf', 'asd'}

In [ ]:
print(set(('asd','asdf','fdgg')))

{'fdgg', 'asdf', 'asd'}

# When make a empty gathering, use set() without any arguement

methods of set().

In [ ]:
#add
lol={'garen','darius','doran'}
lol.add('nidalee')
lol.remove('doran')
print(lol)

{'nidalee', 'darius', 'garen'}

In [ ]:
lol.update(['piora','illelia'])
print(lol)

{'piora', 'darius', 'illelia', 'nidalee', 'garen'}

# set calculating

plus set -> |,union

common set -> $,intersection

minus set -> -,difference

exclusive minus set -> ^,symmetric_difference

In [ ]:
twox={2,4,6,8,10,12}
threex={3,6,9,12,15}

print('plus', twox | threex)
print(twox.union(threex))

plus {2, 3, 4, 6, 8, 9, 10, 12, 15}
{2, 3, 4, 6, 8, 9, 10, 12, 15}

In [ ]:
print('common', twox & threex)
print(twox.intersection(threex))

common {12, 6}
{12, 6}

In [ ]:
print('minus',twox - threex)
print(twox.difference(threex))

minus {8, 2, 10, 4}
{8, 2, 10, 4}

In [ ]:
print('exclusive',twox ^ threex)
print(twox.symmetric_difference(threex))

exclusive {2, 3, 4, 8, 9, 10, 15}
{2, 3, 4, 8, 9, 10, 15}

In [ ]:
sset={'garen','darius','riven'}

In [ ]:
li=list(sset)
li

['riven', 'darius', 'garen']

In [ ]:
li.sort(reverse=True)
print(li)

['riven', 'garen', 'darius']

# Function for administring collection

In [8]:
score=[88,95,70,100,99]
for s in score:
  print('score :',s)

score : 88
score : 95
score : 70
score : 100
score : 99

# Enumerate
it returns order value and arguement

In [9]:
race=['Garen','Darius','Riven']
list(enumerate(race))

[(0, 'Garen'), (1, 'Darius'), (2, 'Riven')]

In [18]:
score=[88,95,70,100,99]
for no, s in enumerate(score,1):
  #becaus of [(0,88), (1,95)......]
  print('number',no,s)

number 1 88
number 2 95
number 3 70
number 4 100
number 5 99

# zip function makes one collection by combining several collentions

In [20]:
nation =['Demasia','Noxus','Ionia']
champ =['Garen','Darius','Illelia']
lol=zip(nation,champ)
for a,b in lol:
  print('%s from %s' %(b,a))

Garen from Demasia
Darius from Noxus
Illelia from Ionia

# The way of making dict

In [21]:
dict(zip(nation, champ))

{'Demasia': 'Garen', 'Ionia': 'Illelia', 'Noxus': 'Darius'}

# filter function finds only True of list arguements

first arguement indicates the condition, and second arguement indicates indicates object.

In [26]:
def flunk(s):
  return s < 60

score = [45,89,72,53,94]
for s in filter(flunk,score):
  print(s)
  #filter(condition,object)
  #The condition is to return s < 60 in range of score

45
53

# Map function makes new list is organized to new arguements

In [29]:
def half(a):
  return a/2

score=[45,89,72,53,94]
for x in map(half, score):
  print(x,end=',')

22.5,44.5,36.0,26.5,47.0,

In [31]:
def total(s,b):
  return s+b

score=[45,89,72,53,94]
bonus=[2,3,0,0,5]
for s in map(total, score, bonus):
  print(s, end=',')

47,92,72,53,99,

# lambda arguement:function, is simple function.
it does not use return.

In [37]:
lambda x:x+1
# it is same that
#def increase(x):
# return x+1

In [38]:
score = [45,89,72,53,94]
for s in filter(lambda x:x < 60, score):
  print(s)

45
53

In [39]:
score=[45,89,72,53,94]
for s in map(lambda x:x/2,score):
  print(s, end=',')

22.5,44.5,36.0,26.5,47.0,

# list copy

In [40]:
list1 = [1,2,3]
list2 = list1

list2[1] = 100
print(list1)
print(list2)

[1, 100, 3]
[1, 100, 3]

# That is the reason why we must know listcopy.

In case of list, twin list's memory are same

In [41]:
list1=[1,2,3]
list2=list1.copy()

list2[1]=100
print(list1)
print(list2)

[1, 2, 3]
[1, 100, 3]

In [43]:
list0 =['a','b']
list1 =[list0,1,2]
list2 = list1.copy()

list2[0][1]='c'
print(list1)
print(list2)

#if you change the arguements of list0 then it affects list1, list2.

# so to make perfect copy, we must use copy module, deepcopy

[['a', 'c'], 1, 2]
[['a', 'c'], 1, 2]

# Deep copy

In [44]:
import copy as cp

list0=['a','b']
list1=[list0,1,2]
list2=cp.deepcopy(list1)

list2[0][1]='c'
print(list1)
print(list2)

[['a', 'b'], 1, 2]
[['a', 'c'], 1, 2]

# Is operator

if right value is same left one, then it returns True if not False

In [45]:
list1=[1,2,3]
list2=list1
list3=list1.copy()

print('1==2', list1 is list2)
print('1==3', list1 is list3)
print('2==3', list2 is li

1==2 True
1==3 False
2==3 False

# Copy data is not same based on one, the memory is different

# Import module
module is script file written python code.

and it contains some functions, variances classes

In [1]:
import math
print(math.sqrt(2))

1.4142135623730951

import math brings every constant values and functions from module

when it is used, write the what it belongs to first.
ex)math.sqrt...

pd.Series...

# simple using

# from module import function's name

it brings certain function from module so helps using the module simply

In [2]:
from math import sqrt
print(sqrt(2))

1.4142135623730951

In [4]:
# it is possible too.
from math import sqrt as sq
print(sq(2))

1.4142135623730951

# kind of math module
pi -> 원주율 상수

tau -> pi * 2 인 상수(반지름과 원둘레의 비율)

e -> 자연 대수 상수

inf -> 무한대 값

nan -> 숫자가 아닌 값

# sincurve with turtle graphic

In [8]:
import math
import turtle as t

t.penup()
t.goto(-720,0)
t.pendown()
for x in range(-720,720):
  t.goto(x, math.sin(math.radians(x)) * 100)
t.done()

TclError: ignored

# Statistics module

mean -> 평균

harmonic_mean -> 조화 평균

median -> 중앙값, 짝수인 경우 보간 값 계산

median_low -> 중앙값, 집합 내의 낮은 값 선택

median_high -> 중앙값, 집합 내의 높은 값 선택

median_grouped -> 그룹 연속 중앙값을 구함

mode -> 최빈값 계산

pstdev -> 모표준편차를 계산

stdev -> 표준편차를 계산

variance -> 분산을 계산

In [12]:
import statistics

score=[30,40,60,70,80,90]
print(statistics.mean(score))
print(statistics.harmonic_mean(score))
print(statistics.median(score))
print(statistics.median_low(score))
print(statistics.median_high(score))

61.666666666666664
53.14586994727592
65.0
60
70

#time module offers date, time etc...

time function investigates current time 

and Unix offers the time since 1970.1.1 12:00AM by expressing with second

In [13]:
import time
print(time.time())

1596437674.6199162

In [14]:
t= time.time()
print(time.ctime(t))

Mon Aug  3 06:55:25 2020

In [15]:
print(time.ctime())

Mon Aug  3 06:56:30 2020

# struc_time returns each of arguements of time

In [16]:
import time
t=time.time()
print(time.localtime(t))

time.struct_time(tm_year=2020, tm_mon=8, tm_mday=3, tm_hour=6, tm_min=58, tm_sec=31, tm_wday=0, tm_yday=216, tm_isdst=0)

In [17]:
import time 
now = time.localtime()
print('%d.%d.%d' % (now.tm_year,now.tm_mon,now.tm_mday))
print('%d:%d' %(now.tm_hour,now.tm_min))

2020.8.3
7:0

# now function in datetime brings now local time

In [19]:
import datetime
now= datetime.datetime.now()
now

datetime.datetime(2020, 8, 3, 7, 2, 27, 938293)

In [21]:
print('%d.%d.%d' % (now.year, now.month, now.day))
print('%d : %d : %d' % (now.hour, now.minute, now.second))

2020.8.3
7 : 2 : 27