<a href="https://colab.research.google.com/github/Ash-Stat/An-Si-Hyun/blob/master/python%20practice_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#append(요소)는 전달한 요소를 리스트의 끝에 덧붙여 추가한다.
#insert(삽입할 위치,요소)는 요소를 삽입할 위치에 삽입한다.
nums=[1,2,3,4]
nums.append(5)
nums.insert(2,99)
nums

[1, 2, 99, 3, 4, 5]

In [ ]:
nums=[1,2,3,4]
nums[2:2]=[90,91,92]
nums
#2번째 자리에서 2번째 자리까지, 끝의 순서는 생략되므로 즉 이동할 거리는 0이다.
#따라서 2번째 자리 위치에 90,91,92를 추가하라는 것과 같다.

[1, 2, 90, 91, 92, 4]

In [ ]:
nums=[1,2,3,4]
nums[2:3]=[90,91,92]
nums
#2번째 자리부터 세번째 자리까지 90 91 92를 추가하는 것 이다. 따라서
#3이라는 요소 대신 1,2,90,91,92,4가 출력된다.

[1, 2, 90, 91, 92, 4]

In [ ]:
nums=[1,2,3,4]
nums[2]=[90,91,92]
nums
#2번째 요소값이 길이 3의 리스트로 대체된다.

[1, 2, [90, 91, 92], 4]

In [ ]:
list1=[1,2,3,4,5]
list2=[10,11]
list1.extend(list2)
list1
#리스트끼리 병합할때는 extend 메서드를 쓴다.

[1, 2, 3, 4, 5, 10, 11]

In [ ]:
list3=[1,2,3]
list4=[5,6]
list5=list3+list4
list5
#즉, +와 extend의 근본적 차이는
# +의 경우는 list1의 값을 근본적으로 변화시키지 않고 새로운 list5라는 리스트를 만들어 낸다.
# extend의 경우는 list1의 값을 근본적으로 변화시킨다.

[1, 2, 3, 5, 6]

In [ ]:
score=[88,95,70,100,99,80,78,50]
score.remove(100)
#리스트 요소중에서 100을 삭제시킨다.
#만약 요소값이 2개이상이면 처음 발견한 값을 삭제 시킨다.
print(score)

[88, 95, 70, 99, 80, 78, 50]

In [ ]:
del(score[2])
#리스트 요소중에서 3번째 요소(70)을 삭제 시키는 명령문
#del score[2]도 가능하다.
score

[88, 95, 99, 80, 78, 50]

In [ ]:
score[1:4]=[]
score
#리스트 요소중에서 2번째 부터 4번째 값(95,99,80)을 빈칸으로 만든다. 즉, 삭제시킨다.

[88, 78, 50]

In [ ]:
score=[1,2,3,4,5]
score.pop()
#pop은 삭제한 요소를 꺼내 리턴시킨다. 첨자를 사용하여 지울 대상을 정한다.
#공란이라면 디폴트 값은 -1 (맨 끝자리) 이다.

5

In [ ]:
score.pop(-1)
#위의 명령문으로 5가 삭제되었으니 마지막 순서인 4가 없어지면서 리턴된 결과값

4

In [ ]:
score.pop(0)
score
#나머지 값인 1,2,3 중에서 두번째 값을 날려버리고 score을 출력헀으니 1,3이 남는다.
#계속 실행하면 점점 지워져서 빈칸이 된다.

[]

## 검색

In [ ]:
score=[88,95,70,100,99,80,78,50]
perfect=score.index(100)
print('만점 받은 학생은',''+str(perfect)+'번 입니다.')
#index메서드로 100의 요소를 가진 위치를 찾는다.
#str(변수)를 통해 문자열화 시킨다.

만점 받은 학생은 3번 입니다.

In [ ]:
str(perfect)

'3'

In [ ]:
print('만점 받은 학생은',str(perfect),'번 입니다.')
# +기호 대신 ,로 이렇게 구분해도 똑같다.

만점 받은 학생은 3 번 입니다.

In [ ]:
pernum=score.count(100)
print('만점자 수는',str(pernum),'명 입니다.')

만점자 수는 1 명 입니다.

In [ ]:
score=[88,95,70,100,99,80,78,50]
print('학생 수는 %d명 입니다.' % len(score))
print('최고 점수는 %d점 입니다.' % max(score))
print('최저 점수는 %d점 입니다.' % min(score))
#print('%연산자' % len,max,min(요소))

학생 수는 8명 입니다.
최고 점수는 100점 입니다.
최저 점수는 50점 입니다.

In [ ]:
#요소가 있는지 검사할때 in 또는 not in을 사용한다.
ans=input('결제 하시겠습니까? (yes or not)')
if ans in ['yes','y','ok','예','당근']:
    print('구입해 주셔서 감사합니다.')
else:
    print('다음에 또 방문해 주세요.')

결제 하시겠습니까? (yes or not)ㄴㄴ
다음에 또 방문해 주세요.

In [ ]:
ans=input('do you have a girl friend?')
if ans in ['yes','y','ok','예','당근']:
  print('Awesome!')
else:
  print('Oh...Im sorry')

do you have a girl friend?ㄴㄴ
Oh...Im sorry

In [ ]:
#sort method arranges the list. In this process, values are arranged 
#reverse method reverses the order of values.
score = [88,95,70,100,99]
score.sort()
print(score)
score.reverse()
print(score)

[70, 88, 95, 99, 100]
[100, 99, 95, 88, 70]

In [ ]:
#Using the method of sort and reverse
score=[4,2,3,5,6,1,8]
score.sort(reverse=True)
print(score)

[8, 6, 5, 4, 3, 2, 1]

In [ ]:
score.sort()
print(score)

[1, 2, 3, 4, 5, 6, 8]

In [ ]:
#key is fuction what compares in sorting the values
country = ['Korea','japan','CHINA','america']
country.sort()
print(country)
country.sort(key=str.lower)
print(country)
# it was changed when use the key not itself

['CHINA', 'Korea', 'america', 'japan']
['america', 'CHINA', 'japan', 'Korea']

In [ ]:
#sorted method is same the sort method but it doesn't change itself, but makes new list by returning
score=[88,95,70,100,99]
score2=sorted(score)
print(score)
print(score2)

[88, 95, 70, 100, 99]
[70, 88, 95, 99, 100]

In [ ]:
#tuple is like list, but it doesn't edit after coding
#so tuple is called 'number list' and use (), not []
score=(88,95,70,100,99)
sum=0
for s in score:
  sum +=s
print('total : ', sum)
print('average : ', sum/len(score))

total :  452
average :  90.4

In [ ]:
#when use only one tuple, it must be appeard by comma
#because for distinguishing other values
tu=2,
value=2
print(tu)
print(value)
#2, means tuple which has one value

(2,)
2

In [ ]:
#Reading tuple
tu=1,2,3,4,5
print(tu[3])
print(tu[1:4])
print(tu + (6,7))
print(tu*2)

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
#when combinate tuple and tuple
tu='ash','garen','riven'
frellyord,demasia,exile=tu
print(frellyord)
print(demasia)
print(exile)

ash
garen
riven

In [ ]:
a,b=12,34
print(a,b)
a,b=b,a
print(a,b)

12 34
34 12

In [ ]:
import time
def gettime():
  now = time.localtime()
  return now.tm_hour, now.tm_min

result=gettime()
print('time is %d : %d' % (result[0],result[1]))

time is 11 : 53

In [ ]:
#divmod function returns the result of quotient and remainder in tuple
d,m=divmod(7,3)
print('quotient is', d)
print('remainder is ', m)

quotient is 2
remainder is  1

In [ ]:
#why use the tuple?
#in fact, list have an all function of tuple. but list is changeable. thus it takes more memories and slow speed than tuple
#tuple is unchangeable. so tuple is more simple and has fast speed in reading than list
#also tuple is safe because of uneditable feature that makes no mistakes
#the method of converting tuple to list or otherwise
socre=[88,95,70,100,99]
tu=tuple(score)
print(tu)
li=list(tu)
li[0]=100
print(li)y

(88, 95, 70, 100, 99)
[100, 95, 70, 100, 99]

# Dictionary
Dictionary is structrue of big data that save key and pair of the values.

And it is called 'Map' because of comparing 1 on 1

When it is defined, use {} such as key : value and seperate with comma

In [ ]:
dic = {'boy' : 'ezreal', 'school' : 'academy','book':'Yumis weapon'}
print(dic)

{'boy': 'ezreal', 'school': 'academy', 'book': 'Yumis weapon'}

In [ ]:
print(dic['boy'])

ezreal

# get method
get method finds any results without error.
If get method doesn't find any result then it retrun the 'None' not error.
also, it can set default value when doesn't find with second arguement.

In [ ]:
print(dic.get('garen'))
print(dic.get('nasus', 'Not found'))

None
Not found

In [ ]:
dic = {'garen' : 'demasia','darius':'noxus','riven':'exile','nidalee':'wild'}
if 'shaco' in dic:
  print('Found')
else:
  print('Not Found')

Not Found

# Dictionary is possible to change values to other word

In [ ]:
dic['garen']='just walker'
dic['Yasuo']='insect'
del dic['nidalee']
print(dic)
#when it wasn't found something in dictionary, it is possible to add something

{'garen': 'just walker', 'darius': 'noxus', 'riven': 'exile', 'Yasuo': 'insect'}

# When delete all about dic, use the clear method.
keys method returns dict_key 

values method returns dict_values list

items method returns pair of the key and value list at tuple

In [ ]:
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['garen', 'darius', 'riven', 'Yasuo'])
dict_values(['just walker', 'noxus', 'exile', 'insect'])
dict_items([('garen', 'just walker'), ('darius', 'noxus'), ('riven', 'exile'), ('Yasuo', 'insect')])

# Update method combinates two dictionaries

In [ ]:
dic={'Top' : 'real man','Mid':'not human','Jungle':'slave','AD':'crazy man','Sup':'slave2'}
dic2={'LOL':'the game of devil','Over Watch':'trash'}
dic.update(dic2)
print(dic)

{'Top': 'real man', 'Mid': 'not human', 'Jungle': 'slave', 'AD': 'crazy man', 'Sup': 'slave2', 'LOL': 'the game of devil', 'Over Watch': 'trash'}

# The way of changing list to dictionary

In [ ]:
li = [['Top','mad man'],['Jungle','slave']]
dic=dict(li)
print(dic)
#tuple is possible too.

{'Top': 'mad man', 'Jungle': 'slave'}

# Set's definition
set is gathering of some values.

It uses {}, when it was coded.

In [ ]:
asia = {'korea','china','japan','korea'}
print(asia)
#it does not return the same value

{'korea', 'china', 'japan'}

In [ ]:
print(set('Si Hyun'))

{'S', ' ', 'y', 'H', 'u', 'n', 'i'}

In [ ]:
print(set([12,34,56,78]))

{56, 34, 12, 78}

In [ ]:
print(set({'boy':'not baby','girl':'babe'}))

{'boy', 'girl'}

In [ ]:
print(set(['asd','asdf','fdgg']))

{'fdgg', 'asdf', 'asd'}

In [ ]:
print(set(('asd','asdf','fdgg')))

{'fdgg', 'asdf', 'asd'}

# When make a empty gathering, use set() without any arguement

methods of set().

In [ ]:
#add
lol={'garen','darius','doran'}
lol.add('nidalee')
lol.remove('doran')
print(lol)

{'nidalee', 'darius', 'garen'}

In [ ]:
lol.update(['piora','illelia'])
print(lol)

{'piora', 'darius', 'illelia', 'nidalee', 'garen'}

# set calculating

plus set -> |,union

common set -> $,intersection

minus set -> -,difference

exclusive minus set -> ^,symmetric_difference

In [ ]:
twox={2,4,6,8,10,12}
threex={3,6,9,12,15}

print('plus', twox | threex)
print(twox.union(threex))

plus {2, 3, 4, 6, 8, 9, 10, 12, 15}
{2, 3, 4, 6, 8, 9, 10, 12, 15}

In [ ]:
print('common', twox & threex)
print(twox.intersection(threex))

common {12, 6}
{12, 6}

In [ ]:
print('minus',twox - threex)
print(twox.difference(threex))

minus {8, 2, 10, 4}
{8, 2, 10, 4}

In [ ]:
print('exclusive',twox ^ threex)
print(twox.symmetric_difference(threex))

exclusive {2, 3, 4, 8, 9, 10, 15}
{2, 3, 4, 8, 9, 10, 15}

In [ ]:
sset={'garen','darius','riven'}

In [ ]:
li=list(sset)
li

['riven', 'darius', 'garen']

In [ ]:
li.sort(reverse=True)
print(li)

['riven', 'garen', 'darius']

# Function for administring collection

In [ ]:
score=[88,95,70,100,99]
for s in score:
  print('score :',s)

score : 88
score : 95
score : 70
score : 100
score : 99

# Enumerate
it returns order value and arguement

In [ ]:
race=['Garen','Darius','Riven']
list(enumerate(race))

[(0, 'Garen'), (1, 'Darius'), (2, 'Riven')]

In [ ]:
score=[88,95,70,100,99]
for no, s in enumerate(score,1):
  #becaus of [(0,88), (1,95)......]
  print('number',no,s)

number 1 88
number 2 95
number 3 70
number 4 100
number 5 99

# zip function makes one collection by combining several collentions

In [ ]:
nation =['Demasia','Noxus','Ionia']
champ =['Garen','Darius','Illelia']
lol=zip(nation,champ)
for a,b in lol:
  print('%s from %s' %(b,a))

Garen from Demasia
Darius from Noxus
Illelia from Ionia

# The way of making dict

In [ ]:
dict(zip(nation, champ))

{'Demasia': 'Garen', 'Ionia': 'Illelia', 'Noxus': 'Darius'}

# filter function finds only True of list arguements

first arguement indicates the condition, and second arguement indicates indicates object.

In [ ]:
def flunk(s):
  return s < 60

score = [45,89,72,53,94]
for s in filter(flunk,score):
  print(s)
  #filter(condition,object)
  #The condition is to return s < 60 in range of score

45
53

# Map function makes new list is organized to new arguements

In [ ]:
def half(a):
  return a/2

score=[45,89,72,53,94]
for x in map(half, score):
  print(x,end=',')

22.5,44.5,36.0,26.5,47.0,

In [ ]:
def total(s,b):
  return s+b

score=[45,89,72,53,94]
bonus=[2,3,0,0,5]
for s in map(total, score, bonus):
  print(s, end=',')

47,92,72,53,99,

# lambda arguement:function, is simple function.
it does not use return.

In [ ]:
lambda x:x+1
# it is same that
#def increase(x):
# return x+1

In [ ]:
score = [45,89,72,53,94]
for s in filter(lambda x:x < 60, score):
  print(s)

45
53

In [ ]:
score=[45,89,72,53,94]
for s in map(lambda x:x/2,score):
  print(s, end=',')

22.5,44.5,36.0,26.5,47.0,

# list copy

In [ ]:
list1 = [1,2,3]
list2 = list1

list2[1] = 100
print(list1)
print(list2)

[1, 100, 3]
[1, 100, 3]

# That is the reason why we must know listcopy.

In case of list, twin list's memory are same

In [ ]:
list1=[1,2,3]
list2=list1.copy()

list2[1]=100
print(list1)
print(list2)

[1, 2, 3]
[1, 100, 3]

In [ ]:
list0 =['a','b']
list1 =[list0,1,2]
list2 = list1.copy()

list2[0][1]='c'
print(list1)
print(list2)

#if you change the arguements of list0 then it affects list1, list2.

# so to make perfect copy, we must use copy module, deepcopy

[['a', 'c'], 1, 2]
[['a', 'c'], 1, 2]

# Deep copy

In [ ]:
import copy as cp

list0=['a','b']
list1=[list0,1,2]
list2=cp.deepcopy(list1)

list2[0][1]='c'
print(list1)
print(list2)

[['a', 'b'], 1, 2]
[['a', 'c'], 1, 2]

# Is operator

if right value is same left one, then it returns True if not False

In [ ]:
list1=[1,2,3]
list2=list1
list3=list1.copy()

print('1==2', list1 is list2)
print('1==3', list1 is list3)
print('2==3', list2 is li

1==2 True
1==3 False
2==3 False

# Copy data is not same based on one, the memory is different

# Import module
module is script file written python code.

and it contains some functions, variances classes

In [ ]:
import math
print(math.sqrt(2))

1.4142135623730951

import math brings every constant values and functions from module

when it is used, write the what it belongs to first.
ex)math.sqrt...

pd.Series...

# simple using

# from module import function's name

it brings certain function from module so helps using the module simply

In [ ]:
from math import sqrt
print(sqrt(2))

1.4142135623730951

In [ ]:
# it is possible too.
from math import sqrt as sq
print(sq(2))

1.4142135623730951

# kind of math module
pi -> 원주율 상수

tau -> pi * 2 인 상수(반지름과 원둘레의 비율)

e -> 자연 대수 상수

inf -> 무한대 값

nan -> 숫자가 아닌 값

# sincurve with turtle graphic

In [ ]:
import math
import turtle as t

t.penup()
t.goto(-720,0)
t.pendown()
for x in range(-720,720):
  t.goto(x, math.sin(math.radians(x)) * 100)
t.done()

TclError: ignored

# Statistics module

mean -> 평균

harmonic_mean -> 조화 평균

median -> 중앙값, 짝수인 경우 보간 값 계산

median_low -> 중앙값, 집합 내의 낮은 값 선택

median_high -> 중앙값, 집합 내의 높은 값 선택

median_grouped -> 그룹 연속 중앙값을 구함

mode -> 최빈값 계산

pstdev -> 모표준편차를 계산

stdev -> 표준편차를 계산

variance -> 분산을 계산

In [ ]:
import statistics

score=[30,40,60,70,80,90]
print(statistics.mean(score))
print(statistics.harmonic_mean(score))
print(statistics.median(score))
print(statistics.median_low(score))
print(statistics.median_high(score))

61.666666666666664
53.14586994727592
65.0
60
70

#time module offers date, time etc...

time function investigates current time 

and Unix offers the time since 1970.1.1 12:00AM by expressing with second

In [ ]:
import time
print(time.time())

1596437674.6199162

In [ ]:
t= time.time()
print(time.ctime(t))

Mon Aug  3 06:55:25 2020

In [ ]:
print(time.ctime())

Mon Aug  3 06:56:30 2020

# struc_time returns each of arguements of time

In [ ]:
import time
t=time.time()
print(time.localtime(t))

time.struct_time(tm_year=2020, tm_mon=8, tm_mday=3, tm_hour=6, tm_min=58, tm_sec=31, tm_wday=0, tm_yday=216, tm_isdst=0)

In [ ]:
import time 
now = time.localtime()
print('%d.%d.%d' % (now.tm_year,now.tm_mon,now.tm_mday))
print('%d:%d' %(now.tm_hour,now.tm_min))

2020.8.3
7:0

# now function in datetime brings now local time

In [ ]:
import datetime
now= datetime.datetime.now()
now

datetime.datetime(2020, 8, 3, 7, 2, 27, 938293)

In [ ]:
print('%d.%d.%d' % (now.year, now.month, now.day))
print('%d : %d : %d' % (now.hour, now.minute, now.second))

2020.8.3
7 : 2 : 27

# 실행시간 측정

In [1]:
#time 함수가 구하는 시간은 컴퓨터에 내장된 시계를 기준으로 한다.

#시간은 언제나 흘러가고 있어 time 함수를 호출하는 시점에 따라 구해지는 시간이 다르다.

#그래서 이것을 이용하여 두 지점 간의 경과 시간을 측정할 수 있다.

In [2]:
#0에서 999까지 출력하는 데 걸린 시간을 측정한다.
import time

start=time.time()
for a in range(1000):
  print(a)
end=time.time()
print(end-start)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
0.09810900688171387

In [3]:
#sleep 함수는 cpu를 지정한 시간만큼 잠재워 아무것도 하지 않고 시간을 끈다. 프로그램은 빠를수록 좋지만 사람이 워낙 느리기 때문에
#잠시 대기해야 할 때도 있다. 인수로 초 단위의 값을 주되 소수점 이하의 정밀한 값으로 초 단위보다 더 짧은 시간을 지정할 수도 있다.

In [5]:
import time

print('안녕하세요')
time.sleep(5)
print('밤에 성시경이 두 명 있으면 뭘까요?')
time.sleep(5)
print('야간 투시경 입니다.')

안녕하세요
밤에 성시경이 두 명 있으면 뭘까요?
야간 투시경 입니다.

In [7]:
import time
start=time.time()
for dan in range(2,10):
  print(dan,'단')
  for hang in range(2,10):
    print(dan,'x',hang,'=',dan*hang)
  print()
end=time.time()
print(end-start)

2 단
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 단
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 단
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 단
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 단
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 단
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 단
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 단
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

0.013572216033935547

# 달력

calendar 모듈은 유닉스의 cal명령과 유사한 달력 기능을 제공한다.

calendar 함수는 인수로 받은 년도의 달력 객체를 리턴하고 month 함수는 년도와 달을 인수로 받아 해당 월의 달력 객체를 리턴한다.

In [8]:
import calendar

print(calendar.calendar(2018))
print(calendar.month(2019,1))

                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

    January 2019
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [9]:
#이렇게 해도 같다
calendar.prcal(2018)
calendar.prmonth(2019,1)

                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

    January 2019
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [12]:
#유닉스의 달력은 월요일이 제일 첫 칸에 나오도록 되어 있다.

#첫 칸의 요일을 바꿀 때는 setfirstweekday 함수로 첫 요일을 지정하되 0이 월요일이고 1이 화요일 이다.

#그래서 디폴트를 6으로 바꿔주면 일요일 부터 오게 되어있다.

calendar.setfirstweekday(6)
calendar.prcal(2020)

                                  2020

      January                   February                   March
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
          1  2  3  4                         1       1  2  3  4  5  6  7
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       8  9 10 11 12 13 14
12 13 14 15 16 17 18       9 10 11 12 13 14 15      15 16 17 18 19 20 21
19 20 21 22 23 24 25      16 17 18 19 20 21 22      22 23 24 25 26 27 28
26 27 28 29 30 31         23 24 25 26 27 28 29      29 30 31

       April                      May                       June
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [16]:
# 요일 찾아보기
import calendar as c
yoil=['월','화','수','목','금','토','일']
day=c.weekday(2020,10,28)
print('시현이의 생일은',yoil[day],'요일 입니다.')

시현이의 생일은 수 요일 입니다.