<a href="https://colab.research.google.com/github/Ash-Stat/An-Si-Hyun/blob/data/%EA%B3%A0%EB%93%B1%EC%A7%80%EB%8A%A5%EC%A0%95%EB%B3%B4%EA%B3%B5%ED%95%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [8]:
train_x=pd.read_csv('./train_x_2.csv')
train_x=train_x.drop(['ID'],axis=1)
train_x

           fever  bodypain  age  runnynose  diffbreath
0      99.329862         0   26          1          -1
1      98.115263         1   61          1           0
2      99.918088         1   13          0          -1
3     101.344456         1   55          1           0
4     100.056678         1   37          0           1
...          ...       ...  ...        ...         ...
1495   99.227081         1   27          1          -1
1496   98.323716         1   61          1          -1
1497  102.486229         1   71          0           1
1498   99.738639         0   21          0          -1
1499  102.504076         1   76          1           0

[1500 rows x 5 columns]

In [7]:
train_y=pd.read_csv('./train_y_2.csv')
train_y=train_y.drop(['ID'],axis=1)
train_y

      infected
0            0
1            1
2            0
3            1
4            0
...        ...
1495         1
1496         1
1497         1
1498         0
1499         0

[1500 rows x 1 columns]

In [13]:
from sklearn.tree import DecisionTreeClassifier # 모듈 임포트
classification=DecisionTreeClassifier()
classification.fit(train_x, train_y)
predict_value=classification.predict(train_x)

In [14]:
predict_value

array([0, 1, 0, ..., 1, 0, 0])

In [ ]:
정밀도(precision)
오차 행렬보다 요약된 지표로서, 양성 예측의 정확도 이다.

정밀도 = True Positive / (True Positive + False Positive)

   = 진짜 양성 / (진짜양성 + 거짓양성)
 
   = 분류기가 양성이라고 판단한 것 중에 진짜 양성의 비율
정밀도는 재현율(recall) 이라는 또 다른 지표와 같이 사용하는 것이 일반적이다.

재현율은 분류기가 정확하게 감지한 양성 샘플의 비율로 민감도(sensitivity) 또는 진짜 양성 비율(true positive)(TPRatio)라고도 한다.

재현율 = TP / (TP + FN)

FN은 거짓 음성의 수이다.

= 진짜 양성들 중에서 분류기가 양성이라고 판단한 것의 양성비율

정밀도 재현율 해석
정밀도 = 0.837 -> 분류기가 양성이라고 판단한 것 중에 진짜 양성이 83%

재현율 = 0.651 -> 진짜 양성들 중에서 분류기가 맞춘 양성의 비율이 65%

F1 점수( 정밀도와 재현율의 조화 평균)
정밀도와 재현율을 하나의 숫자로 만들면 편리하다. 특히, 두 분류기를 비교할 때 그렇다.

F1 점수는 정밀도와 재현율의 조화 평균이다.

F1=2/(정밀도 역수 + 재현율 역수) = 2 X(정밀도 X 재현율) / ( 정밀도 + 재현율)

조화평균을 왜 이용할까???
달리기의 경우에서 절반의 거리를 40km/h로 달리고 나머지 절반의 거리를 60km/h로 달린다고 가정하면 이때의 조화 평균은 48km/h이다.

산술적으로 생각해보면 50km/h같겠지만, 이 경우에 전체 거리를 48km/h로 달린것과 똑같기 때문이다.

즉, 조화평균은 각 값들의 편향을 고려해준다는 것에서 그 의미가 있다.

In [15]:
from sklearn.metrics import f1_score, accuracy_score
f1_score(train_y,predict_value)

1.0

In [17]:
test_x=pd.read_csv('./test_x_2.csv')
test_x =test_x.drop(['ID'],axis=1)
test_x

          fever  bodypain  age  runnynose  diffbreath
0     98.946958         1   35          1           1
1     99.746078         0   38          1           1
2    102.552184         1   69          1           0
3     99.323104         1   28          1           0
4    101.657201         0   65          0          -1
..          ...       ...  ...        ...         ...
494  101.671891         1   33          1          -1
495  101.673979         1   38          0           1
496   99.804430         1   76          0          -1
497   98.565582         1   62          1          -1
498  101.235846         0   14          1           0

[499 rows x 5 columns]

In [19]:
test_predict=classification.predict(test_x)
test_predict

array([0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1])

In [34]:
from sklearn.model_selection import cross_val_predict
cross_value=cross_val_predict(classification,train_x, train_y, cv=10)
cross_value=pd.DataFrame(cross_value)
cross_value.columns=['DT예측']
cross_value.to_csv('./practice_python.csv',encoding='utf-8-sig', index=False)