<a href="https://colab.research.google.com/github/Ash-Stat/An-Si-Hyun/blob/data/%EB%8C%80%EC%A0%84%EC%97%B0%EA%B5%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
location=pd.read_csv('./locationn.csv')  #데이터셋 각각 불러오기 원자료에서 고유 좌표
panorama=pd.read_csv('./대전파노라마.csv') #다운받은 파노라마
log_lat=pd.read_csv('./대전경도위도.csv') #데이터 셋에 있었던 위도경도로 다운받기 성공한 위도경도
panora=pd.read_csv('./파노라마포함된.txt',sep=' ') #위도경도 파노라마 포함된 자료

In [26]:
location=location.drop(['Unnamed: 0'],axis=1) #대전데이터셋의 고유좌표 불러오기 및 정리
location=location.sort_values('x')
location=location.reset_index()
location=location.drop(['index'],axis=1)
location

              x          y
0    127.301355  36.337887
1    127.302159  36.388794
2    127.302358  36.357801
3    127.302428  36.343706
4    127.303293  36.344126
..          ...        ...
757  127.462773  36.315820
758  127.463796  36.328983
759  127.464157  36.287581
760  127.465668  36.327180
761  127.470424  36.282760

[762 rows x 2 columns]

In [27]:
panorama  #파노라마 확인

                                              panorama
0                               54tbUYef57t8d5_rxwsM4Q
1    CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                               Z6YCvGhdM7c5n8NEweO_Qw
3                               Uk3Ki328nfIJcDS0p0eFjw
4    CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                 ...
757                             9nXvNDPq1Z7_BV3VkQUuWA
758                             9nXvNDPq1Z7_BV3VkQUuWA
759  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                             50n_At2HCikYnoqxLJV5Bg
761  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[762 rows x 1 columns]

In [16]:
pp=panorama.drop_duplicates() #파노라마 고유값확인, 얼마나 미싱되었나
pp

                                              panorama
0                               54tbUYef57t8d5_rxwsM4Q
1    CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                               Z6YCvGhdM7c5n8NEweO_Qw
3                               Uk3Ki328nfIJcDS0p0eFjw
4    CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                 ...
756                             X9HGAfnx8l2V5Tl1-0UxVA
757                             9nXvNDPq1Z7_BV3VkQUuWA
759  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                             50n_At2HCikYnoqxLJV5Bg
761  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[709 rows x 1 columns]

In [28]:
log_lat.columns=['d_x','d_y'] #원래데이터셋의 위도경도로 다운로드 성공한 위도경도
log_lat

            d_x        d_y
0    127.301355  36.337887
1    127.302159  36.388794
2    127.302358  36.357801
3    127.302428  36.343706
4    127.303293  36.344126
..          ...        ...
757  127.462773  36.315820
758  127.463796  36.328983
759  127.464157  36.287581
760  127.465668  36.327180
761  127.470424  36.282760

[762 rows x 2 columns]

In [29]:
location=pd.concat([location,panorama,log_lat],axis=1) #데이터셋 총합
location

              x          y  ...         d_x        d_y
0    127.301355  36.337887  ...  127.301355  36.337887
1    127.302159  36.388794  ...  127.302159  36.388794
2    127.302358  36.357801  ...  127.302358  36.357801
3    127.302428  36.343706  ...  127.302428  36.343706
4    127.303293  36.344126  ...  127.303293  36.344126
..          ...        ...  ...         ...        ...
757  127.462773  36.315820  ...  127.462773  36.315820
758  127.463796  36.328983  ...  127.463796  36.328983
759  127.464157  36.287581  ...  127.464157  36.287581
760  127.465668  36.327180  ...  127.465668  36.327180
761  127.470424  36.282760  ...  127.470424  36.282760

[762 rows x 5 columns]

In [30]:
panora

              x          y                                                  p
0    127.301109  36.338152                         54tbUYef57t8d5_rxwsM4Q.jpg
1    127.301958  36.388563  CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2    127.302601  36.358149                         Z6YCvGhdM7c5n8NEweO_Qw.jpg
3    127.302877  36.343933                         Uk3Ki328nfIJcDS0p0eFjw.jpg
4    127.303120  36.344254  CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..          ...        ...                                                ...
707  127.462399  36.317706                         X9HGAfnx8l2V5Tl1-0UxVA.jpg
708  127.462510  36.320795                         tdHNZqxq8gvBAI3npaMoWw.jpg
709  127.464166  36.287657  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
710  127.466391  36.327242                         50n_At2HCikYnoqxLJV5Bg.jpg
711  127.470209  36.282699  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[712 rows x 3 columns]

In [36]:
panora_p=panora['p']
panora_p # .jpg. 분리하는 과정

0                             54tbUYef57t8d5_rxwsM4Q.jpg
1      CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                             Z6YCvGhdM7c5n8NEweO_Qw.jpg
3                             Uk3Ki328nfIJcDS0p0eFjw.jpg
4      CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
                             ...
707                           X9HGAfnx8l2V5Tl1-0UxVA.jpg
708                           tdHNZqxq8gvBAI3npaMoWw.jpg
709    CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
710                           50n_At2HCikYnoqxLJV5Bg.jpg
711    CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...
Name: p, Length: 712, dtype: object

In [43]:
em=pd.DataFrame()
for p in panora_p:
  p=p[:-4]
  pa=pd.DataFrame([p])
  em=pd.concat([em,pa],axis=0)
em  #분리성공

                                                    0
0                              54tbUYef57t8d5_rxwsM4Q
0   CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
0                              Z6YCvGhdM7c5n8NEweO_Qw
0                              Uk3Ki328nfIJcDS0p0eFjw
0   CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                ...
0                              X9HGAfnx8l2V5Tl1-0UxVA
0                              tdHNZqxq8gvBAI3npaMoWw
0   CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
0                              50n_At2HCikYnoqxLJV5Bg
0   CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[712 rows x 1 columns]

In [44]:
em=em.reset_index()
em=em.drop(['index'],axis=1)
em.columns=['p']
em

                                                     p
0                               54tbUYef57t8d5_rxwsM4Q
1    CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                               Z6YCvGhdM7c5n8NEweO_Qw
3                               Uk3Ki328nfIJcDS0p0eFjw
4    CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                 ...
707                             X9HGAfnx8l2V5Tl1-0UxVA
708                             tdHNZqxq8gvBAI3npaMoWw
709  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
710                             50n_At2HCikYnoqxLJV5Bg
711  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[712 rows x 1 columns]

In [52]:
location_p=location['panorama']
location_p=location_p.drop_duplicates()
location_p #뭐가 결측되었나 확인하기 위한 사전 데이터셋 준비 과정

0                                 54tbUYef57t8d5_rxwsM4Q
1      CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                                 Z6YCvGhdM7c5n8NEweO_Qw
3                                 Uk3Ki328nfIJcDS0p0eFjw
4      CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
                             ...
756                               X9HGAfnx8l2V5Tl1-0UxVA
757                               9nXvNDPq1Z7_BV3VkQUuWA
759    CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                               50n_At2HCikYnoqxLJV5Bg
761    CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...
Name: panorama, Length: 709, dtype: object

In [61]:
for a in em['p']:
  if a not in location_p.values:
      print(a)  #입력안된 값 확인

-kkFb1huT7Z7SdFuAK9bdw
-QTjbRpxI5oKHVK0Ba8OSw
-Qn9lX8JVxlXopWuXDY4nw
-tgpBxftOzwVkLZ_8hN1xA

In [73]:
panorama[panorama.values=='dbGM_EY6ep6JQWNocCD_FA']
#입력안된 값 바로위에 뭐가 있었는지 보기

                   panorama
210  dbGM_EY6ep6JQWNocCD_FA

In [76]:
panorama.loc[211] #입력이안된 값은 #NAME?으로 나온다.

panorama    #NAME?
Name: 211, dtype: object

In [77]:
panorama[panorama.values=='#NAME?'] #입력안된 위치 확인

    panorama
211   #NAME?
220   #NAME?
426   #NAME?
508   #NAME?

In [78]:
panorama.loc[211]='-kkFb1huT7Z7SdFuAK9bdw'
panorama.loc[220]='-QTjbRpxI5oKHVK0Ba8OSw'
panorama.loc[426]='-Qn9lX8JVxlXopWuXDY4nw'
panorama.loc[508]='-tgpBxftOzwVkLZ_8hN1xA'
panorama #데이터셋보강

                                              panorama
0                               54tbUYef57t8d5_rxwsM4Q
1    CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                               Z6YCvGhdM7c5n8NEweO_Qw
3                               Uk3Ki328nfIJcDS0p0eFjw
4    CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                 ...
757                             9nXvNDPq1Z7_BV3VkQUuWA
758                             9nXvNDPq1Z7_BV3VkQUuWA
759  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                             50n_At2HCikYnoqxLJV5Bg
761  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[762 rows x 1 columns]

In [79]:
modify=panorama.drop_duplicates()
modify #잘 수정되었는지 확인

                                              panorama
0                               54tbUYef57t8d5_rxwsM4Q
1    CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                               Z6YCvGhdM7c5n8NEweO_Qw
3                               Uk3Ki328nfIJcDS0p0eFjw
4    CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                 ...
756                             X9HGAfnx8l2V5Tl1-0UxVA
757                             9nXvNDPq1Z7_BV3VkQUuWA
759  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                             50n_At2HCikYnoqxLJV5Bg
761  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[712 rows x 1 columns]

In [82]:
location['panorama']=panorama
location #데이터 합쳐주기

              x          y  ...         d_x        d_y
0    127.301355  36.337887  ...  127.301355  36.337887
1    127.302159  36.388794  ...  127.302159  36.388794
2    127.302358  36.357801  ...  127.302358  36.357801
3    127.302428  36.343706  ...  127.302428  36.343706
4    127.303293  36.344126  ...  127.303293  36.344126
..          ...        ...  ...         ...        ...
757  127.462773  36.315820  ...  127.462773  36.315820
758  127.463796  36.328983  ...  127.463796  36.328983
759  127.464157  36.287581  ...  127.464157  36.287581
760  127.465668  36.327180  ...  127.465668  36.327180
761  127.470424  36.282760  ...  127.470424  36.282760

[762 rows x 5 columns]

In [83]:
location['panorama'].drop_duplicates() #확인 완료

0                                 54tbUYef57t8d5_rxwsM4Q
1      CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                                 Z6YCvGhdM7c5n8NEweO_Qw
3                                 Uk3Ki328nfIJcDS0p0eFjw
4      CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
                             ...
756                               X9HGAfnx8l2V5Tl1-0UxVA
757                               9nXvNDPq1Z7_BV3VkQUuWA
759    CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                               50n_At2HCikYnoqxLJV5Bg
761    CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...
Name: panorama, Length: 712, dtype: object