<a href="https://colab.research.google.com/github/Ash-Stat/An-Si-Hyun/blob/data/%EB%8C%80%EC%A0%84%EC%97%B0%EA%B5%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
location=pd.read_csv('./locationn.csv')  #데이터셋 각각 불러오기 원자료에서 고유 좌표
panorama=pd.read_csv('./대전파노라마.csv') #다운받은 파노라마
log_lat=pd.read_csv('./대전경도위도.csv') #데이터 셋에 있었던 위도경도로 다운받기 성공한 위도경도
panora=pd.read_csv('./파노라마포함된.txt',sep=' ') #위도경도 파노라마 포함된 자료

In [26]:
location=location.drop(['Unnamed: 0'],axis=1) #대전데이터셋의 고유좌표 불러오기 및 정리
location=location.sort_values('x')
location=location.reset_index()
location=location.drop(['index'],axis=1)
location

              x          y
0    127.301355  36.337887
1    127.302159  36.388794
2    127.302358  36.357801
3    127.302428  36.343706
4    127.303293  36.344126
..          ...        ...
757  127.462773  36.315820
758  127.463796  36.328983
759  127.464157  36.287581
760  127.465668  36.327180
761  127.470424  36.282760

[762 rows x 2 columns]

In [27]:
panorama  #파노라마 확인

                                              panorama
0                               54tbUYef57t8d5_rxwsM4Q
1    CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                               Z6YCvGhdM7c5n8NEweO_Qw
3                               Uk3Ki328nfIJcDS0p0eFjw
4    CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                 ...
757                             9nXvNDPq1Z7_BV3VkQUuWA
758                             9nXvNDPq1Z7_BV3VkQUuWA
759  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                             50n_At2HCikYnoqxLJV5Bg
761  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[762 rows x 1 columns]

In [16]:
pp=panorama.drop_duplicates() #파노라마 고유값확인, 얼마나 미싱되었나
pp

                                              panorama
0                               54tbUYef57t8d5_rxwsM4Q
1    CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                               Z6YCvGhdM7c5n8NEweO_Qw
3                               Uk3Ki328nfIJcDS0p0eFjw
4    CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                 ...
756                             X9HGAfnx8l2V5Tl1-0UxVA
757                             9nXvNDPq1Z7_BV3VkQUuWA
759  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                             50n_At2HCikYnoqxLJV5Bg
761  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[709 rows x 1 columns]

In [28]:
log_lat.columns=['d_x','d_y'] #원래데이터셋의 위도경도로 다운로드 성공한 위도경도
log_lat

            d_x        d_y
0    127.301355  36.337887
1    127.302159  36.388794
2    127.302358  36.357801
3    127.302428  36.343706
4    127.303293  36.344126
..          ...        ...
757  127.462773  36.315820
758  127.463796  36.328983
759  127.464157  36.287581
760  127.465668  36.327180
761  127.470424  36.282760

[762 rows x 2 columns]

In [29]:
location=pd.concat([location,panorama,log_lat],axis=1) #데이터셋 총합
location

              x          y  ...         d_x        d_y
0    127.301355  36.337887  ...  127.301355  36.337887
1    127.302159  36.388794  ...  127.302159  36.388794
2    127.302358  36.357801  ...  127.302358  36.357801
3    127.302428  36.343706  ...  127.302428  36.343706
4    127.303293  36.344126  ...  127.303293  36.344126
..          ...        ...  ...         ...        ...
757  127.462773  36.315820  ...  127.462773  36.315820
758  127.463796  36.328983  ...  127.463796  36.328983
759  127.464157  36.287581  ...  127.464157  36.287581
760  127.465668  36.327180  ...  127.465668  36.327180
761  127.470424  36.282760  ...  127.470424  36.282760

[762 rows x 5 columns]

In [30]:
panora

              x          y                                                  p
0    127.301109  36.338152                         54tbUYef57t8d5_rxwsM4Q.jpg
1    127.301958  36.388563  CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2    127.302601  36.358149                         Z6YCvGhdM7c5n8NEweO_Qw.jpg
3    127.302877  36.343933                         Uk3Ki328nfIJcDS0p0eFjw.jpg
4    127.303120  36.344254  CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..          ...        ...                                                ...
707  127.462399  36.317706                         X9HGAfnx8l2V5Tl1-0UxVA.jpg
708  127.462510  36.320795                         tdHNZqxq8gvBAI3npaMoWw.jpg
709  127.464166  36.287657  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
710  127.466391  36.327242                         50n_At2HCikYnoqxLJV5Bg.jpg
711  127.470209  36.282699  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[712 rows x 3 columns]

In [36]:
panora_p=panora['p']
panora_p # .jpg. 분리하는 과정

0                             54tbUYef57t8d5_rxwsM4Q.jpg
1      CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                             Z6YCvGhdM7c5n8NEweO_Qw.jpg
3                             Uk3Ki328nfIJcDS0p0eFjw.jpg
4      CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
                             ...
707                           X9HGAfnx8l2V5Tl1-0UxVA.jpg
708                           tdHNZqxq8gvBAI3npaMoWw.jpg
709    CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
710                           50n_At2HCikYnoqxLJV5Bg.jpg
711    CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...
Name: p, Length: 712, dtype: object

In [43]:
em=pd.DataFrame()
for p in panora_p:
  p=p[:-4]
  pa=pd.DataFrame([p])
  em=pd.concat([em,pa],axis=0)
em  #분리성공

                                                    0
0                              54tbUYef57t8d5_rxwsM4Q
0   CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
0                              Z6YCvGhdM7c5n8NEweO_Qw
0                              Uk3Ki328nfIJcDS0p0eFjw
0   CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                ...
0                              X9HGAfnx8l2V5Tl1-0UxVA
0                              tdHNZqxq8gvBAI3npaMoWw
0   CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
0                              50n_At2HCikYnoqxLJV5Bg
0   CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[712 rows x 1 columns]

In [44]:
em=em.reset_index()
em=em.drop(['index'],axis=1)
em.columns=['p']
em

                                                     p
0                               54tbUYef57t8d5_rxwsM4Q
1    CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                               Z6YCvGhdM7c5n8NEweO_Qw
3                               Uk3Ki328nfIJcDS0p0eFjw
4    CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                 ...
707                             X9HGAfnx8l2V5Tl1-0UxVA
708                             tdHNZqxq8gvBAI3npaMoWw
709  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
710                             50n_At2HCikYnoqxLJV5Bg
711  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[712 rows x 1 columns]

In [52]:
location_p=location['panorama']
location_p=location_p.drop_duplicates()
location_p #뭐가 결측되었나 확인하기 위한 사전 데이터셋 준비 과정

0                                 54tbUYef57t8d5_rxwsM4Q
1      CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                                 Z6YCvGhdM7c5n8NEweO_Qw
3                                 Uk3Ki328nfIJcDS0p0eFjw
4      CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
                             ...
756                               X9HGAfnx8l2V5Tl1-0UxVA
757                               9nXvNDPq1Z7_BV3VkQUuWA
759    CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                               50n_At2HCikYnoqxLJV5Bg
761    CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...
Name: panorama, Length: 709, dtype: object

In [61]:
for a in em['p']:
  if a not in location_p.values:
      print(a)  #입력안된 값 확인

-kkFb1huT7Z7SdFuAK9bdw
-QTjbRpxI5oKHVK0Ba8OSw
-Qn9lX8JVxlXopWuXDY4nw
-tgpBxftOzwVkLZ_8hN1xA

In [73]:
panorama[panorama.values=='dbGM_EY6ep6JQWNocCD_FA']
#입력안된 값 바로위에 뭐가 있었는지 보기

                   panorama
210  dbGM_EY6ep6JQWNocCD_FA

In [76]:
panorama.loc[211] #입력이안된 값은 #NAME?으로 나온다.

panorama    #NAME?
Name: 211, dtype: object

In [77]:
panorama[panorama.values=='#NAME?'] #입력안된 위치 확인

    panorama
211   #NAME?
220   #NAME?
426   #NAME?
508   #NAME?

In [78]:
panorama.loc[211]='-kkFb1huT7Z7SdFuAK9bdw'
panorama.loc[220]='-QTjbRpxI5oKHVK0Ba8OSw'
panorama.loc[426]='-Qn9lX8JVxlXopWuXDY4nw'
panorama.loc[508]='-tgpBxftOzwVkLZ_8hN1xA'
panorama #데이터셋보강

                                              panorama
0                               54tbUYef57t8d5_rxwsM4Q
1    CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                               Z6YCvGhdM7c5n8NEweO_Qw
3                               Uk3Ki328nfIJcDS0p0eFjw
4    CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                 ...
757                             9nXvNDPq1Z7_BV3VkQUuWA
758                             9nXvNDPq1Z7_BV3VkQUuWA
759  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                             50n_At2HCikYnoqxLJV5Bg
761  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[762 rows x 1 columns]

In [79]:
modify=panorama.drop_duplicates()
modify #잘 수정되었는지 확인

                                              panorama
0                               54tbUYef57t8d5_rxwsM4Q
1    CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                               Z6YCvGhdM7c5n8NEweO_Qw
3                               Uk3Ki328nfIJcDS0p0eFjw
4    CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..                                                 ...
756                             X9HGAfnx8l2V5Tl1-0UxVA
757                             9nXvNDPq1Z7_BV3VkQUuWA
759  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                             50n_At2HCikYnoqxLJV5Bg
761  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[712 rows x 1 columns]

In [82]:
location['panorama']=panorama
location #데이터 합쳐주기

              x          y  ...         d_x        d_y
0    127.301355  36.337887  ...  127.301355  36.337887
1    127.302159  36.388794  ...  127.302159  36.388794
2    127.302358  36.357801  ...  127.302358  36.357801
3    127.302428  36.343706  ...  127.302428  36.343706
4    127.303293  36.344126  ...  127.303293  36.344126
..          ...        ...  ...         ...        ...
757  127.462773  36.315820  ...  127.462773  36.315820
758  127.463796  36.328983  ...  127.463796  36.328983
759  127.464157  36.287581  ...  127.464157  36.287581
760  127.465668  36.327180  ...  127.465668  36.327180
761  127.470424  36.282760  ...  127.470424  36.282760

[762 rows x 5 columns]

In [83]:
location['panorama'].drop_duplicates() #확인 완료

0                                 54tbUYef57t8d5_rxwsM4Q
1      CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2                                 Z6YCvGhdM7c5n8NEweO_Qw
3                                 Uk3Ki328nfIJcDS0p0eFjw
4      CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
                             ...
756                               X9HGAfnx8l2V5Tl1-0UxVA
757                               9nXvNDPq1Z7_BV3VkQUuWA
759    CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
760                               50n_At2HCikYnoqxLJV5Bg
761    CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...
Name: panorama, Length: 712, dtype: object

In [90]:
#중복된값 발라내기
dropthebeat=location['panorama'].value_counts()
dropthebeat=pd.DataFrame([dropthebeat])
dropthebeat=dropthebeat.T
dropthebeat

                                                    panorama
rvmcwZBLzyu_FY0F0KCWWA                                     4
CAoSLEFGMVFpcE9JVmxKd1FkakREWl94VXlmNjNfM0U2NHV...         3
jyztNbUZ4jy3qM5VLElmrw                                     3
CAoSLEFGMVFpcE5SUkcwbEFnZWk3bGNsaVdtODVGMW0xY1l...         3
vGPImehPxW1AhZ-VSWzE0A                                     3
...                                                      ...
iDF6yez2_pHMGMVB65zyJw                                     1
5sIV3XCeH5OnOIaHoMbsNQ                                     1
UtEgAwPfTcfgTt8HKs6TrA                                     1
Hk-Uv1PmlK-0k85aLPyXUw                                     1
7rgg-idxZKNnuwTEzhQD3w                                     1

[712 rows x 1 columns]

In [91]:
dropthebeat=dropthebeat[dropthebeat['panorama'] >=2]
dropthebeat=dropthebeat.reset_index()
dropthebeat

                                                index  panorama
0                              rvmcwZBLzyu_FY0F0KCWWA         4
1   CAoSLEFGMVFpcE9JVmxKd1FkakREWl94VXlmNjNfM0U2NH...         3
2                              jyztNbUZ4jy3qM5VLElmrw         3
3   CAoSLEFGMVFpcE5SUkcwbEFnZWk3bGNsaVdtODVGMW0xY1...         3
4                              vGPImehPxW1AhZ-VSWzE0A         3
5   CAoSLEFGMVFpcE0yb29aR0VJUkd4MGw2SVd1VF9TSVZnRW...         3
6                              ekPNWhIGyWazt2SfU3aASA         3
7                              hN4gA7fvsWb93fzTD6MBDw         2
8                              yvzPbil4eU_4JkkX7Zp3fQ         2
9   CAoSLEFGMVFpcFBWQm9rejB6TWh6LU9BcGQxd29aeWJSc1...         2
10                             7pRysOhRuBeKQ05jF6NopA         2
11                             9nXvNDPq1Z7_BV3VkQUuWA         2
12                             UEr1Jvu1CuydZTWDDBMDTQ         2
13                             fbOTTT7yBoHRGYw4aI-rYA         2
14  CAoSLEFGMVFpcE1NU2s3NTV5NHlMc2QtWWZWWXJpbnlBc3...         2
15                             yasLsylwtYLcd5GYHtuQsg         2
16                             td410LpCOHb2VdInsoPgGg         2
17                             VVMenD_tY9iWUfWk000HGQ         2
18  CAoSLEFGMVFpcE9GdVpKVzBzeEk4WnVWbXl1XzI4a0N2Xy...         2
19                             nu5XKEYYnVBZsLHH0I3HtA         2
20                             vTT_kNbaW_8GMLEMbRhgvA         2
21  CAoSLEFGMVFpcE5RNFJrUUtBQWkyaExmdlBIc2R1bWYyd2...         2
22  CAoSLEFGMVFpcFAyMzdMRDNPWDlqTGlJdEtPUmNfN0UwaT...         2
23                             gHif2pz5sUIqVkecpPAqZQ         2
24                             wWSs1bzaSbzhbF5Oz8qN0Q         2
25                             0MNVpD6KtLBZUR7zm9NVzA         2
26                             VIV5aQudnqmIqHNw4F6L4Q         2
27                             yAGCpATcou1LA8Vpbu9YzA         2
28                             CCgBGeAWAFPwpBugiC9AWA         2
29                             tTLtNFCEGcMQqrG9D5JjQw         2
30                             2Kc3lposw-4bDY14L5wv_w         2
31                             PaXEhVbDjvBBznH55R2-6A         2
32                             r83HMxeE7CP2bd5JqgDT0A         2
33                             qXMvrwi46m4oX0OgukCWEg         2
34                             ttWQLd3w6tNAI0IeFfoLLg         2
35                             4o0ATzyEDtGPDqArj019UQ         2
36                             7H8vNZsEQVEGPTOIFmzsSg         2
37                             DepJmedBbCnZCvrOvXjV1g         2
38                             S0VIVYb_v15leLGavfu7sw         2
39                             06NkyaXb35k5pwrWH66t8g         2
40                             I-ejyNzeQSxtSZ8MUSUL1A         2
41                             CXFa3dUhRmIt7pyb_7VAQA         2

In [97]:
empty=pd.DataFrame()
for pizza in dropthebeat['index']:
  print(pizza)
  indra=location[location['panorama'] == pizza].index
  indra=pd.DataFrame([indra])
  empty=pd.concat([empty,indra],axis=0)

rvmcwZBLzyu_FY0F0KCWWA
CAoSLEFGMVFpcE9JVmxKd1FkakREWl94VXlmNjNfM0U2NHVBMG9XbFFSM3p6NXZr
jyztNbUZ4jy3qM5VLElmrw
CAoSLEFGMVFpcE5SUkcwbEFnZWk3bGNsaVdtODVGMW0xY1lnUWRPQ3hrcGZYOWlp
vGPImehPxW1AhZ-VSWzE0A
CAoSLEFGMVFpcE0yb29aR0VJUkd4MGw2SVd1VF9TSVZnRW91SEpQRWJ2MjZpVGFK
ekPNWhIGyWazt2SfU3aASA
hN4gA7fvsWb93fzTD6MBDw
yvzPbil4eU_4JkkX7Zp3fQ
CAoSLEFGMVFpcFBWQm9rejB6TWh6LU9BcGQxd29aeWJSc1JVYzNSSUdLSHRUWG9s
7pRysOhRuBeKQ05jF6NopA
9nXvNDPq1Z7_BV3VkQUuWA
UEr1Jvu1CuydZTWDDBMDTQ
fbOTTT7yBoHRGYw4aI-rYA
CAoSLEFGMVFpcE1NU2s3NTV5NHlMc2QtWWZWWXJpbnlBc3BIemZaWmFha3l4SC1R
yasLsylwtYLcd5GYHtuQsg
td410LpCOHb2VdInsoPgGg
VVMenD_tY9iWUfWk000HGQ
CAoSLEFGMVFpcE9GdVpKVzBzeEk4WnVWbXl1XzI4a0N2Xy1yTmhQeGRBWUkwc0w5
nu5XKEYYnVBZsLHH0I3HtA
vTT_kNbaW_8GMLEMbRhgvA
CAoSLEFGMVFpcE5RNFJrUUtBQWkyaExmdlBIc2R1bWYyd2Q1VVJLTTNVeWxVTFc3
CAoSLEFGMVFpcFAyMzdMRDNPWDlqTGlJdEtPUmNfN0UwaTZIUWJYbnVaTklyUjNQ
gHif2pz5sUIqVkecpPAqZQ
wWSs1bzaSbzhbF5Oz8qN0Q
0MNVpD6KtLBZUR7zm9NVzA
VIV5aQudnqmIqHNw4F6L4Q
yAGCpATcou1LA8Vpbu9YzA
CCgBGeAWAFPwpBugiC9AWA
tTLtNFCEGcMQqrG9D5JjQw
2Kc3lposw-4bDY14L5wv_w
PaXEhVbDjvBBznH55R2-6A
r83HMxeE7CP2bd5JqgDT0A
qXMvrwi46m4oX0OgukCWEg
ttWQLd3w6tNAI0IeFfoLLg
4o0ATzyEDtGPDqArj019UQ
7H8vNZsEQVEGPTOIFmzsSg
DepJmedBbCnZCvrOvXjV1g
S0VIVYb_v15leLGavfu7sw
06NkyaXb35k5pwrWH66t8g
I-ejyNzeQSxtSZ8MUSUL1A
CXFa3dUhRmIt7pyb_7VAQA

In [99]:
empty # 첫열을 날려버리면 결측값으로 만들 index 확보

     0    1      2      3
0  657  658  659.0  660.0
0  627  628  629.0    NaN
0  591  592  593.0    NaN
0  654  655  656.0    NaN
0  742  743  744.0    NaN
0  702  703  704.0    NaN
0  624  625  626.0    NaN
0  564  565    NaN    NaN
0  444  445    NaN    NaN
0  698  699    NaN    NaN
0  474  475    NaN    NaN
0  757  758    NaN    NaN
0  644  645    NaN    NaN
0  648  649    NaN    NaN
0  717  718    NaN    NaN
0  117  118    NaN    NaN
0  583  584    NaN    NaN
0  670  671    NaN    NaN
0  489  490    NaN    NaN
0  675  676    NaN    NaN
0  633  634    NaN    NaN
0  383  384    NaN    NaN
0  561  562    NaN    NaN
0  567  568    NaN    NaN
0  447  448    NaN    NaN
0  535  536    NaN    NaN
0  638  639    NaN    NaN
0  746  747    NaN    NaN
0  551  552    NaN    NaN
0  577  578    NaN    NaN
0  753  754    NaN    NaN
0  751  752    NaN    NaN
0  256  271    NaN    NaN
0  708  709    NaN    NaN
0  706  707    NaN    NaN
0  662  663    NaN    NaN
0  540  541    NaN    NaN
0  181  182    NaN    NaN
0  449  450    NaN    NaN
0  267  268    NaN    NaN
0  665  666    NaN    NaN
0  242  245    NaN    NaN

In [100]:
empty=empty.drop([0],axis=1)
empty

     1      2      3
0  658  659.0  660.0
0  628  629.0    NaN
0  592  593.0    NaN
0  655  656.0    NaN
0  743  744.0    NaN
0  703  704.0    NaN
0  625  626.0    NaN
0  565    NaN    NaN
0  445    NaN    NaN
0  699    NaN    NaN
0  475    NaN    NaN
0  758    NaN    NaN
0  645    NaN    NaN
0  649    NaN    NaN
0  718    NaN    NaN
0  118    NaN    NaN
0  584    NaN    NaN
0  671    NaN    NaN
0  490    NaN    NaN
0  676    NaN    NaN
0  634    NaN    NaN
0  384    NaN    NaN
0  562    NaN    NaN
0  568    NaN    NaN
0  448    NaN    NaN
0  536    NaN    NaN
0  639    NaN    NaN
0  747    NaN    NaN
0  552    NaN    NaN
0  578    NaN    NaN
0  754    NaN    NaN
0  752    NaN    NaN
0  271    NaN    NaN
0  709    NaN    NaN
0  707    NaN    NaN
0  663    NaN    NaN
0  541    NaN    NaN
0  182    NaN    NaN
0  450    NaN    NaN
0  268    NaN    NaN
0  666    NaN    NaN
0  245    NaN    NaN

In [105]:
empty_drop=empty.dropna()
empty_drop

     1      2      3
0  658  659.0  660.0

In [136]:
import numpy as np #결측값으로 만들어버리는 과정
for n in empty[1]:
  location['panorama'].loc[n] = np.nan

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [138]:
empty_drop2=empty[2].dropna()
for n2 in empty_drop2:
  location['panorama'].loc[n2] = np.nan

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [139]:
empty_drop3=empty[3].dropna()
for n3 in empty_drop3:
  location['panorama'].loc[n3] = np.nan

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [140]:
location

              x          y  ...         d_x        d_y
0    127.301355  36.337887  ...  127.301355  36.337887
1    127.302159  36.388794  ...  127.302159  36.388794
2    127.302358  36.357801  ...  127.302358  36.357801
3    127.302428  36.343706  ...  127.302428  36.343706
4    127.303293  36.344126  ...  127.303293  36.344126
..          ...        ...  ...         ...        ...
757  127.462773  36.315820  ...  127.462773  36.315820
758  127.463796  36.328983  ...  127.463796  36.328983
759  127.464157  36.287581  ...  127.464157  36.287581
760  127.465668  36.327180  ...  127.465668  36.327180
761  127.470424  36.282760  ...  127.470424  36.282760

[762 rows x 5 columns]

In [141]:
location.to_csv('./Daejeon_final.csv',encoding='utf-8-sig')

In [143]:
#파이참으로 그린인덱스 추출을 위한 경도,위도,파노라마 분리된 데이터셋 뽑아내기
panora['p']=em
panora

              x          y                                                  p
0    127.301109  36.338152                             54tbUYef57t8d5_rxwsM4Q
1    127.301958  36.388563  CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2    127.302601  36.358149                             Z6YCvGhdM7c5n8NEweO_Qw
3    127.302877  36.343933                             Uk3Ki328nfIJcDS0p0eFjw
4    127.303120  36.344254  CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..          ...        ...                                                ...
707  127.462399  36.317706                             X9HGAfnx8l2V5Tl1-0UxVA
708  127.462510  36.320795                             tdHNZqxq8gvBAI3npaMoWw
709  127.464166  36.287657  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
710  127.466391  36.327242                             50n_At2HCikYnoqxLJV5Bg
711  127.470209  36.282699  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[712 rows x 3 columns]

In [144]:
panora.to_csv('./log_lat_p.csv',encoding='utf-8-sig')

In [146]:
a6=pd.read_csv('./log_lat_p.csv')
a6=a6.drop(['Unnamed: 0'],axis=1)
a6

              x          y                                                  p
0    127.301109  36.338152                             54tbUYef57t8d5_rxwsM4Q
1    127.301958  36.388563  CAoSK0FGMVFpcFBFNmtvalNabXktOC1YWkFSZGlhdFNvOU...
2    127.302601  36.358149                             Z6YCvGhdM7c5n8NEweO_Qw
3    127.302877  36.343933                             Uk3Ki328nfIJcDS0p0eFjw
4    127.303120  36.344254  CAoSLEFGMVFpcE1qQlh0al9tTkN5LU9IZjlteU56c3Z1Yk...
..          ...        ...                                                ...
707  127.462399  36.317706                             X9HGAfnx8l2V5Tl1-0UxVA
708  127.462510  36.320795                             tdHNZqxq8gvBAI3npaMoWw
709  127.464166  36.287657  CAoSLEFGMVFpcE5STUtpTFNPOFVEUTltVk5TUU1WZ1FndW...
710  127.466391  36.327242                             50n_At2HCikYnoqxLJV5Bg
711  127.470209  36.282699  CAoSLEFGMVFpcFBocE5TRE1oMWkyUF9FbmpobVFhb2NRWn...

[712 rows x 3 columns]