In [172]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import tensorflow as tf
from tensorflow import keras

# 데이터셋 불러오기

In [173]:
train=pd.read_csv('./train.csv')
test=pd.read_csv('./test.csv')

# 결측값 확인하기

In [174]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [175]:
# 데이터 정리는 내가 해놨던거 참고
train_x=train

# 날릴거 날리고 채울거 채우기

In [176]:
train_x=train_x.drop(['Ticket','Name','Cabin','PassengerId','Parch'],axis=1)
train_x

     Survived  Pclass     Sex   Age  SibSp     Fare Embarked
0           0       3    male  22.0      1   7.2500        S
1           1       1  female  38.0      1  71.2833        C
2           1       3  female  26.0      0   7.9250        S
3           1       1  female  35.0      1  53.1000        S
4           0       3    male  35.0      0   8.0500        S
..        ...     ...     ...   ...    ...      ...      ...
886         0       2    male  27.0      0  13.0000        S
887         1       1  female  19.0      0  30.0000        S
888         0       3  female   NaN      1  23.4500        S
889         1       1    male  26.0      0  30.0000        C
890         0       3    male  32.0      0   7.7500        Q

[891 rows x 7 columns]

In [177]:
mean_age=train_x['Age'].fillna(train_x['Age'].mean())
median_age=train_x['Age'].fillna(train_x['Age'].median())

In [178]:
train_mean_x=train_x
train_median_x=train_x

In [179]:
train_mean_x['Age']=mean_age
train_mean_x=train_mean_x.dropna()
train_mean_x=train_mean_x.reset_index()
train_mean_x=train_mean_x.drop(['index'],axis=1)

In [180]:
train_median_x['Age']=median_age
train_median_x=train_median_x.dropna()
train_median_x=train_median_x.reset_index()
train_median_x=train_median_x.drop(['index'],axis=1)

In [181]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
category=encoder.fit_transform(train_mean_x[['Sex','Embarked']])
category=pd.DataFrame(category)
category.columns=['Sex','Embarked']
category

     Sex  Embarked
0    1.0       2.0
1    0.0       0.0
2    0.0       2.0
3    0.0       2.0
4    1.0       2.0
..   ...       ...
884  1.0       2.0
885  0.0       2.0
886  0.0       2.0
887  1.0       0.0
888  1.0       1.0

[889 rows x 2 columns]

In [182]:
encoder = OrdinalEncoder()
category1=encoder.fit_transform(train_median_x[['Sex','Embarked']])
category1=pd.DataFrame(category1)
category1.columns=['Sex','Embarked']
category1

     Sex  Embarked
0    1.0       2.0
1    0.0       0.0
2    0.0       2.0
3    0.0       2.0
4    1.0       2.0
..   ...       ...
884  1.0       2.0
885  0.0       2.0
886  0.0       2.0
887  1.0       0.0
888  1.0       1.0

[889 rows x 2 columns]

In [183]:
train_mean_x['Sex']=category['Sex']
train_mean_x['Embarked']=category['Embarked']

train_median_x['Sex'] = category1['Sex']
train_median_x['Embarked'] = category1['Embarked']

In [184]:
train_mean_x

     Survived  Pclass  Sex        Age  SibSp     Fare  Embarked
0           0       3  1.0  22.000000      1   7.2500       2.0
1           1       1  0.0  38.000000      1  71.2833       0.0
2           1       3  0.0  26.000000      0   7.9250       2.0
3           1       1  0.0  35.000000      1  53.1000       2.0
4           0       3  1.0  35.000000      0   8.0500       2.0
..        ...     ...  ...        ...    ...      ...       ...
884         0       2  1.0  27.000000      0  13.0000       2.0
885         1       1  0.0  19.000000      0  30.0000       2.0
886         0       3  0.0  29.699118      1  23.4500       2.0
887         1       1  1.0  26.000000      0  30.0000       0.0
888         0       3  1.0  32.000000      0   7.7500       1.0

[889 rows x 7 columns]

In [185]:
train_median_x

     Survived  Pclass  Sex   Age  SibSp     Fare  Embarked
0           0       3  1.0  22.0      1   7.2500       2.0
1           1       1  0.0  38.0      1  71.2833       0.0
2           1       3  0.0  26.0      0   7.9250       2.0
3           1       1  0.0  35.0      1  53.1000       2.0
4           0       3  1.0  35.0      0   8.0500       2.0
..        ...     ...  ...   ...    ...      ...       ...
884         0       2  1.0  27.0      0  13.0000       2.0
885         1       1  0.0  19.0      0  30.0000       2.0
886         0       3  0.0  28.0      1  23.4500       2.0
887         1       1  1.0  26.0      0  30.0000       0.0
888         0       3  1.0  32.0      0   7.7500       1.0

[889 rows x 7 columns]

In [186]:
from sklearn.preprocessing import MinMaxScaler

Scaler = MinMaxScaler()
train_mean_y=train_mean_x['Survived']
train_mean_x=train_mean_x.drop(['Survived'],axis=1)
mean_scaler=Scaler.fit_transform(train_mean_x)
mean_scaler=pd.DataFrame(mean_scaler)
mean_scaler.columns=['Pclass','Sex','Age','SibSp','Fare','Embarked']
mean_scaler

     Pclass  Sex       Age  SibSp      Fare  Embarked
0       1.0  1.0  0.271174  0.125  0.014151       1.0
1       0.0  0.0  0.472229  0.125  0.139136       0.0
2       1.0  0.0  0.321438  0.000  0.015469       1.0
3       0.0  0.0  0.434531  0.125  0.103644       1.0
4       1.0  1.0  0.434531  0.000  0.015713       1.0
..      ...  ...       ...    ...       ...       ...
884     0.5  1.0  0.334004  0.000  0.025374       1.0
885     0.0  0.0  0.233476  0.000  0.058556       1.0
886     1.0  0.0  0.367921  0.125  0.045771       1.0
887     0.0  1.0  0.321438  0.000  0.058556       0.0
888     1.0  1.0  0.396833  0.000  0.015127       0.5

[889 rows x 6 columns]

In [187]:
Scaler = MinMaxScaler()
train_median_y=train_median_x['Survived']
train_median_x=train_median_x.drop(['Survived'],axis=1)
median_scaler=Scaler.fit_transform(train_median_x)
median_scaler=pd.DataFrame(median_scaler)
median_scaler.columns=['Pclass','Sex','Age','SibSp','Fare','Embarked']
median_scaler

     Pclass  Sex       Age  SibSp      Fare  Embarked
0       1.0  1.0  0.271174  0.125  0.014151       1.0
1       0.0  0.0  0.472229  0.125  0.139136       0.0
2       1.0  0.0  0.321438  0.000  0.015469       1.0
3       0.0  0.0  0.434531  0.125  0.103644       1.0
4       1.0  1.0  0.434531  0.000  0.015713       1.0
..      ...  ...       ...    ...       ...       ...
884     0.5  1.0  0.334004  0.000  0.025374       1.0
885     0.0  0.0  0.233476  0.000  0.058556       1.0
886     1.0  0.0  0.346569  0.125  0.045771       1.0
887     0.0  1.0  0.321438  0.000  0.058556       0.0
888     1.0  1.0  0.396833  0.000  0.015127       0.5

[889 rows x 6 columns]

In [188]:
train_mean_x,valid_mean_x,train_mean_y,valid_mean_y=train_test_split(mean_scaler,train_mean_y,test_size=0.2,random_state=42)
i_input=keras.layers.Input(shape=train_mean_x.shape[1:])
hidden1=keras.layers.Dense(16, activation='relu')(i_input)
hidden2=keras.layers.Dense(32, activation='relu')(hidden1)
hidden3=keras.layers.Dense(64, activation='relu')(hidden2)
hidden4=keras.layers.Dense(128, activation='relu')(hidden3)
hidden5=keras.layers.Dense(128, activation='relu')(hidden4)
i_concat=keras.layers.Concatenate()([i_input,hidden5])
i_output=keras.layers.Dense(1,activation='sigmoid')(i_concat)
i_model=keras.Model(inputs=[i_input], outputs=[i_output])
adam=keras.optimizers.Adamax(lr=0.03)
i_model.compile(loss='binary_crossentropy', optimizer=adam, metrics=['accuracy'])
i_history = i_model.fit(train_mean_x, train_mean_y, epochs=1000, 
                   batch_size=20,callbacks=[keras.callbacks.EarlyStopping(patience=100, 
                   restore_best_weights=True)], validation_data=(valid_mean_x,valid_mean_y), verbose=1)
DNN_evaluation=i_model.evaluate(valid_mean_x,valid_mean_y)

Epoch 1/1000
36/36 [==============================] - 1s 8ms/step - loss: 0.6265 - accuracy: 0.6318 - val_loss: 0.4694 - val_accuracy: 0.8034
Epoch 2/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4495 - accuracy: 0.8095 - val_loss: 0.4563 - val_accuracy: 0.7978
Epoch 3/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4511 - accuracy: 0.8052 - val_loss: 0.4521 - val_accuracy: 0.8034
Epoch 4/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4079 - accuracy: 0.8190 - val_loss: 0.4919 - val_accuracy: 0.7978
Epoch 5/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4406 - accuracy: 0.8217 - val_loss: 0.4638 - val_accuracy: 0.8034
Epoch 6/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4061 - accuracy: 0.8270 - val_loss: 0.4666 - val_accuracy: 0.7978
Epoch 7/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3964 - accuracy: 0.8182 - val_loss: 0.4827 - val_accuracy: 0.8090
Epoch 8/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4490 - accuracy: 0.8064 - val_loss: 0.5065 - val_accuracy: 0.7978
Epoch 9/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4045 - accuracy: 0.8279 - val_loss: 0.4657 - val_accuracy: 0.8034
Epoch 10/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4165 - accuracy: 0.8087 - val_loss: 0.4742 - val_accuracy: 0.8034
Epoch 11/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4366 - accuracy: 0.8072 - val_loss: 0.4844 - val_accuracy: 0.8034
Epoch 12/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4560 - accuracy: 0.8001 - val_loss: 0.5228 - val_accuracy: 0.8202
Epoch 13/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4193 - accuracy: 0.8183 - val_loss: 0.5324 - val_accuracy: 0.8146
Epoch 14/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3985 - accuracy: 0.8082 - val_loss: 0.5648 - val_accuracy: 0.8146
Epoch 15/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4190 - accuracy: 0.8195 - val_loss: 0.5032 - val_accuracy: 0.8090
Epoch 16/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4062 - accuracy: 0.8231 - val_loss: 0.4914 - val_accuracy: 0.8202
Epoch 17/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3724 - accuracy: 0.8539 - val_loss: 0.5145 - val_accuracy: 0.8146
Epoch 18/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3640 - accuracy: 0.8718 - val_loss: 0.4988 - val_accuracy: 0.7978
Epoch 19/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3840 - accuracy: 0.8465 - val_loss: 0.4916 - val_accuracy: 0.8090
Epoch 20/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3622 - accuracy: 0.8632 - val_loss: 0.5085 - val_accuracy: 0.8202
Epoch 21/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3826 - accuracy: 0.8367 - val_loss: 0.6959 - val_accuracy: 0.7978
Epoch 22/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4075 - accuracy: 0.8027 - val_loss: 0.6446 - val_accuracy: 0.8034
Epoch 23/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4197 - accuracy: 0.8016 - val_loss: 0.6566 - val_accuracy: 0.8258
Epoch 24/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4115 - accuracy: 0.8165 - val_loss: 0.5956 - val_accuracy: 0.8202
Epoch 25/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3752 - accuracy: 0.8427 - val_loss: 0.5509 - val_accuracy: 0.8202
Epoch 26/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3986 - accuracy: 0.8396 - val_loss: 0.5716 - val_accuracy: 0.8202
Epoch 27/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3876 - accuracy: 0.8316 - val_loss: 0.5297 - val_accuracy: 0.8258
Epoch 28/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4005 - accuracy: 0.8342 - val_loss: 0.5311 - val_accuracy: 0.8202
Epoch 29/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4012 - accuracy: 0.8385 - val_loss: 0.5906 - val_accuracy: 0.8258
Epoch 30/1000
36/36 [==============================] - 0s 7ms/step - loss: 0.3634 - accuracy: 0.8562 - val_loss: 0.5472 - val_accuracy: 0.8146
Epoch 31/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3915 - accuracy: 0.8396 - val_loss: 0.5987 - val_accuracy: 0.8315
Epoch 32/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3828 - accuracy: 0.8350 - val_loss: 0.5922 - val_accuracy: 0.8258
Epoch 33/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3794 - accuracy: 0.8496 - val_loss: 0.5711 - val_accuracy: 0.8258
Epoch 34/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4034 - accuracy: 0.8360 - val_loss: 0.6213 - val_accuracy: 0.8202
Epoch 35/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3747 - accuracy: 0.8446 - val_loss: 0.6626 - val_accuracy: 0.8258
Epoch 36/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3876 - accuracy: 0.8106 - val_loss: 0.6510 - val_accuracy: 0.8258
Epoch 37/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4005 - accuracy: 0.8371 - val_loss: 0.5973 - val_accuracy: 0.8202
Epoch 38/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3541 - accuracy: 0.8507 - val_loss: 0.6975 - val_accuracy: 0.8202
Epoch 39/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3851 - accuracy: 0.8314 - val_loss: 0.7742 - val_accuracy: 0.8202
Epoch 40/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3624 - accuracy: 0.8429 - val_loss: 0.6659 - val_accuracy: 0.8258
Epoch 41/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3939 - accuracy: 0.8287 - val_loss: 0.5904 - val_accuracy: 0.8202
Epoch 42/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3777 - accuracy: 0.8503 - val_loss: 0.7150 - val_accuracy: 0.8090
Epoch 43/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3920 - accuracy: 0.8367 - val_loss: 0.9250 - val_accuracy: 0.8090
Epoch 44/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3890 - accuracy: 0.8356 - val_loss: 0.7595 - val_accuracy: 0.8146
Epoch 45/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4043 - accuracy: 0.8308 - val_loss: 0.7941 - val_accuracy: 0.8146
Epoch 46/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3907 - accuracy: 0.8445 - val_loss: 0.7592 - val_accuracy: 0.8258
Epoch 47/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3406 - accuracy: 0.8660 - val_loss: 0.7988 - val_accuracy: 0.8258
Epoch 48/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3778 - accuracy: 0.8411 - val_loss: 0.9089 - val_accuracy: 0.8146
Epoch 49/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3876 - accuracy: 0.8320 - val_loss: 0.7670 - val_accuracy: 0.8090
Epoch 50/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4004 - accuracy: 0.8376 - val_loss: 0.8405 - val_accuracy: 0.8202
Epoch 51/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4206 - accuracy: 0.8269 - val_loss: 0.7659 - val_accuracy: 0.8258
Epoch 52/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3822 - accuracy: 0.8455 - val_loss: 0.6854 - val_accuracy: 0.8034
Epoch 53/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3678 - accuracy: 0.8431 - val_loss: 0.6677 - val_accuracy: 0.8202
Epoch 54/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3692 - accuracy: 0.8318 - val_loss: 0.7326 - val_accuracy: 0.8146
Epoch 55/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3866 - accuracy: 0.8214 - val_loss: 0.8471 - val_accuracy: 0.8090
Epoch 56/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3602 - accuracy: 0.8548 - val_loss: 0.7183 - val_accuracy: 0.8202
Epoch 57/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3722 - accuracy: 0.8460 - val_loss: 0.8781 - val_accuracy: 0.8146
Epoch 58/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3253 - accuracy: 0.8747 - val_loss: 0.8280 - val_accuracy: 0.8202
Epoch 59/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3692 - accuracy: 0.8436 - val_loss: 0.8011 - val_accuracy: 0.8258
Epoch 60/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3576 - accuracy: 0.8647 - val_loss: 0.7856 - val_accuracy: 0.8090
Epoch 61/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3585 - accuracy: 0.8424 - val_loss: 0.9496 - val_accuracy: 0.8090
Epoch 62/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3611 - accuracy: 0.8418 - val_loss: 0.8541 - val_accuracy: 0.8034
Epoch 63/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3574 - accuracy: 0.8465 - val_loss: 0.8665 - val_accuracy: 0.8034
Epoch 64/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3665 - accuracy: 0.8522 - val_loss: 0.9820 - val_accuracy: 0.8090
Epoch 65/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3918 - accuracy: 0.8329 - val_loss: 0.7856 - val_accuracy: 0.8146
Epoch 66/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3292 - accuracy: 0.8549 - val_loss: 0.8153 - val_accuracy: 0.8258
Epoch 67/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3808 - accuracy: 0.8434 - val_loss: 0.7416 - val_accuracy: 0.7978
Epoch 68/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3709 - accuracy: 0.8412 - val_loss: 1.0612 - val_accuracy: 0.8090
Epoch 69/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3867 - accuracy: 0.8272 - val_loss: 1.0688 - val_accuracy: 0.8258
Epoch 70/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3682 - accuracy: 0.8365 - val_loss: 0.9212 - val_accuracy: 0.8090
Epoch 71/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3826 - accuracy: 0.8320 - val_loss: 1.0864 - val_accuracy: 0.7921
Epoch 72/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3766 - accuracy: 0.8313 - val_loss: 0.7709 - val_accuracy: 0.8090
Epoch 73/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3557 - accuracy: 0.8552 - val_loss: 0.8904 - val_accuracy: 0.8146
Epoch 74/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3668 - accuracy: 0.8361 - val_loss: 0.8335 - val_accuracy: 0.8258
Epoch 75/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3427 - accuracy: 0.8464 - val_loss: 0.7502 - val_accuracy: 0.7978
Epoch 76/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3597 - accuracy: 0.8418 - val_loss: 0.9769 - val_accuracy: 0.7921
Epoch 77/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3538 - accuracy: 0.8447 - val_loss: 0.9389 - val_accuracy: 0.8146
Epoch 78/1000
36/36 [==============================] - 0s 6ms/step - loss: 0.3884 - accuracy: 0.8463 - val_loss: 1.2462 - val_accuracy: 0.8146
Epoch 79/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3960 - accuracy: 0.8269 - val_loss: 0.9655 - val_accuracy: 0.8090
Epoch 80/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3595 - accuracy: 0.8529 - val_loss: 0.7679 - val_accuracy: 0.8202
Epoch 81/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3460 - accuracy: 0.8560 - val_loss: 0.8300 - val_accuracy: 0.8315
Epoch 82/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3866 - accuracy: 0.8382 - val_loss: 0.9763 - val_accuracy: 0.7921
Epoch 83/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8535 - val_loss: 0.9436 - val_accuracy: 0.8146
Epoch 84/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8565 - val_loss: 1.1395 - val_accuracy: 0.8315
Epoch 85/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3929 - accuracy: 0.8504 - val_loss: 0.7535 - val_accuracy: 0.8202
Epoch 86/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3380 - accuracy: 0.8645 - val_loss: 0.7975 - val_accuracy: 0.8090
Epoch 87/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3579 - accuracy: 0.8386 - val_loss: 0.7908 - val_accuracy: 0.8146
Epoch 88/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3837 - accuracy: 0.8353 - val_loss: 0.9109 - val_accuracy: 0.7809
Epoch 89/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3791 - accuracy: 0.8343 - val_loss: 0.8488 - val_accuracy: 0.8090
Epoch 90/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3714 - accuracy: 0.8232 - val_loss: 0.9480 - val_accuracy: 0.8090
Epoch 91/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3399 - accuracy: 0.8650 - val_loss: 0.8703 - val_accuracy: 0.7865
Epoch 92/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3845 - accuracy: 0.8396 - val_loss: 0.9670 - val_accuracy: 0.7978
Epoch 93/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3553 - accuracy: 0.8621 - val_loss: 0.9202 - val_accuracy: 0.8146
Epoch 94/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3484 - accuracy: 0.8477 - val_loss: 0.9479 - val_accuracy: 0.8146
Epoch 95/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3484 - accuracy: 0.8613 - val_loss: 0.7838 - val_accuracy: 0.7978
Epoch 96/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3731 - accuracy: 0.8426 - val_loss: 1.0437 - val_accuracy: 0.7865
Epoch 97/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3374 - accuracy: 0.8625 - val_loss: 0.9701 - val_accuracy: 0.7921
Epoch 98/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3710 - accuracy: 0.8503 - val_loss: 0.8667 - val_accuracy: 0.7978
Epoch 99/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3808 - accuracy: 0.8345 - val_loss: 0.9180 - val_accuracy: 0.8202
Epoch 100/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3612 - accuracy: 0.8475 - val_loss: 1.1111 - val_accuracy: 0.8258
Epoch 101/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3556 - accuracy: 0.8433 - val_loss: 1.1046 - val_accuracy: 0.8146
Epoch 102/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3264 - accuracy: 0.8724 - val_loss: 0.8567 - val_accuracy: 0.8202
Epoch 103/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3249 - accuracy: 0.8620 - val_loss: 0.9353 - val_accuracy: 0.8034
6/6 [==============================] - 0s 2ms/step - loss: 0.4521 - accuracy: 0.8034

In [189]:
train_median_x,valid_median_x,train_median_y,valid_median_y=train_test_split(median_scaler,train_median_y,test_size=0.2,random_state=42)
i_input=keras.layers.Input(shape=train_median_x.shape[1:])
hidden1=keras.layers.Dense(64, activation='relu')(i_input)
hidden2=keras.layers.Dense(64, activation='relu')(hidden1)
hidden3=keras.layers.Dense(64, activation='relu')(hidden2)
hidden4=keras.layers.Dense(64, activation='relu')(hidden3)
hidden5=keras.layers.Dense(64, activation='relu')(hidden4)
i_concat=keras.layers.Concatenate()([i_input,hidden5])
i_output=keras.layers.Dense(1,activation='sigmoid')(i_concat)
i_model=keras.Model(inputs=[i_input], outputs=[i_output])
adam=keras.optimizers.Adamax(lr=0.03)
i_model.compile(loss='binary_crossentropy', optimizer=adam, metrics=['accuracy'])
i_history = i_model.fit(train_median_x, train_median_y, epochs=1000, 
                   batch_size=20,callbacks=[keras.callbacks.EarlyStopping(patience=100, 
                   restore_best_weights=True)], validation_data=(valid_median_x,valid_median_y), verbose=1)
DNN_evaluation=i_model.evaluate(valid_median_x,valid_median_y)

Epoch 1/1000
36/36 [==============================] - 1s 8ms/step - loss: 0.5777 - accuracy: 0.6981 - val_loss: 0.4744 - val_accuracy: 0.7978
Epoch 2/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4646 - accuracy: 0.7785 - val_loss: 0.4713 - val_accuracy: 0.7978
Epoch 3/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4359 - accuracy: 0.8021 - val_loss: 0.4663 - val_accuracy: 0.8090
Epoch 4/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4468 - accuracy: 0.8066 - val_loss: 0.4753 - val_accuracy: 0.8202
Epoch 5/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4502 - accuracy: 0.8075 - val_loss: 0.4878 - val_accuracy: 0.8146
Epoch 6/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4078 - accuracy: 0.8018 - val_loss: 0.4954 - val_accuracy: 0.8090
Epoch 7/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4303 - accuracy: 0.8268 - val_loss: 0.5126 - val_accuracy: 0.8146
Epoch 8/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4594 - accuracy: 0.7888 - val_loss: 0.5066 - val_accuracy: 0.7921
Epoch 9/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4191 - accuracy: 0.8254 - val_loss: 0.4677 - val_accuracy: 0.8146
Epoch 10/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4180 - accuracy: 0.8111 - val_loss: 0.5197 - val_accuracy: 0.8090
Epoch 11/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4072 - accuracy: 0.8318 - val_loss: 0.4690 - val_accuracy: 0.8202
Epoch 12/1000
36/36 [==============================] - 0s 7ms/step - loss: 0.4307 - accuracy: 0.7954 - val_loss: 0.6304 - val_accuracy: 0.8146
Epoch 13/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4361 - accuracy: 0.8184 - val_loss: 0.5933 - val_accuracy: 0.7753
Epoch 14/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4391 - accuracy: 0.8094 - val_loss: 0.5409 - val_accuracy: 0.8146
Epoch 15/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4372 - accuracy: 0.8157 - val_loss: 0.5111 - val_accuracy: 0.8146
Epoch 16/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4160 - accuracy: 0.8375 - val_loss: 0.5190 - val_accuracy: 0.8090
Epoch 17/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3921 - accuracy: 0.8339 - val_loss: 0.5327 - val_accuracy: 0.8146
Epoch 18/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3808 - accuracy: 0.8382 - val_loss: 0.4957 - val_accuracy: 0.8258
Epoch 19/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3889 - accuracy: 0.8339 - val_loss: 0.5657 - val_accuracy: 0.8258
Epoch 20/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4193 - accuracy: 0.8186 - val_loss: 0.5664 - val_accuracy: 0.8258
Epoch 21/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3747 - accuracy: 0.8424 - val_loss: 0.5419 - val_accuracy: 0.8202
Epoch 22/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3809 - accuracy: 0.8419 - val_loss: 0.4847 - val_accuracy: 0.8146
Epoch 23/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3863 - accuracy: 0.8433 - val_loss: 0.5360 - val_accuracy: 0.8315
Epoch 24/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3726 - accuracy: 0.8245 - val_loss: 0.5381 - val_accuracy: 0.8258
Epoch 25/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3987 - accuracy: 0.8289 - val_loss: 0.5678 - val_accuracy: 0.8202
Epoch 26/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3883 - accuracy: 0.8250 - val_loss: 0.6908 - val_accuracy: 0.8202
Epoch 27/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3858 - accuracy: 0.8373 - val_loss: 0.5684 - val_accuracy: 0.8315
Epoch 28/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4034 - accuracy: 0.8164 - val_loss: 0.5459 - val_accuracy: 0.8146
Epoch 29/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4114 - accuracy: 0.8325 - val_loss: 0.7060 - val_accuracy: 0.8258
Epoch 30/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4242 - accuracy: 0.8236 - val_loss: 0.6709 - val_accuracy: 0.8202
Epoch 31/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3766 - accuracy: 0.8412 - val_loss: 0.6168 - val_accuracy: 0.8258
Epoch 32/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3866 - accuracy: 0.8437 - val_loss: 0.6446 - val_accuracy: 0.8146
Epoch 33/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3847 - accuracy: 0.8308 - val_loss: 0.6045 - val_accuracy: 0.8258
Epoch 34/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3761 - accuracy: 0.8481 - val_loss: 0.5950 - val_accuracy: 0.8258
Epoch 35/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3611 - accuracy: 0.8383 - val_loss: 0.5996 - val_accuracy: 0.8202
Epoch 36/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3808 - accuracy: 0.8277 - val_loss: 0.6692 - val_accuracy: 0.8090
Epoch 37/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4055 - accuracy: 0.8234 - val_loss: 0.6896 - val_accuracy: 0.8090
Epoch 38/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3970 - accuracy: 0.8360 - val_loss: 0.7815 - val_accuracy: 0.8202
Epoch 39/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3700 - accuracy: 0.8372 - val_loss: 0.5947 - val_accuracy: 0.8258
Epoch 40/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8570 - val_loss: 0.7026 - val_accuracy: 0.8202
Epoch 41/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3800 - accuracy: 0.8361 - val_loss: 0.8551 - val_accuracy: 0.8258
Epoch 42/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3737 - accuracy: 0.8463 - val_loss: 0.6743 - val_accuracy: 0.8034
Epoch 43/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3925 - accuracy: 0.8368 - val_loss: 0.7244 - val_accuracy: 0.8202
Epoch 44/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3790 - accuracy: 0.8427 - val_loss: 0.6656 - val_accuracy: 0.8258
Epoch 45/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4051 - accuracy: 0.8076 - val_loss: 0.7471 - val_accuracy: 0.8258
Epoch 46/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3693 - accuracy: 0.8370 - val_loss: 0.7578 - val_accuracy: 0.8146
Epoch 47/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3587 - accuracy: 0.8387 - val_loss: 0.7455 - val_accuracy: 0.8146
Epoch 48/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3891 - accuracy: 0.8312 - val_loss: 0.7657 - val_accuracy: 0.8146
Epoch 49/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3949 - accuracy: 0.8325 - val_loss: 0.7805 - val_accuracy: 0.8146
Epoch 50/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3533 - accuracy: 0.8522 - val_loss: 0.7765 - val_accuracy: 0.8146
Epoch 51/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3550 - accuracy: 0.8488 - val_loss: 0.7883 - val_accuracy: 0.8090
Epoch 52/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3781 - accuracy: 0.8405 - val_loss: 0.6927 - val_accuracy: 0.8258
Epoch 53/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3708 - accuracy: 0.8323 - val_loss: 0.8573 - val_accuracy: 0.8202
Epoch 54/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4026 - accuracy: 0.8096 - val_loss: 0.8846 - val_accuracy: 0.8202
Epoch 55/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3550 - accuracy: 0.8580 - val_loss: 0.9721 - val_accuracy: 0.7809
Epoch 56/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3825 - accuracy: 0.8271 - val_loss: 0.8552 - val_accuracy: 0.8090
Epoch 57/1000
36/36 [==============================] - 0s 6ms/step - loss: 0.3540 - accuracy: 0.8357 - val_loss: 1.0459 - val_accuracy: 0.8034
Epoch 58/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8627 - val_loss: 1.0692 - val_accuracy: 0.8090
Epoch 59/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8671 - val_loss: 0.9184 - val_accuracy: 0.8090
Epoch 60/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3697 - accuracy: 0.8458 - val_loss: 0.7946 - val_accuracy: 0.8202
Epoch 61/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3728 - accuracy: 0.8366 - val_loss: 0.8605 - val_accuracy: 0.8034
Epoch 62/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3709 - accuracy: 0.8445 - val_loss: 0.8644 - val_accuracy: 0.8258
Epoch 63/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3099 - accuracy: 0.8700 - val_loss: 0.9863 - val_accuracy: 0.8034
Epoch 64/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3820 - accuracy: 0.8396 - val_loss: 0.9514 - val_accuracy: 0.7921
Epoch 65/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8569 - val_loss: 0.8362 - val_accuracy: 0.8315
Epoch 66/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3594 - accuracy: 0.8475 - val_loss: 0.8496 - val_accuracy: 0.8146
Epoch 67/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3844 - accuracy: 0.8463 - val_loss: 0.9040 - val_accuracy: 0.8146
Epoch 68/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3580 - accuracy: 0.8520 - val_loss: 0.9035 - val_accuracy: 0.7978
Epoch 69/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8530 - val_loss: 0.9333 - val_accuracy: 0.8146
Epoch 70/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3824 - accuracy: 0.8272 - val_loss: 1.0263 - val_accuracy: 0.8034
Epoch 71/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8603 - val_loss: 0.9371 - val_accuracy: 0.7978
Epoch 72/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3542 - accuracy: 0.8550 - val_loss: 1.1520 - val_accuracy: 0.8034
Epoch 73/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3862 - accuracy: 0.8458 - val_loss: 0.9405 - val_accuracy: 0.8146
Epoch 74/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3648 - accuracy: 0.8372 - val_loss: 0.9493 - val_accuracy: 0.8202
Epoch 75/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8586 - val_loss: 1.0556 - val_accuracy: 0.8090
Epoch 76/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3831 - accuracy: 0.8232 - val_loss: 1.1211 - val_accuracy: 0.8202
Epoch 77/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3449 - accuracy: 0.8583 - val_loss: 1.2037 - val_accuracy: 0.7978
Epoch 78/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3712 - accuracy: 0.8451 - val_loss: 1.1621 - val_accuracy: 0.8034
Epoch 79/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3310 - accuracy: 0.8655 - val_loss: 1.1584 - val_accuracy: 0.8202
Epoch 80/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3464 - accuracy: 0.8639 - val_loss: 1.4578 - val_accuracy: 0.7865
Epoch 81/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3605 - accuracy: 0.8568 - val_loss: 0.8817 - val_accuracy: 0.8146
Epoch 82/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3549 - accuracy: 0.8528 - val_loss: 0.9671 - val_accuracy: 0.8034
Epoch 83/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3136 - accuracy: 0.8688 - val_loss: 0.9368 - val_accuracy: 0.8258
Epoch 84/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3269 - accuracy: 0.8665 - val_loss: 0.8898 - val_accuracy: 0.8090
Epoch 85/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8579 - val_loss: 0.9819 - val_accuracy: 0.8090
Epoch 86/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3695 - accuracy: 0.8380 - val_loss: 1.1212 - val_accuracy: 0.7978
Epoch 87/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8554 - val_loss: 1.1727 - val_accuracy: 0.8090
Epoch 88/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3630 - accuracy: 0.8359 - val_loss: 1.3782 - val_accuracy: 0.7978
Epoch 89/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3533 - accuracy: 0.8507 - val_loss: 1.0704 - val_accuracy: 0.7921
Epoch 90/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3723 - accuracy: 0.8333 - val_loss: 1.1815 - val_accuracy: 0.8034
Epoch 91/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3552 - accuracy: 0.8503 - val_loss: 1.1681 - val_accuracy: 0.8034
Epoch 92/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.2950 - accuracy: 0.8888 - val_loss: 1.2193 - val_accuracy: 0.8202
Epoch 93/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3156 - accuracy: 0.8771 - val_loss: 1.2981 - val_accuracy: 0.8034
Epoch 94/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3695 - accuracy: 0.8568 - val_loss: 1.1740 - val_accuracy: 0.8034
Epoch 95/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3747 - accuracy: 0.8396 - val_loss: 1.3183 - val_accuracy: 0.7865
Epoch 96/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3701 - accuracy: 0.8483 - val_loss: 1.0609 - val_accuracy: 0.7921
Epoch 97/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3489 - accuracy: 0.8631 - val_loss: 1.1641 - val_accuracy: 0.8202
Epoch 98/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8545 - val_loss: 1.3118 - val_accuracy: 0.7978
Epoch 99/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3858 - accuracy: 0.8180 - val_loss: 1.3959 - val_accuracy: 0.7978
Epoch 100/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8508 - val_loss: 1.3652 - val_accuracy: 0.7865
Epoch 101/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8504 - val_loss: 1.5036 - val_accuracy: 0.7921
Epoch 102/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3562 - accuracy: 0.8392 - val_loss: 1.4744 - val_accuracy: 0.8258
Epoch 103/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3690 - accuracy: 0.8382 - val_loss: 1.3185 - val_accuracy: 0.8146
6/6 [==============================] - 0s 2ms/step - loss: 0.4663 - accuracy: 0.8090

In [190]:
test=pd.read_csv('./test.csv')
test

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [191]:
test=test.drop(['PassengerId','Name','Parch','Ticket','Cabin'],axis=1)
test

     Pclass     Sex   Age  SibSp      Fare Embarked
0         3    male  34.5      0    7.8292        Q
1         3  female  47.0      1    7.0000        S
2         2    male  62.0      0    9.6875        Q
3         3    male  27.0      0    8.6625        S
4         3  female  22.0      1   12.2875        S
..      ...     ...   ...    ...       ...      ...
413       3    male   NaN      0    8.0500        S
414       1  female  39.0      0  108.9000        C
415       3    male  38.5      0    7.2500        S
416       3    male   NaN      0    8.0500        S
417       3    male   NaN      1   22.3583        C

[418 rows x 6 columns]

In [192]:
encoder = OrdinalEncoder()
category2=encoder.fit_transform(test[['Sex','Embarked']])
category2=pd.DataFrame(category2)
category2.columns=['Sex','Embarked']
category2
test['Sex']=category2['Sex']
test['Embarked'] = category2['Embarked']

test_mean=test
test_median=test
test_mean['Age']=test_mean['Age'].fillna(test_mean['Age'].mean())
test_mean['Fare']=test_mean['Fare'].fillna(test_mean['Fare'].mean())
test_median['Age']=test_median['Age'].fillna(test_median['Age'].median())
test_median['Fare']=test_median['Fare'].fillna(test_median['Fare'].median())

In [193]:
Scaler = MinMaxScaler()

mean_scaler=Scaler.fit_transform(test_mean)
mean_scaler=pd.DataFrame(mean_scaler)
mean_scaler.columns=['Pclass','Sex','Age','SibSp','Fare','Embarked']
mean_scaler

     Pclass  Sex       Age  SibSp      Fare  Embarked
0       1.0  1.0  0.452723  0.000  0.015282       0.5
1       1.0  0.0  0.617566  0.125  0.013663       1.0
2       0.5  1.0  0.815377  0.000  0.018909       0.5
3       1.0  1.0  0.353818  0.000  0.016908       1.0
4       1.0  0.0  0.287881  0.125  0.023984       1.0
..      ...  ...       ...    ...       ...       ...
413     1.0  1.0  0.396975  0.000  0.015713       1.0
414     0.0  0.0  0.512066  0.000  0.212559       0.0
415     1.0  1.0  0.505473  0.000  0.014151       1.0
416     1.0  1.0  0.396975  0.000  0.015713       1.0
417     1.0  1.0  0.396975  0.125  0.043640       0.0

[418 rows x 6 columns]

In [194]:
Scaler = MinMaxScaler()

median_scaler=Scaler.fit_transform(test_median)
median_scaler=pd.DataFrame(median_scaler)
median_scaler.columns=['Pclass','Sex','Age','SibSp','Fare','Embarked']
median_scaler

     Pclass  Sex       Age  SibSp      Fare  Embarked
0       1.0  1.0  0.452723  0.000  0.015282       0.5
1       1.0  0.0  0.617566  0.125  0.013663       1.0
2       0.5  1.0  0.815377  0.000  0.018909       0.5
3       1.0  1.0  0.353818  0.000  0.016908       1.0
4       1.0  0.0  0.287881  0.125  0.023984       1.0
..      ...  ...       ...    ...       ...       ...
413     1.0  1.0  0.396975  0.000  0.015713       1.0
414     0.0  0.0  0.512066  0.000  0.212559       0.0
415     1.0  1.0  0.505473  0.000  0.014151       1.0
416     1.0  1.0  0.396975  0.000  0.015713       1.0
417     1.0  1.0  0.396975  0.125  0.043640       0.0

[418 rows x 6 columns]

In [195]:
test_mean.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Fare        0
Embarked    0
dtype: int64

In [196]:
dnn_mean=i_model.predict(test_mean)
dnn_mean

array([[3.33686380e-17],
       [2.10037293e-23],
       [6.09953449e-30],
       [3.37038828e-13],
       [1.07454499e-08],
       [2.70769169e-06],
       [3.60244569e-14],
       [9.99892950e-01],
       [4.82956501e-08],
       [8.65328312e-03],
       [3.82690502e-15],
       [1.74203475e-15],
       [1.00000000e+00],
       [3.39282641e-25],
       [1.00000000e+00],
       [1.00000000e+00],
       [2.18258516e-15],
       [1.83323065e-10],
       [5.06768401e-13],
       [8.04977498e-22],
       [1.00000000e+00],
       [6.31472312e-06],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [3.60267664e-23],
       [1.00000000e+00],
       [3.15040112e-11],
       [5.13438625e-10],
       [6.08102124e-10],
       [2.00173448e-18],
       [1.00000000e+00],
       [5.19009280e-11],
       [1.53719100e-07],
       [1.00000000e+00],
       [3.48232110e-09],
       [2.93168505e-14],
       [2.72714473e-09],
       [7.25653738e-12],
       [1.00000000e+00],
       [2.16771381e-17],
       [3.12190168e-05],
       [1.55075976e-20],
       [7.10855940e-12],
       [1.00000000e+00],
       [1.89003696e-12],
       [1.04081739e-12],
       [4.20771706e-15],
       [1.00000000e+00],
       [2.36383517e-14],
       [1.00000000e+00],
       [5.19039256e-10],
       [9.99913990e-01],
       [1.00000000e+00],
       [1.41905758e-11],
       [1.00000000e+00],
       [1.60563814e-17],
       [1.49458343e-12],
       [1.84448745e-12],
       [1.00000000e+00],
       [2.13994511e-08],
       [1.46948737e-13],
       [6.10506934e-09],
       [4.66555850e-10],
       [1.00000000e+00],
       [2.57530619e-08],
       [6.32050643e-08],
       [2.13682652e-04],
       [7.32873380e-02],
       [1.00000000e+00],
       [4.54700756e-11],
       [2.04197104e-10],
       [1.18523843e-13],
       [9.94923294e-01],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.31435766e-15],
       [3.36846137e-20],
       [1.00710683e-12],
       [4.54700756e-11],
       [1.00000000e+00],
       [1.00000000e+00],
       [3.87261710e-17],
       [3.82690502e-15],
       [1.45292144e-13],
       [7.46432376e-13],
       [1.50167270e-12],
       [5.36585318e-08],
       [2.88632711e-14],
       [1.00000000e+00],
       [5.56987558e-08],
       [3.48379865e-15],
       [1.00000000e+00],
       [4.31435766e-15],
       [9.99998689e-01],
       [1.69266771e-12],
       [1.00000000e+00],
       [1.71034993e-14],
       [4.35912861e-09],
       [1.83280910e-16],
       [1.00000000e+00],
       [4.75227833e-04],
       [4.20771706e-15],
       [5.12576797e-13],
       [8.87319743e-07],
       [1.25205133e-07],
       [2.41778375e-10],
       [4.20771706e-15],
       [7.48580275e-15],
       [1.32367200e-06],
       [2.26129143e-17],
       [2.95638114e-14],
       [8.16980302e-01],
       [1.97480059e-08],
       [1.00000000e+00],
       [4.85419514e-06],
       [1.87777760e-15],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.01163983e-03],
       [1.00000000e+00],
       [1.77948599e-15],
       [1.00000000e+00],
       [3.22111011e-14],
       [4.20771706e-15],
       [9.51403379e-03],
       [5.77930898e-11],
       [9.95112259e-08],
       [7.69371183e-19],
       [6.82202385e-12],
       [5.83559749e-16],
       [7.51119205e-18],
       [7.99758436e-06],
       [8.16531291e-16],
       [1.60415332e-21],
       [5.77198012e-12],
       [2.86794487e-13],
       [1.07345202e-10],
       [1.51230931e-10],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.80691481e-04],
       [5.33763626e-13],
       [9.40865224e-13],
       [1.00000000e+00],
       [7.17984214e-11],
       [3.12190168e-05],
       [1.62470712e-06],
       [1.00000000e+00],
       [6.04726679e-15],
       [5.50199120e-20],
       [1.07161230e-15],
       [1.00000000e+00],
       [4.45193665e-12],
       [1.00000000e+00],
       [1.28222752e-10],
       [5.33762596e-13],
       [7.28639094e-10],
       [2.84703630e-14],
       [1.00000000e+00],
       [1.47739021e-09],
       [1.90698435e-15],
       [2.49623112e-18],
       [1.24152020e-05],
       [1.00000000e+00],
       [1.00000000e+00],
       [9.99757767e-01],
       [1.08771903e-09],
       [2.92465759e-15],
       [1.59492780e-13],
       [1.66881020e-09],
       [3.43693846e-15],
       [3.03846281e-10],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00710683e-12],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.20771706e-15],
       [1.00000000e+00],
       [9.85382743e-17],
       [9.96152043e-01],
       [4.35683445e-09],
       [1.00000000e+00],
       [8.09901140e-18],
       [3.15419824e-09],
       [1.03475613e-05],
       [7.38593936e-03],
       [1.31631329e-28],
       [1.00000000e+00],
       [1.57397647e-16],
       [1.00000000e+00],
       [4.31625793e-08],
       [4.73497408e-10],
       [3.08903802e-14],
       [2.78150818e-11],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.69334988e-11],
       [5.72619210e-05],
       [1.10287349e-16],
       [1.49180238e-10],
       [7.43755698e-03],
       [1.84350950e-12],
       [3.41617012e-10],
       [1.98258692e-15],
       [1.00000000e+00],
       [8.30900565e-23],
       [9.51348048e-20],
       [1.00000000e+00],
       [3.20941495e-14],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.31435766e-15],
       [1.38670074e-11],
       [2.32924374e-10],
       [1.11185017e-08],
       [1.87489413e-10],
       [2.10090806e-17],
       [3.15516363e-11],
       [1.78144912e-11],
       [2.88632711e-14],
       [9.57951415e-18],
       [9.25293498e-16],
       [1.00000000e+00],
       [1.00000000e+00],
       [2.68224089e-11],
       [4.69445946e-15],
       [1.00000000e+00],
       [6.39334585e-10],
       [1.00000000e+00],
       [5.94321425e-10],
       [1.18911412e-05],
       [1.00000000e+00],
       [2.20684426e-18],
       [2.25714759e-12],
       [1.00000000e+00],
       [3.80226949e-15],
       [5.49278401e-09],
       [1.00000000e+00],
       [5.80128491e-01],
       [2.78577300e-10],
       [1.01163983e-03],
       [6.72383330e-12],
       [1.00000000e+00],
       [6.79165058e-10],
       [1.00000000e+00],
       [2.02523311e-11],
       [1.06702741e-15],
       [2.92464637e-15],
       [4.20771706e-15],
       [6.15957074e-14],
       [6.13962038e-06],
       [1.84190163e-10],
       [3.07271790e-15],
       [1.97073108e-10],
       [4.77357662e-06],
       [1.00000000e+00],
       [1.23518340e-12],
       [3.82690502e-15],
       [9.54290016e-17],
       [2.92465759e-15],
       [2.93168505e-14],
       [3.89187953e-08],
       [1.00000000e+00],
       [4.20771706e-15],
       [1.00000000e+00],
       [1.32952364e-11],
       [3.42463637e-15],
       [1.00000000e+00],
       [1.42598368e-12],
       [6.42809861e-13],
       [1.14333620e-09],
       [1.49494206e-09],
       [2.55447774e-10],
       [1.00000000e+00],
       [2.88632711e-14],
       [1.00000000e+00],
       [1.00000000e+00],
       [3.13973028e-18],
       [2.31615548e-15],
       [1.00000000e+00],
       [3.43693846e-15],
       [4.31435766e-15],
       [1.00000000e+00],
       [2.03716269e-14],
       [3.43693846e-15],
       [1.00000000e+00],
       [1.75234375e-17],
       [5.68254536e-13],
       [1.00000000e+00],
       [6.08102124e-10],
       [1.00000000e+00],
       [1.61759491e-14],
       [4.71218352e-16],
       [8.13028551e-12],
       [1.82559396e-16],
       [1.15075831e-11],
       [2.88632711e-14],
       [3.48169716e-24],
       [1.00000000e+00],
       [9.99930203e-01],
       [1.00000000e+00],
       [6.11650432e-20],
       [1.20789228e-08],
       [5.67143069e-11],
       [2.98205699e-15],
       [1.07489060e-17],
       [1.00000000e+00],
       [1.87280250e-07],
       [1.00000000e+00],
       [5.51504193e-08],
       [1.69051811e-13],
       [1.00000000e+00],
       [5.12576797e-13],
       [1.67404567e-12],
       [1.07345202e-10],
       [3.40955523e-07],
       [1.00000000e+00],
       [9.42505622e-12],
       [1.00000000e+00],
       [1.00000000e+00],
       [7.72181284e-06],
       [5.58712294e-08],
       [9.19678222e-10],
       [1.74268227e-08],
       [3.42463637e-15],
       [2.03013420e-04],
       [1.75163215e-13],
       [1.73574008e-05],
       [9.96822796e-14],
       [1.46867314e-19],
       [1.00000000e+00],
       [3.43693846e-15],
       [1.91534525e-07],
       [4.04670520e-16],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.00382472e-13],
       [4.10960752e-07],
       [1.07345202e-10],
       [2.76213805e-18],
       [2.15142348e-09],
       [7.92211008e-09],
       [1.00000000e+00],
       [4.69335890e-11],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.11074723e-17],
       [1.98248927e-05],
       [3.77782115e-15],
       [4.20771706e-15],
       [1.37396084e-11],
       [1.00000000e+00],
       [1.00000000e+00],
       [7.92211008e-09],
       [3.37038828e-13],
       [1.00000000e+00],
       [1.00000000e+00],
       [7.49383845e-13],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.21502348e-11],
       [5.27905453e-09],
       [1.00000000e+00],
       [3.60886115e-26],
       [7.30872232e-20],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.40561618e-10],
       [1.25397221e-08],
       [1.25208497e-03],
       [1.00000000e+00],
       [4.20771706e-15],
       [7.08343540e-13],
       [7.20565795e-12],
       [8.23511509e-05],
       [6.66860393e-13],
       [1.00000000e+00],
       [5.39465824e-12],
       [1.76337329e-26],
       [2.27598995e-10],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.98271399e-09],
       [1.00000000e+00],
       [2.98362795e-22],
       [6.80979717e-10],
       [1.00000000e+00],
       [4.35255044e-12],
       [1.00000000e+00],
       [5.67759971e-11],
       [1.78282902e-15],
       [1.00000000e+00],
       [4.53781706e-14],
       [1.00000000e+00],
       [1.00000000e+00],
       [5.94064403e-13],
       [1.12792668e-06],
       [2.18175825e-10],
       [1.00000000e+00],
       [2.81794394e-14],
       [1.00000000e+00],
       [2.88632711e-14],
       [1.00000000e+00],
       [3.38113435e-13],
       [4.31435766e-15],
       [1.00000000e+00],
       [1.76510908e-19],
       [4.31437418e-15],
       [4.80174123e-09]], dtype=float32)

In [197]:
dnn_median=i_model.predict(test_median)
dnn_median

array([[3.33686380e-17],
       [2.10037293e-23],
       [6.09953449e-30],
       [3.37038828e-13],
       [1.07454499e-08],
       [2.70769169e-06],
       [3.60244569e-14],
       [9.99892950e-01],
       [4.82956501e-08],
       [8.65328312e-03],
       [3.82690502e-15],
       [1.74203475e-15],
       [1.00000000e+00],
       [3.39282641e-25],
       [1.00000000e+00],
       [1.00000000e+00],
       [2.18258516e-15],
       [1.83323065e-10],
       [5.06768401e-13],
       [8.04977498e-22],
       [1.00000000e+00],
       [6.31472312e-06],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [3.60267664e-23],
       [1.00000000e+00],
       [3.15040112e-11],
       [5.13438625e-10],
       [6.08102124e-10],
       [2.00173448e-18],
       [1.00000000e+00],
       [5.19009280e-11],
       [1.53719100e-07],
       [1.00000000e+00],
       [3.48232110e-09],
       [2.93168505e-14],
       [2.72714473e-09],
       [7.25653738e-12],
       [1.00000000e+00],
       [2.16771381e-17],
       [3.12190168e-05],
       [1.55075976e-20],
       [7.10855940e-12],
       [1.00000000e+00],
       [1.89003696e-12],
       [1.04081739e-12],
       [4.20771706e-15],
       [1.00000000e+00],
       [2.36383517e-14],
       [1.00000000e+00],
       [5.19039256e-10],
       [9.99913990e-01],
       [1.00000000e+00],
       [1.41905758e-11],
       [1.00000000e+00],
       [1.60563814e-17],
       [1.49458343e-12],
       [1.84448745e-12],
       [1.00000000e+00],
       [2.13994511e-08],
       [1.46948737e-13],
       [6.10506934e-09],
       [4.66555850e-10],
       [1.00000000e+00],
       [2.57530619e-08],
       [6.32050643e-08],
       [2.13682652e-04],
       [7.32873380e-02],
       [1.00000000e+00],
       [4.54700756e-11],
       [2.04197104e-10],
       [1.18523843e-13],
       [9.94923294e-01],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.31435766e-15],
       [3.36846137e-20],
       [1.00710683e-12],
       [4.54700756e-11],
       [1.00000000e+00],
       [1.00000000e+00],
       [3.87261710e-17],
       [3.82690502e-15],
       [1.45292144e-13],
       [7.46432376e-13],
       [1.50167270e-12],
       [5.36585318e-08],
       [2.88632711e-14],
       [1.00000000e+00],
       [5.56987558e-08],
       [3.48379865e-15],
       [1.00000000e+00],
       [4.31435766e-15],
       [9.99998689e-01],
       [1.69266771e-12],
       [1.00000000e+00],
       [1.71034993e-14],
       [4.35912861e-09],
       [1.83280910e-16],
       [1.00000000e+00],
       [4.75227833e-04],
       [4.20771706e-15],
       [5.12576797e-13],
       [8.87319743e-07],
       [1.25205133e-07],
       [2.41778375e-10],
       [4.20771706e-15],
       [7.48580275e-15],
       [1.32367200e-06],
       [2.26129143e-17],
       [2.95638114e-14],
       [8.16980302e-01],
       [1.97480059e-08],
       [1.00000000e+00],
       [4.85419514e-06],
       [1.87777760e-15],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.01163983e-03],
       [1.00000000e+00],
       [1.77948599e-15],
       [1.00000000e+00],
       [3.22111011e-14],
       [4.20771706e-15],
       [9.51403379e-03],
       [5.77930898e-11],
       [9.95112259e-08],
       [7.69371183e-19],
       [6.82202385e-12],
       [5.83559749e-16],
       [7.51119205e-18],
       [7.99758436e-06],
       [8.16531291e-16],
       [1.60415332e-21],
       [5.77198012e-12],
       [2.86794487e-13],
       [1.07345202e-10],
       [1.51230931e-10],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.80691481e-04],
       [5.33763626e-13],
       [9.40865224e-13],
       [1.00000000e+00],
       [7.17984214e-11],
       [3.12190168e-05],
       [1.62470712e-06],
       [1.00000000e+00],
       [6.04726679e-15],
       [5.50199120e-20],
       [1.07161230e-15],
       [1.00000000e+00],
       [4.45193665e-12],
       [1.00000000e+00],
       [1.28222752e-10],
       [5.33762596e-13],
       [7.28639094e-10],
       [2.84703630e-14],
       [1.00000000e+00],
       [1.47739021e-09],
       [1.90698435e-15],
       [2.49623112e-18],
       [1.24152020e-05],
       [1.00000000e+00],
       [1.00000000e+00],
       [9.99757767e-01],
       [1.08771903e-09],
       [2.92465759e-15],
       [1.59492780e-13],
       [1.66881020e-09],
       [3.43693846e-15],
       [3.03846281e-10],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00710683e-12],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.20771706e-15],
       [1.00000000e+00],
       [9.85382743e-17],
       [9.96152043e-01],
       [4.35683445e-09],
       [1.00000000e+00],
       [8.09901140e-18],
       [3.15419824e-09],
       [1.03475613e-05],
       [7.38593936e-03],
       [1.31631329e-28],
       [1.00000000e+00],
       [1.57397647e-16],
       [1.00000000e+00],
       [4.31625793e-08],
       [4.73497408e-10],
       [3.08903802e-14],
       [2.78150818e-11],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.69334988e-11],
       [5.72619210e-05],
       [1.10287349e-16],
       [1.49180238e-10],
       [7.43755698e-03],
       [1.84350950e-12],
       [3.41617012e-10],
       [1.98258692e-15],
       [1.00000000e+00],
       [8.30900565e-23],
       [9.51348048e-20],
       [1.00000000e+00],
       [3.20941495e-14],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.31435766e-15],
       [1.38670074e-11],
       [2.32924374e-10],
       [1.11185017e-08],
       [1.87489413e-10],
       [2.10090806e-17],
       [3.15516363e-11],
       [1.78144912e-11],
       [2.88632711e-14],
       [9.57951415e-18],
       [9.25293498e-16],
       [1.00000000e+00],
       [1.00000000e+00],
       [2.68224089e-11],
       [4.69445946e-15],
       [1.00000000e+00],
       [6.39334585e-10],
       [1.00000000e+00],
       [5.94321425e-10],
       [1.18911412e-05],
       [1.00000000e+00],
       [2.20684426e-18],
       [2.25714759e-12],
       [1.00000000e+00],
       [3.80226949e-15],
       [5.49278401e-09],
       [1.00000000e+00],
       [5.80128491e-01],
       [2.78577300e-10],
       [1.01163983e-03],
       [6.72383330e-12],
       [1.00000000e+00],
       [6.79165058e-10],
       [1.00000000e+00],
       [2.02523311e-11],
       [1.06702741e-15],
       [2.92464637e-15],
       [4.20771706e-15],
       [6.15957074e-14],
       [6.13962038e-06],
       [1.84190163e-10],
       [3.07271790e-15],
       [1.97073108e-10],
       [4.77357662e-06],
       [1.00000000e+00],
       [1.23518340e-12],
       [3.82690502e-15],
       [9.54290016e-17],
       [2.92465759e-15],
       [2.93168505e-14],
       [3.89187953e-08],
       [1.00000000e+00],
       [4.20771706e-15],
       [1.00000000e+00],
       [1.32952364e-11],
       [3.42463637e-15],
       [1.00000000e+00],
       [1.42598368e-12],
       [6.42809861e-13],
       [1.14333620e-09],
       [1.49494206e-09],
       [2.55447774e-10],
       [1.00000000e+00],
       [2.88632711e-14],
       [1.00000000e+00],
       [1.00000000e+00],
       [3.13973028e-18],
       [2.31615548e-15],
       [1.00000000e+00],
       [3.43693846e-15],
       [4.31435766e-15],
       [1.00000000e+00],
       [2.03716269e-14],
       [3.43693846e-15],
       [1.00000000e+00],
       [1.75234375e-17],
       [5.68254536e-13],
       [1.00000000e+00],
       [6.08102124e-10],
       [1.00000000e+00],
       [1.61759491e-14],
       [4.71218352e-16],
       [8.13028551e-12],
       [1.82559396e-16],
       [1.15075831e-11],
       [2.88632711e-14],
       [3.48169716e-24],
       [1.00000000e+00],
       [9.99930203e-01],
       [1.00000000e+00],
       [6.11650432e-20],
       [1.20789228e-08],
       [5.67143069e-11],
       [2.98205699e-15],
       [1.07489060e-17],
       [1.00000000e+00],
       [1.87280250e-07],
       [1.00000000e+00],
       [5.51504193e-08],
       [1.69051811e-13],
       [1.00000000e+00],
       [5.12576797e-13],
       [1.67404567e-12],
       [1.07345202e-10],
       [3.40955523e-07],
       [1.00000000e+00],
       [9.42505622e-12],
       [1.00000000e+00],
       [1.00000000e+00],
       [7.72181284e-06],
       [5.58712294e-08],
       [9.19678222e-10],
       [1.74268227e-08],
       [3.42463637e-15],
       [2.03013420e-04],
       [1.75163215e-13],
       [1.73574008e-05],
       [9.96822796e-14],
       [1.46867314e-19],
       [1.00000000e+00],
       [3.43693846e-15],
       [1.91534525e-07],
       [4.04670520e-16],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.00382472e-13],
       [4.10960752e-07],
       [1.07345202e-10],
       [2.76213805e-18],
       [2.15142348e-09],
       [7.92211008e-09],
       [1.00000000e+00],
       [4.69335890e-11],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.11074723e-17],
       [1.98248927e-05],
       [3.77782115e-15],
       [4.20771706e-15],
       [1.37396084e-11],
       [1.00000000e+00],
       [1.00000000e+00],
       [7.92211008e-09],
       [3.37038828e-13],
       [1.00000000e+00],
       [1.00000000e+00],
       [7.49383845e-13],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.21502348e-11],
       [5.27905453e-09],
       [1.00000000e+00],
       [3.60886115e-26],
       [7.30872232e-20],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.40561618e-10],
       [1.25397221e-08],
       [1.25208497e-03],
       [1.00000000e+00],
       [4.20771706e-15],
       [7.08343540e-13],
       [7.20565795e-12],
       [8.23511509e-05],
       [6.66860393e-13],
       [1.00000000e+00],
       [5.39465824e-12],
       [1.76337329e-26],
       [2.27598995e-10],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.98271399e-09],
       [1.00000000e+00],
       [2.98362795e-22],
       [6.80979717e-10],
       [1.00000000e+00],
       [4.35255044e-12],
       [1.00000000e+00],
       [5.67759971e-11],
       [1.78282902e-15],
       [1.00000000e+00],
       [4.53781706e-14],
       [1.00000000e+00],
       [1.00000000e+00],
       [5.94064403e-13],
       [1.12792668e-06],
       [2.18175825e-10],
       [1.00000000e+00],
       [2.81794394e-14],
       [1.00000000e+00],
       [2.88632711e-14],
       [1.00000000e+00],
       [3.38113435e-13],
       [4.31435766e-15],
       [1.00000000e+00],
       [1.76510908e-19],
       [4.31437418e-15],
       [4.80174123e-09]], dtype=float32)

In [198]:
mean_dnn=pd.DataFrame(dnn_mean)
median_dnn=pd.DataFrame(dnn_median)

In [199]:
for x,y in zip(mean_dnn[0], mean_dnn.index):
  if x > 0.5:
    mean_dnn.loc[y]=1
  else:
    mean_dnn.loc[y]=0
mean_dnn

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
413  0.0
414  1.0
415  0.0
416  0.0
417  0.0

[418 rows x 1 columns]

In [200]:
for x,y in zip(median_dnn[0], median_dnn.index):
  if x > 0.5:
    median_dnn.loc[y]=1
  else:
    median_dnn.loc[y]=0
median_dnn

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
413  0.0
414  1.0
415  0.0
416  0.0
417  0.0

[418 rows x 1 columns]

In [201]:
submission=pd.read_csv('./gender_submission.csv')
submission_mean=submission
submission_median=submission

In [202]:
submission_mean['Survived']=mean_dnn
submission_median['Survived']=median_dnn

In [203]:
submission_mean=submission_mean.astype(int)
submission_mean

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [204]:
submission_median=submission_median.astype(int)
submission_median

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [205]:
submission_mean.to_csv('./dnn_mean.csv',encoding='utf-8-sig',index=False)
submission_median.to_csv('./dnn_median.csv',encoding='utf-8-sig',index=False)

0    289
1    129
Name: Survived, dtype: int64