In [36]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import tensorflow as tf
from tensorflow import keras

# 데이터셋 불러오기

In [2]:
train=pd.read_csv('./train.csv')
test=pd.read_csv('./test.csv')

# 결측값 확인하기

In [3]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
# 데이터 정리는 내가 해놨던거 참고
train_x=train

# 날릴거 날리고 채울거 채우기

In [5]:
train_x=train_x.drop(['Ticket','Name','Cabin','PassengerId','Parch'],axis=1)
train_x

     Survived  Pclass     Sex   Age  SibSp     Fare Embarked
0           0       3    male  22.0      1   7.2500        S
1           1       1  female  38.0      1  71.2833        C
2           1       3  female  26.0      0   7.9250        S
3           1       1  female  35.0      1  53.1000        S
4           0       3    male  35.0      0   8.0500        S
..        ...     ...     ...   ...    ...      ...      ...
886         0       2    male  27.0      0  13.0000        S
887         1       1  female  19.0      0  30.0000        S
888         0       3  female   NaN      1  23.4500        S
889         1       1    male  26.0      0  30.0000        C
890         0       3    male  32.0      0   7.7500        Q

[891 rows x 7 columns]

In [6]:
mean_age=train_x['Age'].fillna(train_x['Age'].mean())
median_age=train_x['Age'].fillna(train_x['Age'].median())

In [7]:
train_mean_x=train_x
train_median_x=train_x

In [8]:
train_mean_x['Age']=mean_age
train_mean_x=train_mean_x.dropna()
train_mean_x=train_mean_x.reset_index()
train_mean_x=train_mean_x.drop(['index'],axis=1)

In [9]:
train_median_x['Age']=median_age
train_median_x=train_median_x.dropna()
train_median_x=train_median_x.reset_index()
train_median_x=train_median_x.drop(['index'],axis=1)

In [10]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
category=encoder.fit_transform(train_mean_x[['Sex','Embarked']])
category=pd.DataFrame(category)
category.columns=['Sex','Embarked']
category

     Sex  Embarked
0    1.0       2.0
1    0.0       0.0
2    0.0       2.0
3    0.0       2.0
4    1.0       2.0
..   ...       ...
884  1.0       2.0
885  0.0       2.0
886  0.0       2.0
887  1.0       0.0
888  1.0       1.0

[889 rows x 2 columns]

In [11]:
encoder = OrdinalEncoder()
category1=encoder.fit_transform(train_median_x[['Sex','Embarked']])
category1=pd.DataFrame(category1)
category1.columns=['Sex','Embarked']
category1

     Sex  Embarked
0    1.0       2.0
1    0.0       0.0
2    0.0       2.0
3    0.0       2.0
4    1.0       2.0
..   ...       ...
884  1.0       2.0
885  0.0       2.0
886  0.0       2.0
887  1.0       0.0
888  1.0       1.0

[889 rows x 2 columns]

In [12]:
train_mean_x['Sex']=category['Sex']
train_mean_x['Embarked']=category['Embarked']

train_median_x['Sex'] = category1['Sex']
train_median_x['Embarked'] = category1['Embarked']

In [13]:
train_mean_x

     Survived  Pclass  Sex        Age  SibSp     Fare  Embarked
0           0       3  1.0  22.000000      1   7.2500       2.0
1           1       1  0.0  38.000000      1  71.2833       0.0
2           1       3  0.0  26.000000      0   7.9250       2.0
3           1       1  0.0  35.000000      1  53.1000       2.0
4           0       3  1.0  35.000000      0   8.0500       2.0
..        ...     ...  ...        ...    ...      ...       ...
884         0       2  1.0  27.000000      0  13.0000       2.0
885         1       1  0.0  19.000000      0  30.0000       2.0
886         0       3  0.0  29.699118      1  23.4500       2.0
887         1       1  1.0  26.000000      0  30.0000       0.0
888         0       3  1.0  32.000000      0   7.7500       1.0

[889 rows x 7 columns]

In [14]:
train_median_x

     Survived  Pclass  Sex   Age  SibSp     Fare  Embarked
0           0       3  1.0  22.0      1   7.2500       2.0
1           1       1  0.0  38.0      1  71.2833       0.0
2           1       3  0.0  26.0      0   7.9250       2.0
3           1       1  0.0  35.0      1  53.1000       2.0
4           0       3  1.0  35.0      0   8.0500       2.0
..        ...     ...  ...   ...    ...      ...       ...
884         0       2  1.0  27.0      0  13.0000       2.0
885         1       1  0.0  19.0      0  30.0000       2.0
886         0       3  0.0  28.0      1  23.4500       2.0
887         1       1  1.0  26.0      0  30.0000       0.0
888         0       3  1.0  32.0      0   7.7500       1.0

[889 rows x 7 columns]

In [15]:
from sklearn.preprocessing import MinMaxScaler

Scaler = MinMaxScaler()

mean_scaler=Scaler.fit_transform(train_mean_x[['Age','Fare']])
mean_scaler=pd.DataFrame(mean_scaler)
mean_scaler.columns=['Age','Fare']
mean_scaler

train_mean_x['Age'] = mean_scaler['Age']

train_mean_x['Fare'] = mean_scaler['Fare']

train_mean_x

     Survived  Pclass  Sex       Age  SibSp      Fare  Embarked
0           0       3  1.0  0.271174      1  0.014151       2.0
1           1       1  0.0  0.472229      1  0.139136       0.0
2           1       3  0.0  0.321438      0  0.015469       2.0
3           1       1  0.0  0.434531      1  0.103644       2.0
4           0       3  1.0  0.434531      0  0.015713       2.0
..        ...     ...  ...       ...    ...       ...       ...
884         0       2  1.0  0.334004      0  0.025374       2.0
885         1       1  0.0  0.233476      0  0.058556       2.0
886         0       3  0.0  0.367921      1  0.045771       2.0
887         1       1  1.0  0.321438      0  0.058556       0.0
888         0       3  1.0  0.396833      0  0.015127       1.0

[889 rows x 7 columns]

In [16]:
Scaler = MinMaxScaler()

median_scaler=Scaler.fit_transform(train_median_x[['Age','Fare']])
median_scaler=pd.DataFrame(median_scaler)
median_scaler.columns=['Age','Fare']
median_scaler

train_median_x['Age'] = median_scaler['Age']

train_median_x['Fare'] = median_scaler['Fare']

train_median_x

     Survived  Pclass  Sex       Age  SibSp      Fare  Embarked
0           0       3  1.0  0.271174      1  0.014151       2.0
1           1       1  0.0  0.472229      1  0.139136       0.0
2           1       3  0.0  0.321438      0  0.015469       2.0
3           1       1  0.0  0.434531      1  0.103644       2.0
4           0       3  1.0  0.434531      0  0.015713       2.0
..        ...     ...  ...       ...    ...       ...       ...
884         0       2  1.0  0.334004      0  0.025374       2.0
885         1       1  0.0  0.233476      0  0.058556       2.0
886         0       3  0.0  0.346569      1  0.045771       2.0
887         1       1  1.0  0.321438      0  0.058556       0.0
888         0       3  1.0  0.396833      0  0.015127       1.0

[889 rows x 7 columns]

In [17]:
# 트레인이랑 테스트 데이터셋 나누진 않는다. 왜냐하면
# 어차피 테스트 트레인이 나누어져 있기도하고, 데이터 수가 적기 때문에

train_mean_y=train_mean_x['Survived']
train_mean_x=train_mean_x.drop(['Survived'],axis=1)

train_median_y=train_median_x['Survived']
train_median_x=train_median_x.drop(['Survived'],axis=1)

In [76]:

train_mean_x,valid_mean_x,train_mean_y,valid_mean_y=train_test_split(train_mean_x,train_mean_y,test_size=0.2,random_state=42)
i_input=keras.layers.Input(shape=train_mean_x.shape[1:])
hidden1=keras.layers.Dense(64, activation='relu')(i_input)
hidden2=keras.layers.Dense(64, activation='relu')(hidden1)
hidden3=keras.layers.Dense(64, activation='relu')(hidden2)
hidden4=keras.layers.Dense(64, activation='relu')(hidden3)
hidden5=keras.layers.Dense(64, activation='relu')(hidden4)
i_concat=keras.layers.Concatenate()([i_input,hidden5])
i_output=keras.layers.Dense(1,activation='sigmoid')(i_concat)
i_model=keras.Model(inputs=[i_input], outputs=[i_output])
adam=keras.optimizers.Adamax(lr=0.03)
i_model.compile(loss='binary_crossentropy', optimizer=adam, metrics=['accuracy'])
i_history = i_model.fit(train_mean_x, train_mean_y, epochs=1000, 
                   batch_size=20,callbacks=[keras.callbacks.EarlyStopping(patience=100, 
                   restore_best_weights=True)], validation_data=(valid_mean_x,valid_mean_y), verbose=1)
DNN_evaluation=i_model.evaluate(valid_mean_x,valid_mean_y)

Epoch 1/1000
1/1 [==============================] - 1s 698ms/step - loss: 0.5511 - accuracy: 0.7500 - val_loss: 0.4539 - val_accuracy: 0.6667
Epoch 2/1000
1/1 [==============================] - 0s 37ms/step - loss: 0.3803 - accuracy: 0.9167 - val_loss: 0.5954 - val_accuracy: 0.6667
Epoch 3/1000
1/1 [==============================] - 0s 39ms/step - loss: 0.4677 - accuracy: 0.9167 - val_loss: 0.6695 - val_accuracy: 0.3333
Epoch 4/1000
1/1 [==============================] - 0s 43ms/step - loss: 4.7801 - accuracy: 0.4167 - val_loss: 0.1292 - val_accuracy: 1.0000
Epoch 5/1000
1/1 [==============================] - 0s 38ms/step - loss: 0.4385 - accuracy: 0.7500 - val_loss: 1.2826 - val_accuracy: 0.6667
Epoch 6/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.7333 - accuracy: 0.7500 - val_loss: 1.4158 - val_accuracy: 0.6667
Epoch 7/1000
1/1 [==============================] - 0s 42ms/step - loss: 0.9866 - accuracy: 0.6667 - val_loss: 1.0928 - val_accuracy: 0.6667
Epoch 8/1000
1/1 [==============================] - 0s 196ms/step - loss: 0.7564 - accuracy: 0.6667 - val_loss: 0.7721 - val_accuracy: 0.6667
Epoch 9/1000
1/1 [==============================] - 0s 38ms/step - loss: 0.5320 - accuracy: 0.7500 - val_loss: 0.6086 - val_accuracy: 0.6667
Epoch 10/1000
1/1 [==============================] - 0s 40ms/step - loss: 0.4315 - accuracy: 0.8333 - val_loss: 0.5597 - val_accuracy: 0.6667
Epoch 11/1000
1/1 [==============================] - 0s 39ms/step - loss: 0.3914 - accuracy: 0.8333 - val_loss: 0.5353 - val_accuracy: 0.6667
Epoch 12/1000
1/1 [==============================] - 0s 37ms/step - loss: 0.3691 - accuracy: 0.9167 - val_loss: 0.4912 - val_accuracy: 0.6667
Epoch 13/1000
1/1 [==============================] - 0s 36ms/step - loss: 0.3546 - accuracy: 0.9167 - val_loss: 0.4306 - val_accuracy: 1.0000
Epoch 14/1000
1/1 [==============================] - 0s 40ms/step - loss: 0.3482 - accuracy: 0.9167 - val_loss: 0.3674 - val_accuracy: 1.0000
Epoch 15/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.3457 - accuracy: 0.9167 - val_loss: 0.3241 - val_accuracy: 1.0000
Epoch 16/1000
1/1 [==============================] - 0s 39ms/step - loss: 0.3410 - accuracy: 0.9167 - val_loss: 0.2982 - val_accuracy: 1.0000
Epoch 17/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.3239 - accuracy: 0.9167 - val_loss: 0.2844 - val_accuracy: 1.0000
Epoch 18/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.3028 - accuracy: 0.9167 - val_loss: 0.2787 - val_accuracy: 1.0000
Epoch 19/1000
1/1 [==============================] - 0s 38ms/step - loss: 0.2863 - accuracy: 0.9167 - val_loss: 0.2808 - val_accuracy: 1.0000
Epoch 20/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.2748 - accuracy: 0.9167 - val_loss: 0.2893 - val_accuracy: 1.0000
Epoch 21/1000
1/1 [==============================] - 0s 45ms/step - loss: 0.2666 - accuracy: 0.9167 - val_loss: 0.3103 - val_accuracy: 1.0000
Epoch 22/1000
1/1 [==============================] - 0s 45ms/step - loss: 0.2633 - accuracy: 0.9167 - val_loss: 0.3361 - val_accuracy: 0.6667
Epoch 23/1000
1/1 [==============================] - 0s 49ms/step - loss: 0.2648 - accuracy: 0.9167 - val_loss: 0.3510 - val_accuracy: 0.6667
Epoch 24/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.2665 - accuracy: 0.9167 - val_loss: 0.3347 - val_accuracy: 0.6667
Epoch 25/1000
1/1 [==============================] - 0s 38ms/step - loss: 0.2640 - accuracy: 0.9167 - val_loss: 0.3006 - val_accuracy: 0.6667
Epoch 26/1000
1/1 [==============================] - 0s 37ms/step - loss: 0.2585 - accuracy: 0.9167 - val_loss: 0.2600 - val_accuracy: 1.0000
Epoch 27/1000
1/1 [==============================] - 0s 38ms/step - loss: 0.2530 - accuracy: 0.9167 - val_loss: 0.2209 - val_accuracy: 1.0000
Epoch 28/1000
1/1 [==============================] - 0s 38ms/step - loss: 0.2483 - accuracy: 0.9167 - val_loss: 0.1884 - val_accuracy: 1.0000
Epoch 29/1000
1/1 [==============================] - 0s 38ms/step - loss: 0.2450 - accuracy: 0.9167 - val_loss: 0.1622 - val_accuracy: 1.0000
Epoch 30/1000
1/1 [==============================] - 0s 40ms/step - loss: 0.2422 - accuracy: 0.9167 - val_loss: 0.1407 - val_accuracy: 1.0000
Epoch 31/1000
1/1 [==============================] - 0s 42ms/step - loss: 0.2394 - accuracy: 0.9167 - val_loss: 0.1207 - val_accuracy: 1.0000
Epoch 32/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.2359 - accuracy: 0.9167 - val_loss: 0.1019 - val_accuracy: 1.0000
Epoch 33/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.2311 - accuracy: 0.9167 - val_loss: 0.0849 - val_accuracy: 1.0000
Epoch 34/1000
1/1 [==============================] - 0s 36ms/step - loss: 0.2258 - accuracy: 0.9167 - val_loss: 0.0703 - val_accuracy: 1.0000
Epoch 35/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.2227 - accuracy: 0.9167 - val_loss: 0.0593 - val_accuracy: 1.0000
Epoch 36/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.2177 - accuracy: 0.9167 - val_loss: 0.0511 - val_accuracy: 1.0000
Epoch 37/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.2121 - accuracy: 0.9167 - val_loss: 0.0447 - val_accuracy: 1.0000
Epoch 38/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.2073 - accuracy: 0.9167 - val_loss: 0.0380 - val_accuracy: 1.0000
Epoch 39/1000
1/1 [==============================] - 0s 40ms/step - loss: 0.2029 - accuracy: 0.9167 - val_loss: 0.0338 - val_accuracy: 1.0000
Epoch 40/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.1973 - accuracy: 0.9167 - val_loss: 0.0315 - val_accuracy: 1.0000
Epoch 41/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.1920 - accuracy: 0.9167 - val_loss: 0.0306 - val_accuracy: 1.0000
Epoch 42/1000
1/1 [==============================] - 0s 40ms/step - loss: 0.1859 - accuracy: 0.9167 - val_loss: 0.0312 - val_accuracy: 1.0000
Epoch 43/1000
1/1 [==============================] - 0s 47ms/step - loss: 0.1797 - accuracy: 0.9167 - val_loss: 0.0323 - val_accuracy: 1.0000
Epoch 44/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.1705 - accuracy: 0.9167 - val_loss: 0.0368 - val_accuracy: 1.0000
Epoch 45/1000
1/1 [==============================] - 0s 39ms/step - loss: 0.1751 - accuracy: 0.9167 - val_loss: 0.0375 - val_accuracy: 1.0000
Epoch 46/1000
1/1 [==============================] - 0s 47ms/step - loss: 0.1568 - accuracy: 0.9167 - val_loss: 0.0388 - val_accuracy: 1.0000
Epoch 47/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.1563 - accuracy: 0.9167 - val_loss: 0.0388 - val_accuracy: 1.0000
Epoch 48/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.1491 - accuracy: 0.9167 - val_loss: 0.0362 - val_accuracy: 1.0000
Epoch 49/1000
1/1 [==============================] - 0s 40ms/step - loss: 0.1463 - accuracy: 0.9167 - val_loss: 0.0219 - val_accuracy: 1.0000
Epoch 50/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.1408 - accuracy: 0.9167 - val_loss: 0.0135 - val_accuracy: 1.0000
Epoch 51/1000
1/1 [==============================] - 0s 40ms/step - loss: 0.1404 - accuracy: 0.9167 - val_loss: 0.0089 - val_accuracy: 1.0000
Epoch 52/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.1379 - accuracy: 0.9167 - val_loss: 0.0067 - val_accuracy: 1.0000
Epoch 53/1000
1/1 [==============================] - 0s 42ms/step - loss: 0.1320 - accuracy: 0.9167 - val_loss: 0.0056 - val_accuracy: 1.0000
Epoch 54/1000
1/1 [==============================] - 0s 45ms/step - loss: 0.1235 - accuracy: 0.9167 - val_loss: 0.0053 - val_accuracy: 1.0000
Epoch 55/1000
1/1 [==============================] - 0s 48ms/step - loss: 0.1220 - accuracy: 0.9167 - val_loss: 0.0051 - val_accuracy: 1.0000
Epoch 56/1000
1/1 [==============================] - 0s 167ms/step - loss: 0.1097 - accuracy: 0.9167 - val_loss: 0.0057 - val_accuracy: 1.0000
Epoch 57/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.1029 - accuracy: 0.9167 - val_loss: 0.0069 - val_accuracy: 1.0000
Epoch 58/1000
1/1 [==============================] - 0s 45ms/step - loss: 0.1019 - accuracy: 0.9167 - val_loss: 0.0082 - val_accuracy: 1.0000
Epoch 59/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.1208 - accuracy: 0.9167 - val_loss: 0.0104 - val_accuracy: 1.0000
Epoch 60/1000
1/1 [==============================] - 0s 48ms/step - loss: 0.1224 - accuracy: 0.9167 - val_loss: 0.0139 - val_accuracy: 1.0000
Epoch 61/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.1273 - accuracy: 0.9167 - val_loss: 0.0180 - val_accuracy: 1.0000
Epoch 62/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.1256 - accuracy: 0.9167 - val_loss: 0.0231 - val_accuracy: 1.0000
Epoch 63/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.1189 - accuracy: 0.9167 - val_loss: 0.0302 - val_accuracy: 1.0000
Epoch 64/1000
1/1 [==============================] - 0s 42ms/step - loss: 0.1171 - accuracy: 0.9167 - val_loss: 0.0364 - val_accuracy: 1.0000
Epoch 65/1000
1/1 [==============================] - 0s 45ms/step - loss: 0.1140 - accuracy: 0.9167 - val_loss: 0.0256 - val_accuracy: 1.0000
Epoch 66/1000
1/1 [==============================] - 0s 48ms/step - loss: 0.0942 - accuracy: 0.9167 - val_loss: 0.0174 - val_accuracy: 1.0000
Epoch 67/1000
1/1 [==============================] - 0s 49ms/step - loss: 0.2834 - accuracy: 0.9167 - val_loss: 0.0019 - val_accuracy: 1.0000
Epoch 68/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.0782 - accuracy: 0.9167 - val_loss: 3.9114e-04 - val_accuracy: 1.0000
Epoch 69/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.1124 - accuracy: 1.0000 - val_loss: 1.0943e-04 - val_accuracy: 1.0000
Epoch 70/1000
1/1 [==============================] - 0s 46ms/step - loss: 0.1167 - accuracy: 0.9167 - val_loss: 4.6363e-05 - val_accuracy: 1.0000
Epoch 71/1000
1/1 [==============================] - 0s 45ms/step - loss: 0.1237 - accuracy: 0.9167 - val_loss: 3.9253e-05 - val_accuracy: 1.0000
Epoch 72/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.1502 - accuracy: 0.9167 - val_loss: 5.3130e-05 - val_accuracy: 1.0000
Epoch 73/1000
1/1 [==============================] - 0s 45ms/step - loss: 0.1478 - accuracy: 0.9167 - val_loss: 8.0888e-05 - val_accuracy: 1.0000
Epoch 74/1000
1/1 [==============================] - 0s 45ms/step - loss: 0.1269 - accuracy: 0.9167 - val_loss: 1.2416e-04 - val_accuracy: 1.0000
Epoch 75/1000
1/1 [==============================] - 0s 48ms/step - loss: 0.1171 - accuracy: 0.9167 - val_loss: 1.9064e-04 - val_accuracy: 1.0000
Epoch 76/1000
1/1 [==============================] - 0s 55ms/step - loss: 0.1135 - accuracy: 0.9167 - val_loss: 3.0722e-04 - val_accuracy: 1.0000
Epoch 77/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.1050 - accuracy: 1.0000 - val_loss: 5.4757e-04 - val_accuracy: 1.0000
Epoch 78/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.0867 - accuracy: 0.9167 - val_loss: 8.9448e-04 - val_accuracy: 1.0000
Epoch 79/1000
1/1 [==============================] - 0s 40ms/step - loss: 0.1154 - accuracy: 0.9167 - val_loss: 0.0013 - val_accuracy: 1.0000
Epoch 80/1000
1/1 [==============================] - 0s 40ms/step - loss: 0.1042 - accuracy: 0.9167 - val_loss: 0.0017 - val_accuracy: 1.0000
Epoch 81/1000
1/1 [==============================] - 0s 46ms/step - loss: 0.0805 - accuracy: 1.0000 - val_loss: 0.0022 - val_accuracy: 1.0000
Epoch 82/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.0891 - accuracy: 1.0000 - val_loss: 0.0026 - val_accuracy: 1.0000
Epoch 83/1000
1/1 [==============================] - 0s 53ms/step - loss: 0.0825 - accuracy: 1.0000 - val_loss: 0.0028 - val_accuracy: 1.0000
Epoch 84/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.0650 - accuracy: 1.0000 - val_loss: 0.0029 - val_accuracy: 1.0000
Epoch 85/1000
1/1 [==============================] - 0s 50ms/step - loss: 0.0825 - accuracy: 0.9167 - val_loss: 0.0033 - val_accuracy: 1.0000
Epoch 86/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.0622 - accuracy: 0.9167 - val_loss: 0.0041 - val_accuracy: 1.0000
Epoch 87/1000
1/1 [==============================] - 0s 45ms/step - loss: 0.0646 - accuracy: 1.0000 - val_loss: 0.0046 - val_accuracy: 1.0000
Epoch 88/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.0715 - accuracy: 1.0000 - val_loss: 0.0043 - val_accuracy: 1.0000
Epoch 89/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.0441 - accuracy: 1.0000 - val_loss: 0.0037 - val_accuracy: 1.0000
Epoch 90/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.0753 - accuracy: 0.9167 - val_loss: 0.0049 - val_accuracy: 1.0000
Epoch 91/1000
1/1 [==============================] - 0s 48ms/step - loss: 0.0394 - accuracy: 1.0000 - val_loss: 0.0063 - val_accuracy: 1.0000
Epoch 92/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.0581 - accuracy: 1.0000 - val_loss: 0.0062 - val_accuracy: 1.0000
Epoch 93/1000
1/1 [==============================] - 0s 47ms/step - loss: 0.0377 - accuracy: 1.0000 - val_loss: 0.0056 - val_accuracy: 1.0000
Epoch 94/1000
1/1 [==============================] - 0s 46ms/step - loss: 0.0424 - accuracy: 1.0000 - val_loss: 0.0071 - val_accuracy: 1.0000
Epoch 95/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.0280 - accuracy: 1.0000 - val_loss: 0.0093 - val_accuracy: 1.0000
Epoch 96/1000
1/1 [==============================] - 0s 45ms/step - loss: 0.0281 - accuracy: 1.0000 - val_loss: 0.0113 - val_accuracy: 1.0000
Epoch 97/1000
1/1 [==============================] - 0s 42ms/step - loss: 0.0266 - accuracy: 1.0000 - val_loss: 0.0126 - val_accuracy: 1.0000
Epoch 98/1000
1/1 [==============================] - 0s 47ms/step - loss: 0.0211 - accuracy: 1.0000 - val_loss: 0.0149 - val_accuracy: 1.0000
Epoch 99/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.0288 - accuracy: 1.0000 - val_loss: 0.0207 - val_accuracy: 1.0000
Epoch 100/1000
1/1 [==============================] - 0s 48ms/step - loss: 0.0201 - accuracy: 1.0000 - val_loss: 0.0269 - val_accuracy: 1.0000
Epoch 101/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.0259 - accuracy: 1.0000 - val_loss: 0.0296 - val_accuracy: 1.0000
Epoch 102/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.0146 - accuracy: 1.0000 - val_loss: 0.0331 - val_accuracy: 1.0000
Epoch 103/1000
1/1 [==============================] - 0s 42ms/step - loss: 0.0264 - accuracy: 1.0000 - val_loss: 0.0459 - val_accuracy: 1.0000
Epoch 104/1000
1/1 [==============================] - 0s 179ms/step - loss: 0.0122 - accuracy: 1.0000 - val_loss: 0.0620 - val_accuracy: 1.0000
Epoch 105/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.0179 - accuracy: 1.0000 - val_loss: 0.0732 - val_accuracy: 1.0000
Epoch 106/1000
1/1 [==============================] - 0s 50ms/step - loss: 0.0112 - accuracy: 1.0000 - val_loss: 0.0846 - val_accuracy: 1.0000
Epoch 107/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.0130 - accuracy: 1.0000 - val_loss: 0.1077 - val_accuracy: 1.0000
Epoch 108/1000
1/1 [==============================] - 0s 50ms/step - loss: 0.0101 - accuracy: 1.0000 - val_loss: 0.1449 - val_accuracy: 1.0000
Epoch 109/1000
1/1 [==============================] - 0s 52ms/step - loss: 0.0090 - accuracy: 1.0000 - val_loss: 0.1819 - val_accuracy: 1.0000
Epoch 110/1000
1/1 [==============================] - 0s 47ms/step - loss: 0.0100 - accuracy: 1.0000 - val_loss: 0.2129 - val_accuracy: 1.0000
Epoch 111/1000
1/1 [==============================] - 0s 45ms/step - loss: 0.0061 - accuracy: 1.0000 - val_loss: 0.2473 - val_accuracy: 0.6667
Epoch 112/1000
1/1 [==============================] - 0s 46ms/step - loss: 0.0091 - accuracy: 1.0000 - val_loss: 0.3007 - val_accuracy: 0.6667
Epoch 113/1000
1/1 [==============================] - 0s 48ms/step - loss: 0.0060 - accuracy: 1.0000 - val_loss: 0.3680 - val_accuracy: 0.6667
Epoch 114/1000
1/1 [==============================] - 0s 47ms/step - loss: 0.0057 - accuracy: 1.0000 - val_loss: 0.4309 - val_accuracy: 0.6667
Epoch 115/1000
1/1 [==============================] - 0s 46ms/step - loss: 0.0067 - accuracy: 1.0000 - val_loss: 0.4834 - val_accuracy: 0.6667
Epoch 116/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.0040 - accuracy: 1.0000 - val_loss: 0.5394 - val_accuracy: 0.6667
Epoch 117/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.0048 - accuracy: 1.0000 - val_loss: 0.6044 - val_accuracy: 0.6667
Epoch 118/1000
1/1 [==============================] - 0s 47ms/step - loss: 0.0048 - accuracy: 1.0000 - val_loss: 0.6775 - val_accuracy: 0.6667
Epoch 119/1000
1/1 [==============================] - 0s 49ms/step - loss: 0.0029 - accuracy: 1.0000 - val_loss: 0.7496 - val_accuracy: 0.6667
Epoch 120/1000
1/1 [==============================] - 0s 47ms/step - loss: 0.0037 - accuracy: 1.0000 - val_loss: 0.8157 - val_accuracy: 0.6667
Epoch 121/1000
1/1 [==============================] - 0s 48ms/step - loss: 0.0036 - accuracy: 1.0000 - val_loss: 0.8760 - val_accuracy: 0.6667
Epoch 122/1000
1/1 [==============================] - 0s 50ms/step - loss: 0.0024 - accuracy: 1.0000 - val_loss: 0.9330 - val_accuracy: 0.6667
Epoch 123/1000
1/1 [==============================] - 0s 47ms/step - loss: 0.0026 - accuracy: 1.0000 - val_loss: 0.9910 - val_accuracy: 0.6667
Epoch 124/1000
1/1 [==============================] - 0s 63ms/step - loss: 0.0029 - accuracy: 1.0000 - val_loss: 1.0496 - val_accuracy: 0.6667
Epoch 125/1000
1/1 [==============================] - 0s 51ms/step - loss: 0.0020 - accuracy: 1.0000 - val_loss: 1.1046 - val_accuracy: 0.6667
Epoch 126/1000
1/1 [==============================] - 0s 44ms/step - loss: 0.0019 - accuracy: 1.0000 - val_loss: 1.1525 - val_accuracy: 0.6667
Epoch 127/1000
1/1 [==============================] - 0s 42ms/step - loss: 0.0022 - accuracy: 1.0000 - val_loss: 1.1928 - val_accuracy: 0.6667
Epoch 128/1000
1/1 [==============================] - 0s 42ms/step - loss: 0.0020 - accuracy: 1.0000 - val_loss: 1.2258 - val_accuracy: 0.6667
Epoch 129/1000
1/1 [==============================] - 0s 47ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 1.2531 - val_accuracy: 0.6667
Epoch 130/1000
1/1 [==============================] - 0s 51ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 1.2787 - val_accuracy: 0.6667
Epoch 131/1000
1/1 [==============================] - 0s 47ms/step - loss: 0.0016 - accuracy: 1.0000 - val_loss: 1.3017 - val_accuracy: 0.6667
Epoch 132/1000
1/1 [==============================] - 0s 41ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 1.3193 - val_accuracy: 0.6667
Epoch 133/1000
1/1 [==============================] - 0s 52ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 1.3290 - val_accuracy: 0.6667
Epoch 134/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 1.3320 - val_accuracy: 0.6667
Epoch 135/1000
1/1 [==============================] - 0s 50ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 1.3299 - val_accuracy: 0.6667
Epoch 136/1000
1/1 [==============================] - 0s 43ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 1.3235 - val_accuracy: 0.6667
Epoch 137/1000
1/1 [==============================] - 0s 50ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 1.3137 - val_accuracy: 0.6667
Epoch 138/1000
1/1 [==============================] - 0s 47ms/step - loss: 9.2545e-04 - accuracy: 1.0000 - val_loss: 1.3010 - val_accuracy: 0.6667
Epoch 139/1000
1/1 [==============================] - 0s 43ms/step - loss: 9.4137e-04 - accuracy: 1.0000 - val_loss: 1.2869 - val_accuracy: 0.6667
Epoch 140/1000
1/1 [==============================] - 0s 49ms/step - loss: 9.8669e-04 - accuracy: 1.0000 - val_loss: 1.2771 - val_accuracy: 0.6667
Epoch 141/1000

In [67]:
test=pd.read_csv('./test.csv')
test

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [68]:
test=test.drop(['PassengerId','Name','Parch','Ticket','Cabin'],axis=1)
test

     Pclass     Sex   Age  SibSp      Fare Embarked
0         3    male  34.5      0    7.8292        Q
1         3  female  47.0      1    7.0000        S
2         2    male  62.0      0    9.6875        Q
3         3    male  27.0      0    8.6625        S
4         3  female  22.0      1   12.2875        S
..      ...     ...   ...    ...       ...      ...
413       3    male   NaN      0    8.0500        S
414       1  female  39.0      0  108.9000        C
415       3    male  38.5      0    7.2500        S
416       3    male   NaN      0    8.0500        S
417       3    male   NaN      1   22.3583        C

[418 rows x 6 columns]

In [69]:
encoder = OrdinalEncoder()
category2=encoder.fit_transform(test[['Sex','Embarked']])
category2=pd.DataFrame(category2)
category2.columns=['Sex','Embarked']
category2
test['Sex']=category2['Sex']
test['Embarked'] = category2['Embarked']

test_mean=test
test_median=test
test_mean['Age']=test_mean['Age'].fillna(test_mean['Age'].mean())
test_mean['Fare']=test_mean['Fare'].fillna(test_mean['Fare'].mean())
test_median['Age']=test_median['Age'].fillna(test_median['Age'].median())
test_median['Fare']=test_median['Fare'].fillna(test_median['Fare'].median())

In [70]:
Scaler = MinMaxScaler()

mean_scaler=Scaler.fit_transform(test_mean[['Age','Fare']])
mean_scaler=pd.DataFrame(mean_scaler)
mean_scaler.columns=['Age','Fare']
mean_scaler

test_mean['Age'] = mean_scaler['Age']

test_mean['Fare'] = mean_scaler['Fare']

test_mean

     Pclass  Sex       Age  SibSp      Fare  Embarked
0         3  1.0  0.452723      0  0.015282       1.0
1         3  0.0  0.617566      1  0.013663       2.0
2         2  1.0  0.815377      0  0.018909       1.0
3         3  1.0  0.353818      0  0.016908       2.0
4         3  0.0  0.287881      1  0.023984       2.0
..      ...  ...       ...    ...       ...       ...
413       3  1.0  0.396975      0  0.015713       2.0
414       1  0.0  0.512066      0  0.212559       0.0
415       3  1.0  0.505473      0  0.014151       2.0
416       3  1.0  0.396975      0  0.015713       2.0
417       3  1.0  0.396975      1  0.043640       0.0

[418 rows x 6 columns]

In [71]:
Scaler = MinMaxScaler()

median_scaler=Scaler.fit_transform(test_median[['Age','Fare']])
median_scaler=pd.DataFrame(median_scaler)
median_scaler.columns=['Age','Fare']
median_scaler

test_median['Age'] = median_scaler['Age']

test_median['Fare'] = median_scaler['Fare']

test_median

     Pclass  Sex       Age  SibSp      Fare  Embarked
0         3  1.0  0.452723      0  0.015282       1.0
1         3  0.0  0.617566      1  0.013663       2.0
2         2  1.0  0.815377      0  0.018909       1.0
3         3  1.0  0.353818      0  0.016908       2.0
4         3  0.0  0.287881      1  0.023984       2.0
..      ...  ...       ...    ...       ...       ...
413       3  1.0  0.396975      0  0.015713       2.0
414       1  0.0  0.512066      0  0.212559       0.0
415       3  1.0  0.505473      0  0.014151       2.0
416       3  1.0  0.396975      0  0.015713       2.0
417       3  1.0  0.396975      1  0.043640       0.0

[418 rows x 6 columns]

In [72]:
test_mean.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Fare        0
Embarked    0
dtype: int64

In [77]:
dnn_mean=i_model.predict(test_mean)
dnn_mean

array([[2.31093011e-08],
       [3.25168031e-07],
       [7.45902904e-17],
       [5.41990340e-01],
       [1.11743429e-04],
       [5.51384807e-01],
       [5.08218110e-02],
       [9.99988616e-01],
       [4.91944707e-09],
       [1.62528567e-11],
       [5.41666329e-01],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.65909529e-04],
       [1.00000000e+00],
       [3.13683328e-18],
       [4.33848721e-11],
       [5.03593698e-16],
       [3.62993742e-05],
       [1.32322365e-12],
       [1.80163016e-30],
       [5.55291653e-01],
       [1.00000000e+00],
       [2.06173629e-16],
       [1.17797228e-17],
       [1.40298844e-14],
       [4.82074602e-09],
       [3.01374455e-16],
       [1.00000000e+00],
       [3.19332385e-34],
       [1.88039541e-01],
       [1.00000000e+00],
       [1.14087143e-05],
       [2.40601767e-05],
       [1.89171606e-25],
       [1.18484165e-15],
       [6.89432025e-03],
       [5.36885858e-03],
       [5.42390525e-01],
       [5.34852743e-01],
       [8.55304960e-19],
       [1.00000000e+00],
       [2.09123641e-01],
       [9.99881744e-01],
       [1.00000000e+00],
       [5.42450368e-01],
       [9.56657239e-21],
       [1.19106730e-07],
       [6.42741814e-15],
       [6.02290034e-03],
       [1.00000000e+00],
       [2.47122888e-17],
       [1.00000000e+00],
       [1.00000000e+00],
       [7.35768387e-18],
       [1.61387783e-26],
       [5.23556411e-01],
       [5.42460918e-01],
       [1.10604570e-09],
       [3.27451673e-12],
       [5.48495650e-01],
       [5.47915697e-04],
       [5.47415912e-01],
       [1.64985687e-01],
       [4.36127262e-21],
       [9.99937177e-01],
       [1.99752539e-01],
       [1.00000000e+00],
       [3.31339623e-18],
       [1.00000000e+00],
       [1.33378267e-01],
       [5.44129610e-01],
       [6.81391358e-03],
       [9.19918395e-18],
       [6.65761413e-12],
       [3.02270899e-19],
       [5.41656613e-01],
       [1.00000000e+00],
       [9.40740108e-04],
       [1.33378267e-01],
       [8.55658933e-23],
       [1.00000000e+00],
       [1.00000000e+00],
       [5.41666329e-01],
       [6.53448184e-10],
       [6.65068522e-27],
       [9.17426348e-02],
       [4.86931205e-03],
       [4.76831198e-02],
       [1.00000000e+00],
       [1.16912277e-04],
       [5.41673899e-01],
       [1.00000000e+00],
       [5.41656613e-01],
       [3.90287106e-17],
       [5.42455375e-01],
       [1.00000000e+00],
       [5.42300761e-01],
       [5.27930260e-03],
       [5.35554528e-01],
       [4.31832951e-21],
       [9.99976635e-01],
       [1.19106730e-07],
       [5.42220175e-01],
       [2.12694638e-17],
       [5.41537464e-01],
       [4.22912626e-06],
       [1.19106730e-07],
       [5.41614890e-01],
       [1.17890239e-02],
       [1.44548429e-19],
       [4.76347506e-02],
       [9.40444528e-11],
       [1.99069560e-01],
       [1.00000000e+00],
       [8.11933805e-25],
       [2.12367919e-17],
       [5.33828139e-03],
       [3.28863799e-19],
       [1.00000000e+00],
       [9.99883771e-01],
       [3.20311134e-17],
       [1.73113393e-19],
       [5.42197526e-01],
       [1.19106730e-07],
       [3.76147032e-03],
       [5.43550670e-01],
       [2.08613852e-20],
       [1.36826784e-05],
       [5.42810857e-01],
       [5.38243175e-01],
       [3.48842749e-22],
       [4.29204106e-03],
       [7.35274062e-27],
       [7.07650483e-02],
       [5.42818308e-01],
       [7.66501091e-17],
       [2.38808990e-03],
       [5.91468811e-03],
       [1.70323521e-12],
       [1.00000000e+00],
       [1.00000000e+00],
       [7.22306131e-32],
       [3.46073508e-03],
       [1.00000000e+00],
       [1.36681223e-07],
       [1.00000000e+00],
       [5.43541014e-01],
       [1.00000000e+00],
       [9.99897778e-01],
       [2.28466801e-09],
       [2.05517060e-17],
       [1.64346829e-06],
       [6.65026903e-03],
       [9.99825299e-01],
       [5.42829871e-01],
       [1.00000000e+00],
       [5.94761968e-03],
       [1.00000000e+00],
       [5.54069877e-03],
       [4.77110147e-02],
       [5.78499785e-23],
       [9.99879718e-01],
       [5.41722715e-01],
       [1.95945231e-05],
       [6.42151354e-05],
       [2.07601573e-21],
       [2.10479800e-10],
       [6.60875965e-10],
       [5.53911924e-03],
       [5.41688085e-01],
       [6.45934025e-17],
       [7.21942968e-08],
       [2.08619748e-17],
       [2.99760694e-12],
       [9.99980688e-01],
       [9.99979138e-01],
       [3.04324033e-30],
       [9.99980211e-01],
       [1.11529993e-15],
       [9.40740108e-04],
       [6.29042770e-27],
       [1.00000000e+00],
       [1.19106730e-07],
       [2.84538750e-13],
       [3.53522773e-05],
       [9.99933720e-01],
       [4.01102901e-11],
       [1.00000000e+00],
       [2.85918468e-05],
       [9.99198556e-01],
       [1.00000000e+00],
       [4.86505196e-05],
       [1.08268956e-16],
       [2.26449609e-01],
       [5.35574794e-01],
       [2.37324673e-13],
       [4.90695238e-03],
       [4.00912762e-03],
       [6.88186288e-03],
       [3.63337696e-02],
       [5.58500588e-01],
       [3.64836041e-29],
       [1.00000000e+00],
       [2.56016850e-03],
       [4.50466762e-18],
       [1.60704851e-02],
       [3.23793292e-03],
       [2.75837964e-10],
       [5.42451560e-01],
       [5.36756516e-01],
       [5.41719556e-01],
       [4.86246884e-01],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.74689007e-02],
       [1.00000000e+00],
       [1.57802615e-19],
       [5.41656613e-01],
       [5.31324215e-19],
       [5.44118345e-01],
       [9.99851644e-01],
       [5.44136882e-01],
       [2.92387967e-13],
       [1.53467225e-10],
       [5.43185651e-01],
       [4.76831198e-02],
       [2.47490287e-01],
       [1.25288963e-04],
       [4.84448522e-01],
       [1.00000000e+00],
       [2.70997901e-07],
       [1.18935219e-07],
       [2.79593220e-27],
       [5.45224965e-01],
       [1.90398787e-32],
       [7.09133284e-16],
       [1.00000000e+00],
       [1.86668754e-21],
       [1.37878993e-13],
       [9.99935985e-01],
       [1.16278622e-28],
       [5.41666806e-01],
       [8.57306337e-10],
       [1.00000000e+00],
       [9.99932528e-01],
       [9.70002890e-01],
       [1.00000000e+00],
       [1.50372543e-19],
       [1.00000000e+00],
       [5.45219779e-01],
       [2.97715440e-25],
       [5.42762339e-01],
       [5.36750495e-01],
       [5.41688085e-01],
       [1.19106730e-07],
       [5.42163849e-01],
       [9.99883413e-01],
       [5.44138432e-01],
       [3.41694416e-11],
       [5.44132650e-01],
       [9.99945402e-01],
       [4.52619791e-03],
       [8.54757408e-18],
       [5.41666329e-01],
       [1.00000000e+00],
       [5.41688085e-01],
       [6.89432025e-03],
       [5.48439682e-01],
       [4.07420419e-21],
       [1.19106730e-07],
       [2.36833218e-16],
       [2.78284673e-10],
       [2.08640444e-17],
       [1.00000000e+00],
       [1.25530362e-03],
       [9.81567264e-01],
       [9.99844491e-01],
       [4.94354963e-03],
       [5.81294298e-03],
       [1.00375712e-02],
       [4.76831198e-02],
       [2.03393429e-16],
       [5.60215116e-03],
       [5.12397110e-01],
       [5.41706979e-01],
       [1.00000000e+00],
       [2.08619748e-17],
       [5.41656613e-01],
       [1.00000000e+00],
       [5.20345271e-02],
       [2.08619748e-17],
       [1.00000000e+00],
       [5.11567175e-01],
       [5.42213798e-01],
       [1.69907711e-14],
       [3.19332385e-34],
       [1.00000000e+00],
       [5.42303920e-01],
       [5.38271368e-01],
       [7.42677082e-18],
       [1.74520792e-05],
       [5.42787552e-01],
       [4.76831198e-02],
       [1.00000000e+00],
       [1.00000000e+00],
       [5.59189022e-01],
       [1.00000000e+00],
       [5.83559597e-07],
       [5.47349334e-01],
       [3.57628984e-16],
       [5.41686475e-01],
       [9.01740789e-03],
       [1.13866089e-14],
       [2.06424832e-01],
       [3.44671847e-31],
       [9.12165642e-03],
       [5.42032957e-01],
       [1.00000000e+00],
       [5.42220175e-01],
       [1.28068377e-16],
       [2.38808990e-03],
       [1.00000000e+00],
       [1.00000000e+00],
       [5.43214023e-01],
       [1.00000000e+00],
       [3.97042372e-21],
       [9.99937534e-01],
       [7.15342164e-03],
       [9.99953866e-01],
       [1.28613583e-19],
       [2.08640444e-17],
       [6.72644249e-18],
       [5.42030752e-01],
       [1.00000000e+00],
       [5.28663397e-04],
       [9.83020199e-19],
       [1.05679333e-02],
       [2.08619748e-17],
       [1.11328959e-02],
       [5.38291574e-01],
       [1.53255145e-10],
       [1.63184223e-12],
       [1.16941201e-09],
       [4.58961725e-03],
       [2.38808990e-03],
       [1.24686069e-11],
       [3.91849875e-03],
       [9.99937892e-01],
       [2.05581884e-12],
       [2.56016850e-03],
       [4.36285317e-01],
       [9.24850821e-01],
       [6.81251287e-03],
       [1.00000000e+00],
       [1.00000000e+00],
       [5.41667342e-01],
       [1.19106730e-07],
       [2.10819235e-05],
       [1.00000000e+00],
       [2.59966323e-18],
       [9.99937892e-01],
       [5.41990340e-01],
       [1.41806832e-17],
       [2.46435404e-04],
       [6.65035551e-27],
       [2.43532658e-03],
       [2.23385286e-12],
       [1.21011900e-17],
       [9.99995470e-01],
       [6.62973981e-11],
       [1.00000000e+00],
       [6.53962570e-06],
       [1.00000000e+00],
       [9.70829184e-14],
       [9.85597014e-01],
       [6.49785995e-03],
       [1.00000000e+00],
       [9.99995947e-01],
       [1.19106730e-07],
       [6.14862302e-07],
       [5.74681163e-03],
       [2.45600939e-04],
       [8.76367092e-04],
       [1.00000000e+00],
       [5.42821288e-01],
       [8.88002827e-09],
       [4.23247957e-06],
       [9.07696187e-02],
       [1.00000000e+00],
       [1.00000000e+00],
       [5.50523877e-01],
       [1.20930304e-06],
       [6.14208886e-07],
       [1.00000000e+00],
       [1.33572257e-06],
       [8.68875483e-22],
       [5.43551445e-01],
       [8.98554759e-08],
       [1.00000000e+00],
       [9.90060687e-01],
       [5.08097298e-09],
       [1.00000000e+00],
       [7.43398992e-28],
       [3.31873782e-16],
       [9.99987841e-01],
       [9.59159605e-30],
       [4.77317870e-02],
       [4.00680304e-03],
       [4.76831198e-02],
       [1.00000000e+00],
       [6.76140189e-03],
       [5.41656613e-01],
       [6.95771739e-12],
       [4.24172103e-01],
       [5.41656613e-01],
       [6.02425186e-27]], dtype=float32)

In [78]:

train_median_x,valid_median_x,train_median_y,valid_median_y=train_test_split(train_median_x,train_median_y,test_size=0.2,random_state=42)
i_input=keras.layers.Input(shape=train_median_x.shape[1:])
hidden1=keras.layers.Dense(64, activation='relu')(i_input)
hidden2=keras.layers.Dense(64, activation='relu')(hidden1)
hidden3=keras.layers.Dense(64, activation='relu')(hidden2)
hidden4=keras.layers.Dense(64, activation='relu')(hidden3)
hidden5=keras.layers.Dense(64, activation='relu')(hidden4)
i_concat=keras.layers.Concatenate()([i_input,hidden5])
i_output=keras.layers.Dense(1,activation='sigmoid')(i_concat)
i_model=keras.Model(inputs=[i_input], outputs=[i_output])
adam=keras.optimizers.Adamax(lr=0.03)
i_model.compile(loss='binary_crossentropy', optimizer=adam, metrics=['accuracy'])
i_history = i_model.fit(train_median_x, train_median_y, epochs=1000, 
                   batch_size=20,callbacks=[keras.callbacks.EarlyStopping(patience=100, 
                   restore_best_weights=True)], validation_data=(valid_median_x,valid_median_y), verbose=1)
DNN_evaluation=i_model.evaluate(valid_median_x,valid_median_y)

Epoch 1/1000
36/36 [==============================] - 1s 7ms/step - loss: 0.6522 - accuracy: 0.6091 - val_loss: 0.6023 - val_accuracy: 0.7978
Epoch 2/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4643 - accuracy: 0.8115 - val_loss: 0.4692 - val_accuracy: 0.7978
Epoch 3/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4532 - accuracy: 0.7995 - val_loss: 0.4754 - val_accuracy: 0.8034
Epoch 4/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4430 - accuracy: 0.8127 - val_loss: 0.4902 - val_accuracy: 0.7978
Epoch 5/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4457 - accuracy: 0.8038 - val_loss: 0.5094 - val_accuracy: 0.8034
Epoch 6/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4323 - accuracy: 0.8143 - val_loss: 0.4967 - val_accuracy: 0.8146
Epoch 7/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4073 - accuracy: 0.8319 - val_loss: 0.5125 - val_accuracy: 0.8146
Epoch 8/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4061 - accuracy: 0.8256 - val_loss: 0.4891 - val_accuracy: 0.8090
Epoch 9/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4210 - accuracy: 0.8203 - val_loss: 0.5248 - val_accuracy: 0.8090
Epoch 10/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4324 - accuracy: 0.8128 - val_loss: 0.5448 - val_accuracy: 0.8146
Epoch 11/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4347 - accuracy: 0.8183 - val_loss: 0.4979 - val_accuracy: 0.8090
Epoch 12/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3962 - accuracy: 0.8384 - val_loss: 0.5100 - val_accuracy: 0.8034
Epoch 13/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4081 - accuracy: 0.8328 - val_loss: 0.5417 - val_accuracy: 0.8146
Epoch 14/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4459 - accuracy: 0.8071 - val_loss: 0.5256 - val_accuracy: 0.8034
Epoch 15/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4234 - accuracy: 0.8199 - val_loss: 0.5237 - val_accuracy: 0.7978
Epoch 16/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4253 - accuracy: 0.8207 - val_loss: 0.6154 - val_accuracy: 0.8146
Epoch 17/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4425 - accuracy: 0.8008 - val_loss: 0.4977 - val_accuracy: 0.8146
Epoch 18/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4424 - accuracy: 0.8085 - val_loss: 0.5150 - val_accuracy: 0.7978
Epoch 19/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4080 - accuracy: 0.8204 - val_loss: 0.4748 - val_accuracy: 0.8202
Epoch 20/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4313 - accuracy: 0.7910 - val_loss: 0.5169 - val_accuracy: 0.7921
Epoch 21/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4035 - accuracy: 0.8223 - val_loss: 0.5286 - val_accuracy: 0.8202
Epoch 22/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4367 - accuracy: 0.8061 - val_loss: 0.5468 - val_accuracy: 0.8090
Epoch 23/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4074 - accuracy: 0.8234 - val_loss: 0.5187 - val_accuracy: 0.8090
Epoch 24/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4213 - accuracy: 0.8033 - val_loss: 0.5481 - val_accuracy: 0.8202
Epoch 25/1000
36/36 [==============================] - 0s 7ms/step - loss: 0.3941 - accuracy: 0.8330 - val_loss: 0.5529 - val_accuracy: 0.8090
Epoch 26/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3948 - accuracy: 0.8350 - val_loss: 0.5224 - val_accuracy: 0.8146
Epoch 27/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4022 - accuracy: 0.8221 - val_loss: 0.5268 - val_accuracy: 0.8146
Epoch 28/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3994 - accuracy: 0.8399 - val_loss: 0.5766 - val_accuracy: 0.8034
Epoch 29/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3953 - accuracy: 0.8234 - val_loss: 0.5223 - val_accuracy: 0.8090
Epoch 30/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3891 - accuracy: 0.8362 - val_loss: 0.4854 - val_accuracy: 0.8146
Epoch 31/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4317 - accuracy: 0.8220 - val_loss: 0.5021 - val_accuracy: 0.8202
Epoch 32/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3801 - accuracy: 0.8425 - val_loss: 0.5198 - val_accuracy: 0.8258
Epoch 33/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3862 - accuracy: 0.8380 - val_loss: 0.5136 - val_accuracy: 0.8258
Epoch 34/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3926 - accuracy: 0.8351 - val_loss: 0.5034 - val_accuracy: 0.8146
Epoch 35/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3961 - accuracy: 0.8417 - val_loss: 0.4504 - val_accuracy: 0.8146
Epoch 36/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3974 - accuracy: 0.8338 - val_loss: 0.4986 - val_accuracy: 0.8258
Epoch 37/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3950 - accuracy: 0.8323 - val_loss: 0.5105 - val_accuracy: 0.8146
Epoch 38/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3720 - accuracy: 0.8470 - val_loss: 0.5778 - val_accuracy: 0.8034
Epoch 39/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4242 - accuracy: 0.8212 - val_loss: 0.4816 - val_accuracy: 0.8146
Epoch 40/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3672 - accuracy: 0.8565 - val_loss: 0.5047 - val_accuracy: 0.8202
Epoch 41/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3843 - accuracy: 0.8383 - val_loss: 0.5226 - val_accuracy: 0.8258
Epoch 42/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3499 - accuracy: 0.8591 - val_loss: 0.5359 - val_accuracy: 0.8146
Epoch 43/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4065 - accuracy: 0.8215 - val_loss: 0.5159 - val_accuracy: 0.8315
Epoch 44/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8580 - val_loss: 0.5243 - val_accuracy: 0.8202
Epoch 45/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3539 - accuracy: 0.8500 - val_loss: 0.4893 - val_accuracy: 0.8315
Epoch 46/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3886 - accuracy: 0.8274 - val_loss: 0.5803 - val_accuracy: 0.8202
Epoch 47/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3658 - accuracy: 0.8525 - val_loss: 0.5159 - val_accuracy: 0.8315
Epoch 48/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3883 - accuracy: 0.8378 - val_loss: 0.5725 - val_accuracy: 0.8202
Epoch 49/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.4004 - accuracy: 0.8293 - val_loss: 0.6157 - val_accuracy: 0.8202
Epoch 50/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3830 - accuracy: 0.8382 - val_loss: 0.5063 - val_accuracy: 0.8202
Epoch 51/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3643 - accuracy: 0.8674 - val_loss: 0.6124 - val_accuracy: 0.8146
Epoch 52/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3883 - accuracy: 0.8414 - val_loss: 0.5704 - val_accuracy: 0.8146
Epoch 53/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3845 - accuracy: 0.8260 - val_loss: 0.5744 - val_accuracy: 0.8202
Epoch 54/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3571 - accuracy: 0.8564 - val_loss: 0.5282 - val_accuracy: 0.8090
Epoch 55/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3656 - accuracy: 0.8378 - val_loss: 0.5286 - val_accuracy: 0.8258
Epoch 56/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3896 - accuracy: 0.8371 - val_loss: 0.5666 - val_accuracy: 0.8315
Epoch 57/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3694 - accuracy: 0.8443 - val_loss: 0.5331 - val_accuracy: 0.8258
Epoch 58/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3754 - accuracy: 0.8450 - val_loss: 0.7023 - val_accuracy: 0.8090
Epoch 59/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3424 - accuracy: 0.8705 - val_loss: 0.5354 - val_accuracy: 0.8258
Epoch 60/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3658 - accuracy: 0.8493 - val_loss: 0.6263 - val_accuracy: 0.8202
Epoch 61/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3788 - accuracy: 0.8315 - val_loss: 0.5842 - val_accuracy: 0.8146
Epoch 62/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4217 - accuracy: 0.8043 - val_loss: 0.5870 - val_accuracy: 0.8146
Epoch 63/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3592 - accuracy: 0.8501 - val_loss: 0.6305 - val_accuracy: 0.8090
Epoch 64/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4074 - accuracy: 0.8379 - val_loss: 0.6144 - val_accuracy: 0.8258
Epoch 65/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3376 - accuracy: 0.8548 - val_loss: 0.6314 - val_accuracy: 0.8146
Epoch 66/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3641 - accuracy: 0.8446 - val_loss: 0.7182 - val_accuracy: 0.8146
Epoch 67/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3836 - accuracy: 0.8420 - val_loss: 0.6259 - val_accuracy: 0.8258
Epoch 68/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3651 - accuracy: 0.8580 - val_loss: 0.9668 - val_accuracy: 0.8034
Epoch 69/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3904 - accuracy: 0.8326 - val_loss: 0.6130 - val_accuracy: 0.8034
Epoch 70/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3654 - accuracy: 0.8299 - val_loss: 0.7050 - val_accuracy: 0.8034
Epoch 71/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8568 - val_loss: 0.5949 - val_accuracy: 0.8034
Epoch 72/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3746 - accuracy: 0.8309 - val_loss: 0.6909 - val_accuracy: 0.7978
Epoch 73/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3499 - accuracy: 0.8577 - val_loss: 0.6435 - val_accuracy: 0.8146
Epoch 74/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3771 - accuracy: 0.8496 - val_loss: 0.6527 - val_accuracy: 0.8090
Epoch 75/1000
36/36 [==============================] - 0s 6ms/step - loss: 0.3446 - accuracy: 0.8664 - val_loss: 0.7715 - val_accuracy: 0.8034
Epoch 76/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3731 - accuracy: 0.8494 - val_loss: 0.6117 - val_accuracy: 0.8315
Epoch 77/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3913 - accuracy: 0.8243 - val_loss: 0.6456 - val_accuracy: 0.8034
Epoch 78/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3802 - accuracy: 0.8180 - val_loss: 0.7514 - val_accuracy: 0.8146
Epoch 79/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3730 - accuracy: 0.8421 - val_loss: 0.7315 - val_accuracy: 0.8090
Epoch 80/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3779 - accuracy: 0.8364 - val_loss: 0.7352 - val_accuracy: 0.8090
Epoch 81/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3735 - accuracy: 0.8389 - val_loss: 0.6813 - val_accuracy: 0.8090
Epoch 82/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3592 - accuracy: 0.8528 - val_loss: 0.6477 - val_accuracy: 0.8202
Epoch 83/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4024 - accuracy: 0.8269 - val_loss: 0.7329 - val_accuracy: 0.8090
Epoch 84/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3663 - accuracy: 0.8461 - val_loss: 0.7806 - val_accuracy: 0.8202
Epoch 85/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3725 - accuracy: 0.8482 - val_loss: 0.6337 - val_accuracy: 0.7978
Epoch 86/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3514 - accuracy: 0.8533 - val_loss: 0.7651 - val_accuracy: 0.8202
Epoch 87/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3501 - accuracy: 0.8546 - val_loss: 0.8445 - val_accuracy: 0.8090
Epoch 88/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3713 - accuracy: 0.8380 - val_loss: 0.7816 - val_accuracy: 0.8202
Epoch 89/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3248 - accuracy: 0.8578 - val_loss: 0.7771 - val_accuracy: 0.8090
Epoch 90/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.4028 - accuracy: 0.8344 - val_loss: 0.7819 - val_accuracy: 0.8146
Epoch 91/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3299 - accuracy: 0.8575 - val_loss: 0.8163 - val_accuracy: 0.7921
Epoch 92/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3546 - accuracy: 0.8488 - val_loss: 0.9691 - val_accuracy: 0.7978
Epoch 93/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3732 - accuracy: 0.8531 - val_loss: 0.7194 - val_accuracy: 0.8258
Epoch 94/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3325 - accuracy: 0.8631 - val_loss: 0.7406 - val_accuracy: 0.8034
Epoch 95/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3241 - accuracy: 0.8673 - val_loss: 0.6631 - val_accuracy: 0.8202
Epoch 96/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8680 - val_loss: 0.6622 - val_accuracy: 0.8034
Epoch 97/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3800 - accuracy: 0.8418 - val_loss: 0.8256 - val_accuracy: 0.7921
Epoch 98/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8578 - val_loss: 0.7641 - val_accuracy: 0.8090
Epoch 99/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3553 - accuracy: 0.8598 - val_loss: 0.7458 - val_accuracy: 0.8202
Epoch 100/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3332 - accuracy: 0.8506 - val_loss: 0.7755 - val_accuracy: 0.8034
Epoch 101/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3199 - accuracy: 0.8722 - val_loss: 0.8023 - val_accuracy: 0.8146
Epoch 102/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3777 - accuracy: 0.8409 - val_loss: 0.6215 - val_accuracy: 0.8090
Epoch 103/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3633 - accuracy: 0.8431 - val_loss: 0.8767 - val_accuracy: 0.8315
Epoch 104/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3805 - accuracy: 0.8479 - val_loss: 0.8796 - val_accuracy: 0.8146
Epoch 105/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8546 - val_loss: 1.1380 - val_accuracy: 0.8146
Epoch 106/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8608 - val_loss: 0.9021 - val_accuracy: 0.8034
Epoch 107/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3363 - accuracy: 0.8557 - val_loss: 0.9404 - val_accuracy: 0.8258
Epoch 108/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3946 - accuracy: 0.8231 - val_loss: 0.6560 - val_accuracy: 0.8258
Epoch 109/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3876 - accuracy: 0.8457 - val_loss: 0.8414 - val_accuracy: 0.8090
Epoch 110/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3694 - accuracy: 0.8634 - val_loss: 0.6838 - val_accuracy: 0.8258
Epoch 111/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3855 - accuracy: 0.8267 - val_loss: 0.7561 - val_accuracy: 0.8034
Epoch 112/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3791 - accuracy: 0.8378 - val_loss: 0.7929 - val_accuracy: 0.8034
Epoch 113/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3607 - accuracy: 0.8538 - val_loss: 0.9396 - val_accuracy: 0.8146
Epoch 114/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3525 - accuracy: 0.8478 - val_loss: 0.9544 - val_accuracy: 0.8146
Epoch 115/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3161 - accuracy: 0.8739 - val_loss: 1.0690 - val_accuracy: 0.8202
Epoch 116/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3292 - accuracy: 0.8714 - val_loss: 0.8887 - val_accuracy: 0.8034
Epoch 117/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8615 - val_loss: 0.9252 - val_accuracy: 0.8202
Epoch 118/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3254 - accuracy: 0.8660 - val_loss: 1.1728 - val_accuracy: 0.8146
Epoch 119/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3493 - accuracy: 0.8516 - val_loss: 0.9988 - val_accuracy: 0.8146
Epoch 120/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3332 - accuracy: 0.8606 - val_loss: 1.0408 - val_accuracy: 0.8090
Epoch 121/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8504 - val_loss: 0.9413 - val_accuracy: 0.8202
Epoch 122/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3312 - accuracy: 0.8735 - val_loss: 0.9111 - val_accuracy: 0.7978
Epoch 123/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8632 - val_loss: 0.9021 - val_accuracy: 0.8034
Epoch 124/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3521 - accuracy: 0.8522 - val_loss: 0.9619 - val_accuracy: 0.8146
Epoch 125/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3559 - accuracy: 0.8560 - val_loss: 1.2446 - val_accuracy: 0.8090
Epoch 126/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3393 - accuracy: 0.8570 - val_loss: 1.1245 - val_accuracy: 0.8315
Epoch 127/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3581 - accuracy: 0.8458 - val_loss: 1.2231 - val_accuracy: 0.8202
Epoch 128/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3736 - accuracy: 0.8298 - val_loss: 1.1547 - val_accuracy: 0.7978
Epoch 129/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3466 - accuracy: 0.8552 - val_loss: 1.0258 - val_accuracy: 0.8090
Epoch 130/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3403 - accuracy: 0.8519 - val_loss: 0.9234 - val_accuracy: 0.8090
Epoch 131/1000
36/36 [==============================] - 0s 2ms/step - loss: 0.3541 - accuracy: 0.8545 - val_loss: 0.9693 - val_accuracy: 0.8146
Epoch 132/1000
36/36 [==============================] - 0s 6ms/step - loss: 0.3634 - accuracy: 0.8584 - val_loss: 1.0790 - val_accuracy: 0.8146
Epoch 133/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3344 - accuracy: 0.8627 - val_loss: 0.9146 - val_accuracy: 0.8146
Epoch 134/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3686 - accuracy: 0.8482 - val_loss: 0.6977 - val_accuracy: 0.8034
Epoch 135/1000
36/36 [==============================] - 0s 3ms/step - loss: 0.3923 - accuracy: 0.8444 - val_loss: 0.9922 - val_accuracy: 0.7978
6/6 [==============================] - 0s 2ms/step - loss: 0.4504 - accuracy: 0.8146

In [79]:
dnn_median=i_model.predict(test_median)
dnn_median

array([[0.14529997],
       [0.22379354],
       [0.15290967],
       [0.129127  ],
       [0.4993461 ],
       [0.17522621],
       [0.58754367],
       [0.2291646 ],
       [0.66736156],
       [0.14748254],
       [0.12352583],
       [0.3008933 ],
       [0.98256254],
       [0.13314766],
       [0.9475068 ],
       [0.833702  ],
       [0.21186578],
       [0.3029502 ],
       [0.42603147],
       [0.47091144],
       [0.32227668],
       [0.2273475 ],
       [0.9749514 ],
       [0.45340455],
       [0.9981333 ],
       [0.09944966],
       [0.98109317],
       [0.2874341 ],
       [0.32958084],
       [0.25404364],
       [0.15643525],
       [0.2138727 ],
       [0.3685339 ],
       [0.3946737 ],
       [0.45446974],
       [0.34134558],
       [0.38321346],
       [0.52800924],
       [0.13264322],
       [0.12770325],
       [0.17824802],
       [0.39040732],
       [0.10689944],
       [0.8144168 ],
       [0.95025027],
       [0.13250202],
       [0.32783854],
       [0.1544292 ],
       [0.6974812 ],
       [0.32506076],
       [0.43575373],
       [0.2996167 ],
       [0.8174057 ],
       [0.9857892 ],
       [0.27600008],
       [0.10256287],
       [0.11587441],
       [0.13247737],
       [0.12941921],
       [0.9995314 ],
       [0.15276083],
       [0.1937887 ],
       [0.14901954],
       [0.628508  ],
       [0.44456768],
       [0.8164074 ],
       [0.6567488 ],
       [0.29967284],
       [0.38421333],
       [0.97301686],
       [0.617253  ],
       [0.13984138],
       [0.39536113],
       [0.39956117],
       [0.99850285],
       [0.39386237],
       [0.12353894],
       [0.900258  ],
       [0.20214549],
       [0.617253  ],
       [0.62818027],
       [0.22822922],
       [0.28313223],
       [0.12352583],
       [0.2234155 ],
       [0.3032683 ],
       [0.60075223],
       [0.55336475],
       [0.5864842 ],
       [0.67811525],
       [0.49958372],
       [0.12351552],
       [0.9765666 ],
       [0.12353894],
       [0.4222504 ],
       [0.13249043],
       [0.85872823],
       [0.12565991],
       [0.5363449 ],
       [0.11907145],
       [0.9477872 ],
       [0.22389883],
       [0.1544292 ],
       [0.1307593 ],
       [0.66878706],
       [0.12862605],
       [0.18770751],
       [0.1544292 ],
       [0.12359521],
       [0.25688347],
       [0.24187204],
       [0.5864867 ],
       [0.888555  ],
       [0.6531224 ],
       [0.9561379 ],
       [0.45899618],
       [0.2235507 ],
       [0.7450923 ],
       [0.36394715],
       [0.80885804],
       [0.9370433 ],
       [0.1617145 ],
       [0.96750414],
       [0.12729388],
       [0.1544292 ],
       [0.56480557],
       [0.13779482],
       [0.6254147 ],
       [0.16441345],
       [0.13426211],
       [0.12069297],
       [0.30249316],
       [0.38611552],
       [0.3009444 ],
       [0.10414705],
       [0.13424438],
       [0.2517308 ],
       [0.22028261],
       [0.4910257 ],
       [0.11598897],
       [0.10364315],
       [0.98633635],
       [0.32814533],
       [0.21340606],
       [0.32280743],
       [0.10190192],
       [0.39523652],
       [0.1378184 ],
       [0.39040732],
       [0.21018526],
       [0.9875109 ],
       [0.22390231],
       [0.08425072],
       [0.32345313],
       [0.08330026],
       [0.13421682],
       [0.9937426 ],
       [0.49092424],
       [0.3228074 ],
       [0.4291503 ],
       [0.5864828 ],
       [0.6233247 ],
       [0.84213126],
       [0.12344974],
       [0.16637674],
       [0.44556662],
       [0.32176125],
       [0.15455735],
       [0.9271302 ],
       [0.5120107 ],
       [0.12349644],
       [0.24775279],
       [0.14223552],
       [0.22374153],
       [0.11474079],
       [0.93010336],
       [0.8977358 ],
       [0.32499218],
       [0.7840004 ],
       [0.6676026 ],
       [0.20214549],
       [0.41525856],
       [0.98166   ],
       [0.1544292 ],
       [0.9996284 ],
       [0.16869003],
       [0.88017064],
       [0.15284193],
       [0.02109995],
       [0.16835865],
       [0.19395322],
       [0.39030313],
       [0.21316949],
       [0.15511742],
       [0.36235672],
       [0.11905524],
       [0.676927  ],
       [0.5533136 ],
       [0.23405409],
       [0.3832239 ],
       [0.5871335 ],
       [0.63040674],
       [0.3695667 ],
       [0.919889  ],
       [0.22450197],
       [0.38804072],
       [0.5487965 ],
       [0.22924313],
       [0.90642965],
       [0.13249937],
       [0.1219036 ],
       [0.12345397],
       [0.27697462],
       [0.58810496],
       [0.11546683],
       [0.32722163],
       [0.58649504],
       [0.26663432],
       [0.993526  ],
       [0.12353894],
       [0.765008  ],
       [0.13985658],
       [0.8676608 ],
       [0.13983154],
       [0.6255848 ],
       [0.6007887 ],
       [0.13600713],
       [0.5864842 ],
       [0.10815012],
       [0.17834294],
       [0.29313278],
       [0.98031557],
       [0.14537057],
       [0.1544427 ],
       [0.40367988],
       [0.14203385],
       [0.29677266],
       [0.32156438],
       [0.8690143 ],
       [0.96437454],
       [0.5908702 ],
       [0.70804197],
       [0.37180346],
       [0.12352511],
       [0.13007376],
       [0.3348499 ],
       [0.8722738 ],
       [0.17309588],
       [0.80885804],
       [0.60103744],
       [0.9411292 ],
       [0.14204165],
       [0.47325018],
       [0.13437769],
       [0.11999989],
       [0.12349644],
       [0.1544292 ],
       [0.12736338],
       [0.89596736],
       [0.13982946],
       [0.11914241],
       [0.13983727],
       [0.82641876],
       [0.7434052 ],
       [0.27744234],
       [0.12352583],
       [0.3853861 ],
       [0.12349644],
       [0.38321346],
       [0.15285844],
       [0.33150035],
       [0.1544292 ],
       [0.9955273 ],
       [0.5909305 ],
       [0.22374055],
       [0.86462414],
       [0.21065843],
       [0.17650223],
       [0.20928442],
       [0.23893479],
       [0.49134317],
       [0.6525883 ],
       [0.5864842 ],
       [0.74409074],
       [0.72951   ],
       [0.11425921],
       [0.12347096],
       [0.4410186 ],
       [0.22374153],
       [0.12353894],
       [0.39288056],
       [0.58748674],
       [0.22374153],
       [0.2712682 ],
       [0.11443794],
       [0.13077003],
       [0.9768989 ],
       [0.25404364],
       [0.39503613],
       [0.12565386],
       [0.12067008],
       [0.27591825],
       [0.16331738],
       [0.13431764],
       [0.5864842 ],
       [0.88833916],
       [0.43037748],
       [0.6170947 ],
       [0.26337782],
       [0.2376158 ],
       [0.14913419],
       [0.29185224],
       [0.12349856],
       [0.51028377],
       [0.92666715],
       [0.6631988 ],
       [0.3267713 ],
       [0.25390607],
       [0.12905613],
       [0.21825626],
       [0.1307593 ],
       [0.26448148],
       [0.22028261],
       [0.3778094 ],
       [0.98837566],
       [0.13593885],
       [0.84833074],
       [0.3319595 ],
       [0.2147102 ],
       [0.24437052],
       [0.68605494],
       [0.34727105],
       [0.22374055],
       [0.6548078 ],
       [0.12905982],
       [0.3913353 ],
       [0.19370946],
       [0.17761913],
       [0.22837415],
       [0.22374153],
       [0.25889182],
       [0.12065381],
       [0.1342434 ],
       [0.9999918 ],
       [0.12927711],
       [0.56744534],
       [0.22028261],
       [0.5539371 ],
       [0.2298016 ],
       [0.8110661 ],
       [0.87007415],
       [0.22450197],
       [0.27148253],
       [0.16251758],
       [0.75988495],
       [0.27739465],
       [0.8962071 ],
       [0.1235244 ],
       [0.1544292 ],
       [0.39581653],
       [0.01109156],
       [0.8475754 ],
       [0.8110661 ],
       [0.129127  ],
       [0.9811534 ],
       [0.40187794],
       [0.3032695 ],
       [0.5279522 ],
       [0.8619924 ],
       [0.2846565 ],
       [0.2501874 ],
       [0.993159  ],
       [0.2759577 ],
       [0.16051248],
       [0.9350963 ],
       [0.9987565 ],
       [0.30424178],
       [0.24407902],
       [0.25795025],
       [0.09058946],
       [0.1544292 ],
       [0.16409832],
       [0.3842892 ],
       [0.52577424],
       [0.20091754],
       [0.85714686],
       [0.1342372 ],
       [0.13694775],
       [0.18769583],
       [0.12663451],
       [0.4324341 ],
       [0.9383341 ],
       [0.18682393],
       [0.15453988],
       [0.10426328],
       [0.9825146 ],
       [0.17094046],
       [0.9486073 ],
       [0.13779286],
       [0.15282246],
       [0.9893091 ],
       [0.18034035],
       [0.9799535 ],
       [0.45121694],
       [0.37556097],
       [0.35870174],
       [0.24005821],
       [0.35757655],
       [0.58648175],
       [0.70934355],
       [0.5864842 ],
       [0.93607855],
       [0.40516913],
       [0.12353894],
       [0.9716705 ],
       [0.1104311 ],
       [0.12353894],
       [0.3055685 ]], dtype=float32)

In [80]:
mean_dnn=pd.DataFrame(dnn_mean)
median_dnn=pd.DataFrame(dnn_median)

In [85]:
for x,y in zip(mean_dnn[0], mean_dnn.index):
  if x > 0.5:
    mean_dnn.loc[y]=1
  else:
    mean_dnn.loc[y]=0
mean_dnn

       0
0    0.0
1    0.0
2    0.0
3    1.0
4    0.0
..   ...
413  1.0
414  0.0
415  0.0
416  1.0
417  0.0

[418 rows x 1 columns]

In [86]:
for x,y in zip(median_dnn[0], median_dnn.index):
  if x > 0.5:
    median_dnn.loc[y]=1
  else:
    median_dnn.loc[y]=0
median_dnn

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
413  0.0
414  1.0
415  0.0
416  0.0
417  0.0

[418 rows x 1 columns]

In [88]:
submission=pd.read_csv('./gender_submission.csv')
submission_mean=submission
submission_median=submission

In [89]:
submission_mean['Survived']=mean_dnn
submission_median['Survived']=median_dnn

In [93]:
submission_mean=submission_mean.astype(int)
submission_mean

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [94]:
submission_median=submission_median.astype(int)
submission_median

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [95]:
submission_mean.to_csv('./dnn_mean.csv',encoding='utf-8-sig',index=False)
submission_median.to_csv('./dnn_median.csv',encoding='utf-8-sig',index=False)